{{#if this.app_state.currentUser.modeling_only}}
  <div class='col-sm-10 col-sm-offset-1'>
    <h4>{{t "Modeling on Boards" key="modeling_on_boards"}}</h4>
  </div>
  <div class='col-sm-5 col-sm-offset-1'>
    <img src={{path "walkthrough/board_examples.gif"}} style='width: 100%;' >
  </div>
  <div class='col-sm-5'>
    <p class='prompt'>{{t "%app_name% comes with many different styles of boards. As you work with different communicators you may come across different board styles and layouts. Every communicator can benefit from having the supporters around them model how to use %app_name%" key="boards_1"}}</p>

    <p class='prompt'>{{t "Modeling is a great tool to language learning. Research has shown that AAC users who have people modeling for them have better success adopting and communicating using AAC." key="board_2"}}</p>

    <p class='prompt'>{{t "Modeling is easy! All you do is hit buttons on the screen as you talk to the communicator. Show them how they can use the buttons they have available to express themselves. Don't just model requests, model all kinds of different thoughts, ideas, observations, and questions! The more you model, the more examples you'ree giving the communicator for what you consider valid ways of using their device." key="board_3"}}</p>
  </div>
{{else if this.app_state.feature_flags.board_levels}}
  {{#if this.advanced}}
    <div class='col-sm-10 col-sm-offset-1'>
      <p>{{t "In %app_name% vocabulary lives on boards. Choose a board that fits your communicator. You can change the home board anytime." key="boards_explainer"}}</p>
    </div>
    {{board-picker include_mine=this.advanced_mine}}
  {{else if this.already_have_board}}
    <div class='col-sm-6 col-sm-offset-3' style='margin-top: 10px;'>
      <p>{{t "Next we'd be happy to help you set up a home board. It looks like you've already got one selected, so you can skip this step unless you'd like to set up a different home board" key="already_home_board"}}</p>
    </div>
    <div class='col-sm-2 col-sm-offset-5' style='margin-top: 10px;'>
      {{board-icon noinfo=true noop=true board=this.app_state.currentUser.preferences.home_board localized=true}}
    </div>
    <div class='col-sm-6 col-sm-offset-3' style='margin-top: 10px; text-align: center;'>
      <button class='btn btn-default' {{action "find_new_board"}}>{{t "Pick a Different Home Board" key="pick_a_different_home_board"}}</button>
    </div>

  {{else}}
    {{board-selection-tool loadError=(action "show_advanced") mine=(action "show_mine") advanced=(action "show_advanced") onSelect=(action "select_board") update_scroll=(action "update_scroll")}}
  {{/if}}
{{else}}
  <div class='col-sm-10 col-sm-offset-1'>
    <p class='prompt'>{{t "In %app_name% vocabulary lives on boards. Choose a board that fits your communicator. You can change the home board anytime." key="boards_explainer"}}</p>
  </div>
  {{board-picker}}
{{/if}}
