<div class='col-sm-12'>
  <h4>{{t "Logs and Notes" key="logs_and_notes"}}</h4>
</div>
<div class='col-sm-12'>
  <img src={{path "images/logs.png"}} alt="" style='width: 100%;' >
</div>
<div class='col-sm-12' style="margin-top: 16px;">
  <ul class="usage-checklist">
    <li class="usage-checklist__item">{{t "Every communication session is logged with details like words used, time of day, and session length." key="logs_1"}}</li>
    <li class="usage-checklist__item">{{t "Supervisors can review session history and add notes to share strategies and observations with the team." key="logs_2"}}</li>
    <li class="usage-checklist__item">{{t "Access your logs anytime from the Sessions link in the left panel or from your account page." key="logs_3"}}</li>
  </ul>
</div>
