<div style={{this.badge_container_style}}>
  <a href="#" {{action "badge_popup"}}>
    {{#if this.badge.image_url}}
      <img src={{this.badge.image_url}} style={{this.image_style}} onerror='button_broken_image(this)' data-fallback={{path "images/badge-fallback.png"}} >
    {{else}}
      <img src={{path "images/badge-fallback.png"}} style={{this.image_style}} onerror='button_broken_image(this)' data-fallback={{path "images/badge-fallback.png"}} >
    {{/if}}
    <div class="progress" style={{this.progress_container_style}}>
      <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow={{this.badge_progress}} aria-valuemin="0" aria-valuemax="100" style={{this.progress_style}}>
      </div>
    </div>
  </a>
</div>
