{{#modal-dialog action=(action "close") opening=(action "opening") closing=(action "closing")}}
  <div class="modal-header md-modal-header">
    <button type="button" class="la-modal-close" {{action "close"}} aria-label={{t "Close" key="close"}}>
      <svg width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><line x1="18" y1="6" x2="6" y2="18"/><line x1="6" y1="6" x2="18" y2="18"/></svg>
    </button>
    <h3>{{t "Board Copies" key="board_copies"}}</h3>
  </div>
  <div class="modal-body md-modal-body">
    <p>{{t "This board, %{board_key}, has been copied one or more times by either you or someone you supervise. To access one of those copies, find it below." key="copies_explanation" board_key=this.model.board.key}}</p>
    {{#if this.loading}}
      <p>{{t "Loading copies..." key="loading_copies"}}</p>
    {{else if this.error}}
      <p class='text-danger'>{{this.error}}</p>
    {{else}}
      <div class='list-group'>
        {{#each this.copies as |copy|}}
          <span class='list-group-item'>
            <span style="font-size: 16px; font-weight: bold;">
              <LinkTo @route="board" @model={{copy.key}}>{{copy.key}}</LinkTo>
            </span>
            <span class='text-muted'>
              {{t "by %{user_name}," key="by_user_plus_comma" user_name = copy.user_name}}
              {{date copy.created "day"}}
              {{copy.shortened_locale}}
            </span>
          </span>
        {{/each}}
      </div>
    {{/if}}
  </div>
  <div class="modal-footer md-modal-footer">
    <button {{action "close"}} class="btn btn-default">{{t "Close" key="close"}}</button>
  </div>
{{/modal-dialog}}
