<div class='col-sm-5 col-sm-offset-1'>
  <div class='setup_setting'>
    <label>{{t "Select a Category to Browse" key="browse_categories"}}</label>
    <div class="btn-group-vertical" style="width: 100%;">
      {{#each this.categories as |category|}}
        <a href="#" class={{if category.selected "btn btn-lg btn-primary" "btn btn-lg btn-default"}} {{action "set_category" category.id}}>{{category.name}}</a>
      {{/each}}
    </div>
  </div>
</div>
<div class='col-sm-5' style='padding-top: 50px;'>
  <div class={{if this.show_category_explainer "category_explainer full" "category_explainer"}}>
    {{#if this.category.robust}}
      <p>{{t "Rich vocabularies can feel like a lot at first—many communicators grow into them. Focus on what they can access; you can hide buttons and bring them back later. These sets offer core words, motor planning, or conversation, with room for personalization." key="robust_1"}}</p>
    {{else if this.category.cause_effect}}
      <p>{{t "New to AAC? Cause-and-effect boards teach that tapping buttons makes things happen. A fun way to build the access skills that lead to communication." key="cause_effect_1"}}</p>
    {{else if this.category.simple_starts}}
      <p>{{t "A small set of simple buttons can help some people get comfortable first. You can move to larger sets when it fits—everyone's path is different." key="simple_starts_1"}}</p>
    {{else if this.category.functional}}
      <p>{{t "Functional boards focus on everyday messages and can feel more intuitive, especially when just starting out." key="functional_1"}}</p>
    {{else if this.category.phrases}}
      <p>{{t "Phrase-based boards and your own recorded voice work well for high-stress moments or conditions like ALS. Use %app_name%'s recording tools to build a message bank." key="phrases_1"}}</p>
    {{else if this.category.keyboards}}
      <p>{{t "If spelling works well for them, keyboard boards with word prediction can speed things up. Many include quick phrases too." key="keyboards_1"}}</p>
    {{else if this.category.mine}}
      <p>{{t "Boards you've created, copied, or had shared with you." key="browse_mine"}}</p>
    {{/if}}
    {{#if this.category}}
      {{#if this.category_explainer_overflows}}
        <div class='more_link'>
          <a href="#" {{action "show_explainer"}}>{{t "more" key="more_lower"}}</a>
        </div>
      {{/if}}
    {{/if}}
  </div>
  {{#if this.category}}
    <div class="row">
      {{#if this.category_boards.loading}}
        <div class="col-xs-12">
          {{t "Loading boards..." key="loading_boards"}}
        </div>
      {{else if this.category_boards.error}}
        <div class="col-xs-12">
          {{t "Error loading boards" key="error_loading_boards"}}
        </div>
      {{else if this.category_boards.length}}
        {{#each this.category_boards as |board|}}
          {{#if board.key}}
            <div class="col-xs-4 simple_board_holder">
              {{board-icon board=board}}
            </div>
          {{/if}}
        {{/each}}
      {{else}}
        <div class="col-xs-12">
          {{t "None found" key="none_found"}}
        </div>
      {{/if}}
    </div>
  {{/if}}
</div>
