<section class="ub-boards-page__boards-section" aria-labelledby="{{this.headingId}}">
  <div class="ub-boards-page__boards-header">
    <div class="ub-boards-page__boards-header-left">
      <h2 id="{{this.headingId}}" class="ub-boards-page__boards-title">
        {{#if this.boardsCtrl.model.external_device}}
          {{t "%app_name% Boards in this Account:" key="boards_in_this_account"}}
        {{else}}
          {{t "Available Boards" key="available_boards_colon"}}
        {{/if}}
      </h2>
    </div>
    {{#if this.showNewBoard}}
      <button class="ub-boards-page__new-board-btn" {{action "newBoard"}}>
        <svg width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><line x1="12" y1="5" x2="12" y2="19"/><line x1="5" y1="12" x2="19" y2="12"/></svg>
        {{t "New Board" key="create_a_new_board"}}
      </button>
    {{/if}}
  </div>

  {{!-- Tab strip --}}
  <ul class="ub-boards-page__tabs" role="tablist">
    {{#if this.boardsCtrl.model.permissions.edit}}
      <li role="presentation" class={{if this.boardsCtrl.mine_selected "is-active"}}><a href="#" {{action "setSelected" "mine"}}>{{t "Mine" key="mine"}}</a></li>
    {{else if this.boardsCtrl.model.permissions.model}}
      <li role="presentation" class={{if this.boardsCtrl.mine_selected "is-active"}}><a href="#" {{action "setSelected" "mine"}}>{{t "Mine" key="mine"}}</a></li>
    {{/if}}
    {{#unless this.appState.currentUser.modeling_only}}
      <li role="presentation" class={{if this.boardsCtrl.public_selected "is-active"}}><a href="#" {{action "setSelected" "public"}}>{{t "Public" key="public"}}</a></li>
    {{/unless}}
    {{#if this.boardsCtrl.model.permissions.model}}
      <li role="presentation" class={{if this.boardsCtrl.root_selected "is-active"}}><a href="#" {{action "setSelected" "root"}}>{{t "Root" key="root"}}</a></li>
    {{/if}}
    {{#unless this.appState.currentUser.modeling_only}}
      <li role="presentation" class={{if this.boardsCtrl.starred_selected "is-active"}}><a href="#" {{action "setSelected" "starred"}}>{{t "Liked" key="starred"}}</a></li>
    {{/unless}}
    {{#unless this.appState.currentUser.modeling_only}}
      {{#if this.boardsCtrl.model.permissions.model}}
        <li role="presentation" class="dropdown {{if this.boardsCtrl.other_selected "is-active"}}">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            {{this.boardsCtrl.more_label}} <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            {{#if this.boardsCtrl.model.permissions.edit}}
              <li><a href="#" {{action "setSelected" "shared"}}>{{t "Shared with Me" key="shared_with_me"}}</a></li>
            {{/if}}
            {{#if this.boardsCtrl.model.prior_home_boards}}
              <li><a href="#" {{action "setSelected" "prior_home"}}>{{t "Prior Home Boards" key="prior_home"}}</a></li>
            {{/if}}
            {{#if this.boardsCtrl.model.permissions.edit}}
              <li><a href="#" {{action "setSelected" "private"}}>{{t "Private" key="private"}}</a></li>
            {{/if}}
            {{#each this.boardsCtrl.model.board_tags as |tag|}}
              <li><a href="#" {{action "setTag" tag}}>{{tag}}</a></li>
            {{/each}}
          </ul>
        </li>
      {{/if}}
    {{/unless}}
  </ul>

  {{!-- Board grid (Mine folders, filter, DnD) --}}
  <div class="ub-boards-page__boards-body">
    {{available-boards-section boardsCtrl=this.boardsCtrl filterInputId=this.filterInputId}}
  </div>
</section>
