{{#modal-dialog action=(action "close") opening=(action "opening") closing=(action "closing")}}
  <div class="la-button-stash-wrap">
  <div class="modal-header md-modal-header">
    <button type="button" class="la-modal-close" {{action "close"}} aria-label={{t "Close" key="close"}}>
      <svg width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><line x1="18" y1="6" x2="6" y2="18"/><line x1="6" y1="6" x2="18" y2="18"/></svg>
    </button>
    <h3>{{t "Button Stash" key="button_stash"}}</h3>
  </div>
  <div class="modal-body md-modal-body">
    {{#if this.button_stashes}}
      <p class="la-button-stash-desc">
        {{t "Select a stashed button from the list, then select the location on the board where you'd like it applied." key="select_stashed_button"}}
      </p>
      <div class="la-button-stash-grid">
        {{#each this.button_stashes as |button|}}
          <span class="stash_button_container" {{action "pickButton" button}}>
            <a href='#' style={{button.computed_style}} class={{button.computed_class}} data-id={{button.id}} tabindex="0">
              {{#if button.pending}}
                <div class="pending">
                  <img src={{path "images/spinner.gif"}} draggable='false' >
                </div>
              {{/if}}
              <div class={{button.action_class}}>
                <span class="action">
                  <img src={{button.action_image}} alt={{button.action_alt}} draggable='false' >
                </span>
              </div>
              <span class='img_holder' style={{button.image_holder_style}}>
                {{#unless this.appState.currentUser.hide_symbols}}
                  {{#unless button.board.text_only}}
                    {{#unless button.text_only}}
                      <img src={{button.local_image_url}} rel={{button.original_image_url}} draggable='false' onerror="button_broken_image(this);" style={{button.image_style}} class={{if button.hc_image "symbol hc" "symbol"}}>
                    {{/unless}}
                  {{/unless}}
                {{/unless}}
              </span>
              <div class={{if button.text_only this.text_only_button_symbol_class this.button_symbol_class}}>
                {{#if this.editModeNormalText}}
                  {{#if button.sound}}
                    <div class="sound_container">
                      <span class="glyphicon glyphicon-volume-up"></span>
                    </div>
                  {{/if}}
                  {{label-field value=button.label class="button-label" placeholder="enter label"}}
                  {{#if button.levels_list}}
                    <span class='levels' style='opacity: 0.7;'>{{button.levels_list}}</span>
                  {{/if}}
                {{else}}
                  {{#unless button.hide_label}}
                    <span class="button-label">{{button.label}}</span>
                  {{/unless}}
                {{/if}}
              </div>
            </a>
          </span>
        {{/each}}
      </div>
      <div style="clear: left;"></div>
    {{else}}
      <p class="la-button-stash-desc">
        {{t "Save buttons here to reuse or move them across boards. To add one, drag it onto the stash button or use Copy in the button's General settings." key="stash_explanation"}}
      </p>
    {{/if}}
  </div>
  <div class="modal-footer md-modal-footer">
    <a href="#" class="la-button-stash-close" {{action "close"}}>{{t "Close" key="close"}}</a>
  </div>
  </div>
{{/modal-dialog}}
