{{#modal-dialog action=(action "close") opening=(action "opening") closing=(action "closing")}}
  <div class="modal-header md-modal-header">
    <button type="button" class="la-modal-close" {{action "close"}} aria-label={{t "Close" key="close"}}>
      <svg width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><line x1="18" y1="6" x2="6" y2="18"/><line x1="6" y1="6" x2="18" y2="18"/></svg>
    </button>
    <h3>{{t "External Link" key="external_link"}}</h3>
  </div>
  <div class="modal-body md-modal-body">
    <p>
      {{this.model.url}}
    </p>
    <p>
      {{t "This button is configured to open the listed web page in a new browser tab. Do you want to continue?" key="open_in_new_tab"}}
    </p>
  </div>
  <div class="modal-footer md-modal-footer">
    <button class='btn btn-primary btn-lg' {{action "open_link"}}>{{t "Open the Link" key="open_link"}}</button>
    <button class='btn btn-default btn-lg' {{action "close"}}>{{t "Cancel" key="cancel"}}</button>
  </div>
{{/modal-dialog}}
