{{#if @parent.model.board.linked_boards}}
  <div class="btn-group dropup">
    <button class='btn md-modal-btn md-modal-btn--secondary dropdown-toggle' data-toggle="dropdown" aria-expanded="false">
      {{t "More Options" key="more_options"}} <span class="caret"></span>
    </button>
    <ul class="dropdown-menu md-modal-dropup" role="menu">
      {{#if @parent.home_board}}
        <li><a href="#" {{action "tweakBoard" "links_copy" target=@parent}}>{{t "Copy Board & All Linked Boards" key="copy_everything"}}</a></li>
      {{else if @parent.sidebar_board}}
        <li><a href="#" {{action "tweakBoard" "links_copy" target=@parent}}>{{t "Copy Board & All Linked Boards" key="copy_everything"}}</a></li>
      {{else if @parent.in_board_set}}
        <li><a href="#" {{action "tweakBoard" "links_copy" target=@parent}}>{{t "Copy Board & All Linked Boards" key="copy_everything"}}</a></li>
      {{else if @parent.in_sidebar_set}}
        <li><a href="#" {{action "tweakBoard" "links_copy" target=@parent}}>{{t "Copy Board & All Linked Boards" key="copy_everything"}}</a></li>
      {{else if @parent.linked}}
      {{else}}
        <li><a href="#" {{action "tweakBoard" "links_copy" target=@parent}}>{{t "Copy Board & All Linked Boards" key="copy_everything"}}</a></li>
      {{/if}}
      <li><a href="#" {{action "tweakBoard" "keep_links" target=@parent}}>{{t "Copy Board with Links" key="copy_as_is"}}</a></li>
      <li><a href="#" {{action "tweakBoard" "remove_links" target=@parent}}>{{t "Copy Board without Links" key="remove_links_while_copying"}}</a></li>
    </ul>
  </div>
{{else}}
  <button class='btn md-modal-btn md-modal-btn--secondary' {{action "tweakBoard" "keep_links" target=@parent}}>{{t "Copy Just This Board" key="copy_just_this_board"}}</button>
{{/if}}
