{{#modal-dialog action=(action "close") opening=(action "opening") closing=(action "closing")}}
  <div class="modal-header md-modal-header">
    <button type="button" class="la-modal-close" {{action "close"}} aria-label={{t "Close" key="close"}}>
      <svg width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><line x1="18" y1="6" x2="6" y2="18"/><line x1="6" y1="6" x2="18" y2="18"/></svg>
    </button>
    <h3>{{t "Copy Board" key="copy_board"}}</h3>
  </div>
  <div class="modal-body md-modal-body">
    {{#if this.error}}
      <p class="text-danger">{{this.error}}</p>
    {{else if this.loading}}
      <p>{{t "Loading..." key="loading"}}</p>
    {{else if this.hierarchy}}
      <p>{{t "Please choose the boards you would like copied. By default all are copied." key="choose_boards_to_copy"}}</p>
      {{board-hierarchy selectable=true hierarchy=this.hierarchy}}
      <button class='btn btn-primary' {{action "start_copying"}} disabled={{this.hierarchy.root_deselected}}>{{t "Copy Selected Boards" key="copy_selected_boards"}}</button>
    {{else}}
      <p><img src={{path "images/spinner.gif"}} style="float: left; padding-right: 15px;"> {{t "Copying the board <strong>%{board_key}</strong>,<br> this could take a few minutes..." key="copying_the_board" board_key=this.model.board.key}} </p>
    {{/if}}
  </div>
  <div class="modal-footer md-modal-footer">
    <a href="#" class="btn" {{action "close"}}>{{t "Close" key="close"}}</a>
  </div>
{{/modal-dialog}}
