<iframe style={{this.board_style}} frameborder='0' src={{this.embed_url}} tabindex='-1' id='integration_frame' data-code={{this.code}} data-user_token={{this.user_token}} title="Integration frame"></iframe>
<div id='integration_overlay' class='advanced_selection pending' style={{this.overlay_style}}>
  <div class='status'></div>
</div>
