{{#modal-dialog action=(action "close") opening=(action "opening") closing=(action "closing")}}
  <div class="modal-header md-modal-header">
    <button type="button" class="la-modal-close" {{action "close"}} aria-label={{t "Close" key="close"}}>
      <svg width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><line x1="18" y1="6" x2="6" y2="18"/><line x1="6" y1="6" x2="18" y2="18"/></svg>
    </button>
    <h3 class="md-modal-title">{{t "Logging is Enabled" key="logging_is_enabled"}}</h3>
  </div>
  <div class="modal-body md-modal-body" style="text-align: left;">
    <div class="md-modal-icon-row">
      <div class="md-modal-icon-circle">
        <svg width="28" height="28" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true">
          <polyline points="22 12 18 12 15 21 9 3 6 12 2 12" stroke="#46505f"/>
        </svg>
      </div>
    </div>

    <p class="md-modal-hint" style="font-weight: 600;">{{t "Please make sure the communicator understands why you are logging their communication, and get their permission before proceeding." key="check_logging_with_user_first"}}</p>

    <div class="md-modal-field">
      <p class="md-modal-hint">{{t "When you enable logging, information including buttons pressed, time of day, hardware characteristics like screen size and orientation are all <b>collected and stored in the cloud on your behalf</b>. Some of these reports use Google Charts to render anonymized information like buttons pressed per day and parts of speech frequency by type. This data is used to generate reports to help the support team track progress and set effective goals, and can be disabled at any time." key="logging_1"}}</p>
    </div>

    <div class="md-modal-field">
      <p class="md-modal-hint">{{t "To help support research in AAC, %app_name% uses <b>anonymized summaries of all logged usage information to share general trends with the community</b>. This includes summary data like popular core words, total session time and typical frequency of modeling. %app_name% also collaborates with research organizations by providing anonymized communication information from %app_name% users who have enabled anonymous research support. User profiles and identifiable information are not shared, but <b>the anonymized data may be published publicly</b>, and if you're not comfortable sharing this user's AAC communication with public researchers, you can opt out here or on the user's settings page. Note that inactive users who have opted in will not be deleted from our system for an extended period of time, to continue to provide support to researchers." key="logging_2"}}</p>
    </div>

    <div class="md-modal-field">
      <label class="md-modal-checkbox-label">
        <Input @type="checkbox" @checked={{this.research}} class="md-modal-checkbox" />
        <span>{{t "Share anonymized usage data with researchers and in community summary reports" key="allow_research"}}</span>
      </label>
    </div>

    {{#if this.research}}
      {{#if this.sessionUser.global_integrations}}
        <div class="md-modal-field">
          <h4 class="md-modal-section-title">{{t "Optional Research Details" key="optional_research_details"}}</h4>
          <p class="md-modal-hint">{{t "If you and the communicator are comfortable, you may provide additional information about the AAC user's specific situation. This information will be passed to third-party research groups through OpenAAC.org, and NOT stored on %app_name% servers or as part of the user's %app_name% profile." key="optional_resarch_details"}}</p>

          <div class="md-modal-field">
            <label for="research_primary_use" class="md-modal-label">{{t "Primary Reason for Using AAC" key="primary_reason_for_aac_user"}}</label>
            {{bound-select select_class="md-modal-select" select_id="research_primary_use" content=this.research_uses selection=this.research_use_selection_id action=(action "updateResearchUse")}}
            {{#if this.research_use_requires_other}}
              <div class="md-modal-field">
                <label for="research_primary_use_other" class="md-modal-label">{{t "Please specify (sent to researchers as entered)" key="research_primary_use_please_specify"}}</label>
                <Input @value={{this.research_use_other_spec}} class="md-modal-input" id="research_primary_use_other" />
              </div>
            {{/if}}
          </div>

          <div class="md-modal-field">
            <label for="research_age" class="md-modal-label">{{t "Current Age of the AAC User" key="current_age_of_aac_user"}}</label>
            {{bound-select select_class="md-modal-select" select_id="research_age" content=this.research_ages selection=this.research_age action=(action "updateResearchAge")}}
          </div>

          <div class="md-modal-field">
            <label for="research_experience" class="md-modal-label">{{t "Existng Experience with AAC" key="existing_experience_with_aac"}}</label>
            {{bound-select select_class="md-modal-select" select_id="research_experience" content=this.research_experiences selection=this.research_experience action=(action "updateResearchExperience")}}
          </div>
        </div>
      {{/if}}

      <div class="md-modal-field">
        <label class="md-modal-checkbox-label">
          <Input @type="checkbox" @checked={{this.publishing}} class="md-modal-checkbox" />
          <span>{{t "Allow anonymized logs to be included in public data sets for automated research and analysis" key="allow_publishing"}}</span>
        </label>
      </div>
    {{/if}}

    <div class="md-modal-field">
      <p class="md-modal-hint">{{t "Additionally, if you'd like, %app_name% can track GPS data to provide better insights into how user communication changes based on location. All logging data can be manually cleared from the system from a user's Preferences page. If you would like to opt-out of aggregate data collection or disable %app_name% administrators from seeing your logs while troubleshooting you can choose \"Completely Restrict Log Access\" on the user's Preferences" key="logging_3"}}</p>
    </div>

    <div class="md-modal-field">
      <label class="md-modal-checkbox-label">
        <Input @type="checkbox" @checked={{this.model.user.preferences.geo_logging}} class="md-modal-checkbox" />
        <span>{{t "Include geolocation in logs" key="include_geolocation"}}</span>
      </label>
    </div>
  </div>
  <div class="modal-footer md-modal-footer">
    <button class="btn md-modal-btn md-modal-btn--cancel" {{action "close"}}>{{t "Close" key="close"}}</button>
  </div>
{{/modal-dialog}}
