<div class="la-feature-icon {{this.iconClass}}">{{this.icon}}</div>
<h3>{{t this.titleText key=this.titleKey}}</h3>
<p class="la-feature-catchphrase">{{t this.catchphraseText key=this.catchphraseKey}}</p>
<div class="la-feature-detail {{if this.expanded 'la-feature-detail--visible'}}">
  {{yield}}
</div>
<button class="la-feature-toggle" {{action "toggleExpand"}} aria-expanded="{{this.expanded}}" type="button">
  {{#if this.expanded}}
    {{t "Show less" key='show_less'}}
    <span class="la-feature-toggle-icon" aria-hidden="true">&#9650;</span>
  {{else}}
    {{t "Learn more" key='learn_more'}}
    <span class="la-feature-toggle-icon" aria-hidden="true">&#9660;</span>
  {{/if}}
</button>
