{{#modal-dialog action=(action "close") opening=(action "opening") closing=(action "closing")}}
  <div class="modal-header md-modal-header">
    <button type="button" class="la-modal-close" {{action "close"}} aria-label={{t "Close" key="close"}}>
      <svg width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><line x1="18" y1="6" x2="6" y2="18"/><line x1="6" y1="6" x2="18" y2="18"/></svg>
    </button>
    <h3>
      {{t "Importing Logs" key="importing_logs"}}
    </h3>
  </div>
  <div class="modal-body md-modal-body">
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-value={{this.num_percent}} aria-valuemin="0" aria-valuemax="100" style={{this.num_style}}>
        <span class="sr-only">
          {{t "%{pct}% Complete" key="percent_complete" pct=this.num_percent}}
        </span>
      </div>
    </div>
    <p>
      {{#unless this.model.status.errored}}
        <img src={{path "images/spinner.gif"}} style="float: left; padding-right: 15px;">
      {{/unless}}
      {{#if this.model.status.errored}}
        {{t "There was an error importing your logs. Please make sure you uploaded a valid file and try again." key="bad_logs_import"}}
      {{else}}
        {{#if this.model.status.finished}}
          {{t "Import finished!" key="import_board_finished"}}
        {{else}}
          {{t "Importing logs, this could take a few minutes..." key="importing_logs_please_wait"}}
        {{/if}}
      {{/if}}
    </p>
  </div>
  <div class="modal-footer md-modal-footer">
    <a href="#" class="btn" {{action "close"}}>{{t "Close" key="close"}}</a>
  </div>
{{/modal-dialog}}
