<span class="la-footer__mobile">
  <button class="la-topbar-hamburger la-footer__hamburger" type="button" aria-label={{t "Open menu" key="fsa_open_menu"}} aria-expanded={{this.isDrawerOpen}} {{action "toggleDrawer"}}>
    <span class="la-topbar-hamburger__bar"></span>
    <span class="la-topbar-hamburger__bar"></span>
    <span class="la-topbar-hamburger__bar"></span>
  </button>
  <LaMobileDrawer @isOpen={{this.isDrawerOpen}} @onClose={{action "closeDrawer"}}>
    {{yield (hash closeDrawer=(action "closeDrawer"))}}
  </LaMobileDrawer>
</span>
