{{#if @isOpen}}
  <div class="la-mobile-drawer">
    <div class="la-mobile-drawer__backdrop" {{action @onClose}} role="button" tabindex="0" aria-label={{t "Close" key="close"}}></div>
    <div class="la-mobile-drawer__panel">
      <button class="la-mobile-drawer__close" type="button" aria-label={{t "Close menu" key="fsa_close_menu"}} {{action @onClose}}>&times;</button>
      {{yield}}
    </div>
  </div>
{{/if}}
