{{#if this.license.type}}
  {{#if this.license.copyright_notice_url}}
    {{#if this.private_license}}
      <a href={{this.license.copyright_notice_url}} target="_blank" rel="noopener">{{t "All rights reserved" key="all_rights_reserved"}}</a>
    {{else}}
      <a href={{this.license.copyright_notice_url}} target="_blank" rel="noopener">{{this.license.type}}</a>
    {{/if}}
  {{else}}
    {{#if this.protected_license}}
      {{t "Protected content" key="protected_content"}}
    {{else if this.private_license}}
      {{t "All rights reserved" key="all_rights_reserved"}}
    {{else}}
      {{this.license.type}}
    {{/if}}
  {{/if}}
  {{#if this.license.author_name}}
    {{t " by " key="by_padded"}}
    {{#if this.license.author_url}}
      <a href={{this.license.author_url}} target="_blank" rel="noopener">{{this.license.author_name}}</a>
    {{else}}
      {{#if this.license.author_email}}
        <a href="mailto:{{this.license.author_email}}">{{this.license.author_name}}</a>
      {{else}}
        {{this.license.author_name}}
      {{/if}}
    {{/if}}
  {{/if}}
  {{#if this.license.source_url}}
    (<a href={{this.license.source_url}} target="_blank" rel="noopener">{{t "source" key="source_lower"}}</a>)
  {{/if}}
{{else}}
  {{t "Unspecified, assume all rights reserved." key="unspecified_all_rights"}}
{{/if}}
