  <div class="login-card">
  {{#if this.prompt}}
    <p>{{t "You may need to log in to access this information" key="login_needed"}}</p>
  {{/if}}
    {{#if this.login_followup}}
      {{#if this.login_followup_already_long_token}}
        <h2>{{t "Approve This Device" key="approve_this_device"}}</h2>
        <p>{{t "Currently this device is set to log out after a short period of inactivity. Would you like to change this?" key="confirm_device_long_token_with_long_token"}}</p>
      {{else}}
        <h2>{{t "Activate New Device" key="activate_new_device"}}</h2>
        <p>{{t "It looks like you haven't logged in before on this device. How would you like to proceed?" key="confirm_device_long_token"}}</p>
      {{/if}}
      <button {{action "login_followup" true}} class={{if this.browserless "login-btn" "login-btn login-btn--outline"}} style='width: 100%;'><div style='font-size: 25px;'>{{t "Trust this Device" key="trust_this_device"}}</div>{{t "Keep me logged in" key="keep_me_logged_in"}}</button>
      <button {{action "login_followup" false}} class='login-btn login-btn--outline' style='width: 100%; margin-top: 10px;'><div style='font-size: 25px;'>{{t "This is a Shared Device" key="not_trust_this_device"}}</div>{{t "Log me out after a period of inactivity" key="log_me_out_when_inactive"}}</button>
    {{else if this.login_single_assertion}}
      <h2>{{t "Approve This Device" key="approve_this_device"}}</h2>
      <p>{{t "This account is only allowed to log in to one dedicated device at a time. If you log in on this device it will force a log out on your other device. How would you like to proceed?" key="confirm_device_force_logout"}}</p>
      <button {{action "login_force_logut" true}} class='login-btn login-btn--outline' style='width: 100%;'><div style='font-size: 25px;'>{{t "Log In on this Device" key="log_in_on_this_device"}}</div>{{t "Any other device will be logged out" key="other_device_logged_out"}}</button>
      <button {{action "login_force_logut" false}} class='login-btn login-btn--outline' style='width: 100%; margin-top: 10px;'><div style='font-size: 25px;'>{{t "Never Mind, Don't Log In" key="do_not_log_in"}}</div>{{t "Keep me logged in on the other device" key="keep_logged_in"}}</button>
    {{else if this.prompt_2fa}}
      <h2>{{t "Confirm Login" key="confirm_login"}}</h2>
      {{#if this.prompt_2fa.uri}}
        <p>{{t "Your account requires two-factor authentication. Please scan the QR code in your authenticator app and enter the generated code to continue." key="required_code_for_2fa"}}</p>
        {{qr-code text=this.prompt_2fa.uri size=300}}
      {{else}}
        <p>{{t "Please enter the confirmation code provided by your two-factor authentication app:" key="enter_2fa_code"}}</p>
      {{/if}}
      <div class="form-group">
        <Input @type="number" class="form-control" @value={{this.code_2fa}} placeholder="# # # # # #" style="text-align: center;" />
      </div>
      <button {{action "confirm_2fa"}} disabled={{this.status_2fa.loading}} class='login-btn' style='width: 100%;'>
        <div style='font-size: 20px;'>
          {{#if this.status_2fa.loading}}
            {{t "Checking..." key="checking"}}
          {{else if this.status_2fa.error}}
            {{t "Code not Accepted" key="code_not_accepted"}}
          {{else if this.status_2fa.confirmed}}
            {{t "Confirmed!" key="confirmed"}}
          {{else}}
            {{t "Confirm Login" key="confirm_login"}}
          {{/if}}
        </div>
      </button>
    {{else if this.stashes.enabled}}
      <h2>{{t "Sign In to %app_name%" key="sign_in_to_app"}}</h2>
      <div class="login-card__divider" aria-hidden="true"></div>
      <form {{action "authenticate" on="submit"}} autocomplete="off" id="login_form">
          {{#unless this.prompt}}
          {{#unless this.force_logout}}
            {{#if this.app_state.feature_flags.emergency_boards}}
              <div style='font-size: 14px; text-align: right; margin-bottom: 10px; margin-top: -10px;'>
                <LinkTo @route="offline_boards"><span style='color: #3d8053;'>{{t "basic access" key="critical_access_lower"}}</span></LinkTo>
              </div>
            {{/if}}
          {{/unless}}
        {{/unless}}
        <div class="form-group">
          <label for="identification">{{t "Username" key="username"}}</label>
          {{lowercase-text-field id="identification" class="form-control touchy" value=this.identification placeholder="username" autocomplete="username"}}
        </div>
        <div class="form-group">
          <label for="password">{{t "Password" key="password"}}</label>
          <Input @type="password" id="password" class="form-control touchy" @value={{this.password}} placeholder="password" autocomplete="current-password" />
        </div>
        {{#unless this.browserless}}
          <div class="form-group" style='display: none;'>
            <div class="checkbox big_checkbox">
              <label>
                <Input @type="checkbox" @checked={{this.long_token}} id="long_token" />
                Keep me logged in on this device
              </label>
            </div>
          </div>
        {{/unless}}
        {{#if this.login_error}}
          <div class="login-error">
            {{ this.login_error }}
          </div>
        {{/if}}
        <div class="form-group">
          <button type="submit" class='login-btn' disabled={{this.noSubmit}}>
            {{#if this.noSecret}}
              {{#if this.requesting}}
                <span class="glyphicon glyphicon-refresh spinning"></span>
              {{/if}}
              {{#if this.checking_for_secret}}
                {{t "Initializing..." key="initializing"}}
              {{else}}
                {{#if (persistence-online)}}
                  <span style='font-size: 14px;'>{{t "Can't Reach %app_name% Cloud,<br>Check Your Signal Quality" key="cant_reach_app"}}</span>
                {{else}}
                  {{t "Not Online" key="not_connected"}}
                {{/if}}
              {{/if}}
            {{else}}
              {{#if this.redirecting}}
                {{t "Redirecting..." key="redirecting_upper"}}
              {{else if this.logging_in}}
                {{t "Signing In..." key="logging_in"}}
              {{else}}
                {{#if this.logged_in}}
                  {{t "Success! One Moment..." key="success"}}
                {{else}}
                  {{t "Sign In" key="login"}}
                {{/if}}
              {{/if}}
            {{/if}}
          </button>
          {{#if this.force_logout}}
            <button type='button' class='login-btn login-btn--outline' style='margin-top: 10px;' {{action "logout"}}>{{t "Log Out" key="log_out"}}</button>
          {{/if}}
          <div class="login-links">
            {{#if this.force_logout}}<br>{{/if}}
            {{#if this.app_state.no_linky}}
              <LinkTo @route="forgot_login">{{t "need help?" key="forgot_login"}}</LinkTo>
            {{else}}
              <LinkTo @route="forgot_password">{{t "forgot password" key="forgot_password_lower"}}</LinkTo>
              {{#if this.app_state.domain_settings.full_domain}}
                |
                <span style="color: #000;">{{t "Don't have an account?" key="dont_have_account"}}</span>
                <LinkTo @route="register">{{t "sign up" key="sign_up_lower"}}</LinkTo>
              {{/if}}
            {{/if}}
          </div>
        </div>
      </form>
    {{else}}
      <h2>{{t "Can't Log In" key="cant_login"}}</h2>
      <p>
        <span class="glyphicon glyphicon-exclamation-sign"></span>
        {{t "The privacy settings on your browser are preventing %app_name% from fully functioning, so login and registration are temporarily disabled. %app_name% uses browser storage for things like user identity, offline support and performance improvements." key="privacy_wont_work"}}
      </p>
      <p>
        <a href="https://lingolinq.zendesk.com/hc/en-us/articles/202007575" target="_blank" rel="noopener">
          {{t "Learn more about configuring your browser to run %app_name%" key="learn_privacy"}}
        </a>
      </p>
    {{/if}}
  </div>
