<nav class="nav-bar" role="navigation" aria-label={{t "Main navigation" key='nav_bar_main_navigation'}}>
  <div class="nav-bar__brand">
    {{app-logo
      size="auto"
      showName=true
      nameStyle="branded"
      linkRoute="index"
      imgAlt="LingoLinq"
      imgClass="nav-bar__logo-img"
      class="nav-bar__logo-link"
    }}
  </div>

  <div class="nav-bar__content">
    {{yield}}
  </div>

  <div class="nav-bar__right">
    {{#if this.app_state.currentUser}}
      <span class="nav-bar__avatar-wrap">
        <img src={{this.app_state.currentUser.avatar_url_with_fallback}} class="nav-bar__avatar" alt={{t "User menu" key='nav_bar_user_menu'}}>
      </span>
    {{else}}
      <LinkTo @route="login" class="nav-bar__login-btn">{{t "Sign In" key='login'}}</LinkTo>
    {{/if}}
  </div>
</nav>
