{{#modal-dialog action=(action "close") opening=(action "opening") closing=(action "closing")}}
  <div class="modal-header md-modal-header">
    <button type="button" class="la-modal-close" {{action "close"}} aria-label={{t "Close" key="close"}}>
      <svg width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><line x1="18" y1="6" x2="6" y2="18"/><line x1="6" y1="6" x2="18" y2="18"/></svg>
    </button>
    <h3><span class='glyphicon glyphicon-lamp'></span> {{t "Communication Profiles for %{un}" un=this.model.user.user_name key="communication_profiles_for"}}
    </h3>
  </div>
  <div class="modal-body md-modal-body">
    {{#if this.model.profile_id}}
      <div>
        {{#if this.profile.loading}}
          {{t "Loading profile details..." key="loading_profile_details"}}
        {{else if this.profile.error}}
          {{t "Error loading profile details" key="error_loading_profile_details"}}
        {{else}}
          <h3 style='margin-top: 0;'>{{this.profile.name}}</h3>
        {{/if}}
      </div>
      {{#if this.profile.date}}
        <div style='margin: 10px 0 20px;'>
          <button type="button" {{action "review_profile" this.profile.log_id}} class={{if this.profile.summary "profile_modal_circle single_row" "profile_modal_circle"}} style={{this.profile.circle_style}}>
            {{#if this.profile.summary}}
              {{this.profile.summary}}
            {{else}}
              {{date this.profile.date "tiny_day"}}
            {{/if}}
          </button>
          {{#if this.profile.author}}
            {{t "completed by <b>%{un}</b>" un=this.profile.author.user_name key="completed_by_user"}}
          {{/if}}
          <div style='font-style: italic; margin-left: 30px;'>{{date this.profile.date}}</div>
          <button type="button" class="md-link-btn" {{action "review_profile" this.profile.log_id}}>{{t "review details" key="review_details"}}</button>
        </div>
        {{#if this.profile.priors}}
          Additional profiles:<br>
          <div style='margin-left: 15px; color: #888;'>
            {{#each this.profile.priors as |prior|}}
              {{date prior.date}}<br>
            {{/each}}
          </div>
        {{/if}}
      {{else if this.profile.name}}
        <div style='margin: 20px 0;'>
          {{t "No data recorded for this profile type" key="no_data_for_profile_type"}}
        </div>
      {{/if}}
      <div style='margin-top: 20px;'>
        <button type="button" class="md-link-btn" {{action "clear_profile"}}>{{t "See other profile results" key="see_other_profile_results"}}</button>
      </div>
    {{else}}
      {{#if this.profiles.loading}}
        <p>{{t "Loading profile data..." key="loading_profile_data"}}</p>
      {{else if this.profiles.error}}
        <p>{{t "Error loading profile data" key="error_loading_profile_data"}}</p>
      {{else if this.profiles}}
        {{#unless this.any_recorded}}
          <p>{{t "Communication Profiles are evaluation tools that can be used to assess or monitor a user's communication development. Profiles can target communicators or the people who work with them, and can be run multiple times. They can help with deciding on appropriate goals for a user and can help teams coordinate on effective strategies for support." key="profiles_explainer"}}</p>
          <p>{{t "NOTE: Profiles should always be run with the user's involvement, even if their participation may be limited. Also, profiles should never be used as \"proof\" that someone shouldn't receive full communication supports or age-appropriate learning experiences." key="profiles_explainer_2"}}</p>
        {{/unless}}
        <table>
          <tbody>
            {{#each this.profiles as |prof|}}
              <tr style='border-bottom: 1px solid #ccc;'>
                {{#if prof.date}}
                  <td style='height: 80px;'>
                    <button type="button" {{action "review_profile" prof.log_id}} class={{if prof.summary "profile_modal_circle single_row" "profile_modal_circle"}} style={{prof.circle_style}}>
                      {{#if prof.summary}}
                        {{prof.summary}}
                      {{else}}
                        {{date prof.date "tiny_day"}}
                      {{/if}}
                    </button>
                  </td>
                  <td style='width: 100%;'>
                    <div style='font-size: 16px; font-weight: bold;'>{{prof.name}}</div>
                    <div style='font-style: italic;'>{{prof.author.user_name}} {{date prof.date}}</div>
                  </td>
                  <td style='padding: 0 5px;'>
                    <button {{action "review_profile" prof.log_id}} class='btn btn-default'>{{t "review" key="review"}}</button>
                  </td>
                  <td style='padding: 0 5px;'>
                    <button {{action "run_profile" prof.id}} class={{prof.button_class}} style='width: 90px;'>{{t "repeat" key="repeat"}}</button>
                  </td>
                {{else}}
                  <td style='height: 80px;'>
                    <button type="button" {{action "review_profile"}} class='profile_modal_circle single_row' style='opacity: 0.8;' aria-label={{t "No profile data" key="no_profile_data"}}>
                      -
                    </button>
                  </td>
                  <td style='width: 100%;'>
                    <div style='font-size: 16px; font-weight: bold;'>{{prof.name}}</div>
                    <div style='font-style: italic; max-width: 275px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;'>{{prof.description}}</div>
                  </td>
                  <td style='padding: 0 5px;'>
                  </td>
                  <td style='padding: 0 5px;'>
                    <button {{action "run_profile" prof.id}} class={{prof.button_class}} style='width: 90px;'>{{t "run" key="run"}}</button>
                  </td>
                {{/if}}
              </tr>
            {{/each}}
          </tbody>
        </table>
        <div class='row' style='margin: 15px 0;'>
          <div class='col-sm-5' style='padding-right: 0;'>
            <label for="find_profile_id" class="sr-only">{{t "Look up profile by ID" key="find_profile_id_label"}}</label>
            <Input id="find_profile_id" type="text" class="form-control" @enter={{action "lookup"}} @value={{this.find_profile_id}} placeholder="Look up profile by ID" />
          </div>
          <div class='col-sm-3' style='padding-left: 3px;'>
            <button class='btn btn-default' {{action "lookup"}}>{{t "Go" key="go"}}</button>
            <button class='btn btn-default' {{action "browse"}}>{{t "Browse" key="browse"}}</button>
          </div>
        </div>
        {{#if this.lookup_state}}
          <div style='margin-top: -10px; font-style: italic; margin-left: 20px;'>
            {{#if this.lookup_state.loading}}
              {{t "Loading profile..." key="loading_profile"}}
            {{else if this.lookup_state.error}}
              {{t "Error loading profile" key="error_loading_profile"}}
            {{else}}
              {{t "No results found" key="no_results_found"}}
            {{/if}}
          </div>
        {{else if this.browse_state}}
          <div style='margin-top: -10px; font-style: italic; margin-left: 20px;'>
            {{#if this.browse_state.loading}}
              {{t "Loading profiles..." key="loading_profiles"}}
            {{else if this.browse_state.error}}
              {{t "Error loading profiles" key="error_loading_profiles"}}
            {{else}}
              <table>
                <tbody>
                  {{#each this.browse_state.list as |prof|}}
                    <tr style='border-bottom: 1px solid #ccc;'>
                      <td style='width: 100%; padding: 25px 0;'>
                        <div style='font-size: 16px; font-weight: bold;'>{{prof.name}}</div>
                        <div style='font-style: italic; overflow: hidden; max-height: 100px; text-overflow: ellipsis;'>{{prof.description}}</div>
                      </td>
                      <td style='padding: 0 5px;'>
                      </td>
                      <td style='padding: 0 5px;'>
                        <button {{action "run_profile" prof.id}} class='btn btn-lg btn-default' style='width: 90px;'>{{t "run" key="run"}}</button>
                      </td>
                    </tr>
                  {{/each}}
                </tbody>
              </table>
            {{/if}}
          </div>
        {{/if}}
      {{else}}
        {{t "No data available" key="no_data_available"}}
      {{/if}}
    {{/if}}
  </div>
  <div class="modal-footer md-modal-footer">
    {{#if this.profile.date}}
      <button {{action "review_profile" this.profile.log_id}} class='btn btn-lg btn-default'>{{t "Review Results" key="review_profile"}}</button>
    {{/if}}
    {{#if this.model.profile_id}}
      <button {{action "run_profile" this.model.profile_id}} class={{this.repeat_button_class}}>
        {{#if this.profile.date}}
          {{t "Repeat Profile" key="repeat_profile"}}
        {{else}}
          {{t "Run Profile" key="run_profile"}}
        {{/if}}
      </button>
    {{/if}}
    <button class='btn btn-default btn-lg' {{action "close"}}>{{t "Close" key="close"}}</button>
  </div>
{{/modal-dialog}}
