{{#modal-dialog action=(action "close") opening=(action "opening") closing=(action "closing")}}
  {{#opening-observer opening=(action "opening")}}{{/opening-observer}}
  <div class="modal-body md-modal-body" style="padding: 0; font-size: 18px;">
    <div class="modal-header md-modal-header">
      <button type="button" class="la-modal-close" {{action "close"}} aria-label={{t "Close" key="close"}}>
      <svg width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><line x1="18" y1="6" x2="6" y2="18"/><line x1="6" y1="6" x2="18" y2="18"/></svg>
    </button>
      <h3>{{t "PIN Required" key="pin_required"}}</h3>
    </div>
    <div class="modal-body md-modal-body" style="text-align: center;">
      <table class="table table-bordered advanced_selection" id="pin"><tbody>
        <tr>
          <td><button type="button" {{action "add_digit" "1" on="select"}}>1</button></td>
          <td><button type="button" {{action "add_digit" "2" on="select"}}>2</button></td>
          <td><button type="button" {{action "add_digit" "3" on="select"}}>3</button></td>
        </tr>
        <tr>
          <td><button type="button" {{action "add_digit" "4" on="select"}}>4</button></td>
          <td><button type="button" {{action "add_digit" "5" on="select"}}>5</button></td>
          <td><button type="button" {{action "add_digit" "6" on="select"}}>6</button></td>
        </tr>
        <tr>
          <td><button type="button" {{action "add_digit" "7" on="select"}}>7</button></td>
          <td><button type="button" {{action "add_digit" "8" on="select"}}>8</button></td>
          <td><button type="button" {{action "add_digit" "9" on="select"}}>9</button></td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td><button type="button" {{action "add_digit" "0" on="select"}}>0</button></td>
          <td>&nbsp;</td>
        </tr>
      </tbody></table>
      {{#if this.invalid_pin}}
        <p class="text-danger">{{t "Invalid PIN. Try again!" key="invalid_pin_try_again"}}</p>
      {{/if}}
      <input type="text" class="form-control" value={{this.pin_dots}} rel={{this.pin}} style="font-size: 50px; height: 55px; text-align: center; line-height: 20px; padding-top: 0;">
    </div>
    <div class="modal-footer md-modal-footer">
      {{#unless this.model.hide_hint}}
        {{#if this.show_pin}}
          PIN: {{ this.model.actual_pin }}
        {{else}}
          <a href="#" {{action "reveal_pin" on="click"}}>touch here to show the PIN</a>
        {{/if}}
      {{/unless}}
    </div>
  </div>
{{/modal-dialog}}
