<header class="md-hero md-hero--dashboard md-hero--dashboard-user">
  <h1 class="md-hero__title"><span class="md-hero__title--from-left">{{t "My Account" key="my_account"}}</span></h1>
  <p class="md-hero__sub"><span class="md-hero__sub--from-right">{{t "View your account" key="account_sub_pre"}} <em class="md-hero__gradient-text">{{t "details" key="account_sub_em"}}</em></span></p>
</header>
<div class="md-user-summary">
  <header class="md-hero md-hero--user">
    <div class="md-hero--user__avatar-wrap">
      <img src={{this.model.avatar_url_with_fallback}} alt="" class="md-hero--user__avatar">
      {{#if this.model.online}}
        <div title={{t "currently online" key="currently_online"}} class="online_marker"></div>
      {{/if}}
      <div class="md-hero--user__status-card">
        <span class="md-hero--user__status-label">{{t "Status" key="status"}}</span>
        {{#if this.model.public}}
          <span class="ub-boards-page__badge ub-boards-page__badge--public">{{t "public" key="public_lower"}}</span>
        {{else}}
          <span class="ub-boards-page__badge ub-boards-page__badge--private">{{t "private" key="private_lower"}}</span>
        {{/if}}
      </div>
    </div>
    <div class="md-hero--user__body">
      <div class="md-hero--user__name-row">
        <h1 class="md-hero--user__name">{{this.model.name}}</h1>
        <span class="md-hero--user__detail-sep" aria-hidden="true"></span>
        <span class="md-hero--user__username">{{this.model.user_name}}</span>
      </div>
      <div class="md-hero--user__details">
        {{#if this.model.description}}
          <span class="md-hero--user__meta">{{this.model.description}}</span>
        {{/if}}
      </div>
      {{#if this.model.location}}
        <div class="md-hero--user__location-row">
          <span class="md-hero--user__meta">{{this.model.location}}</span>
        </div>
      {{/if}}
      <hr class="md-hero--user__divider" aria-hidden="true">
      <div class="md-hero--user__below-divider">
        {{#if this.model.permissions.edit}}
          <a href="#" {{action "setup"}} class="md-hero--user__wizard-btn">{{t "Launch the Getting Started Wizard Again" key="launch_setup"}}</a>
        {{/if}}
      </div>
      {{#if this.model.details_url}}
        <p class="md-hero--user__url"><a href={{this.model.details_url}} target="_blank" rel="noopener">{{this.model.details_url}}</a></p>
      {{/if}}
    </div>
  </header>
  <hr class="md-user-summary__page-divider" aria-hidden="true">
  <div class="md-user-summary__quick-pills">
    <LinkTo @route="user.subscription" @model={{this.model.user_name}} class="md-user-summary__quick-pill">{{t "My Subscription" key="my_subscription"}}</LinkTo>
    <LinkTo @route="user.recordings" @model={{this.model.user_name}} class="md-user-summary__quick-pill">{{t "Recordings" key="recordings"}}</LinkTo>
    <LinkTo @route="user.goals" @model={{this.model.user_name}} class="md-user-summary__quick-pill">{{t "My Goals" key="goals"}}</LinkTo>
  </div>
{{#if this.model.permissions.view_detailed}}
  {{#if this.model.permissions.delete}}
    {{#if this.model.pending_org}}
      <div class='alert alert-info'>
        {{t "%{org} wants to support this user as part of their organization. This addition must be approved before it is complete. If approved, the organization will have access to profile information for this user." key="confirm_pending_org2" org=this.model.pending_org.name}}
        {{#if this.model.pending_org.sponsored}}
          {{t "The organization will also sponsor this account, meaning it will be free as long as the organization remains a sponsor." key="org_sponsored"}}
        {{/if}}
        <br><br>
        <button class="btn btn-default" {{action "approve_or_reject_org" "user_approve"}}>{{t "Approve %{org}" org=this.model.pending_org.name}}</button>
        <button class="btn btn-default" {{action "approve_or_reject_org" "user_reject"}}>{{t "Deny Access"}}</button>
      </div>
    {{else if this.model.pending_supervision_org}}
      <div class='alert alert-info'>
        {{t "%{org} wants to add you as a supervisor to their organization. Organization admins will be able to see your basic profile information, including the communicators in the organization that you are currently supervising." key="confirm_pending_supervision_org" org=this.model.pending_supervision_org.name}}
        <br><br>
        <button class="btn btn-default" {{action "approve_or_reject_org" "supervisor_approve"}}>{{t "Approve %{org}" org=this.model.pending_supervision_org.name}}</button>
        <button class="btn btn-default" {{action "approve_or_reject_org" "supervisor_reject"}}>{{t "Deny Access"}}</button>
      </div>
    {{else if this.model.pending}}
      <div class='alert alert-success'>
        {{t "Welcome to %app_name%! Watch for an email from us in your inbox. You'll need to confirm registration within seven days of registering or your account will be disabled." key="welcome_remember_confirm"}}
        {{#if this.resentConfirmation}}
          {{t "Confirmation Email Sent!" key="confirmation_sent"}}
        {{else}}
          <a href="#" class="alert-link" {{action "resendConfirmation"}}>{{t "Re-Send Confirmation Email" key="re_send_confirmation"}}</a>
        {{/if}}
      </div>
    {{else if this.model.expired}}
      {{#if this.app_state.feature_flags.subscriptions}}
        <div style='margin-bottom: 10px;'>
          <span class="glyphicon glyphicon-info-sign" style="font-size: 20px; vertical-align: middle;"></span>
          <LinkTo @route="user.subscription" @model={{this.model.user_name}}>
          {{t "This user's free preview has ended. Please purchase a premium account." key="this_user_needs_to_subscribe"}}
          </LinkTo>
        </div>
      {{/if}}
    {{else}}
    {{/if}}
  {{/if}}
  <div class="row big_buttons">
    {{#if this.app_state.currentUser.preferences.new_index}}
      <div class='col-sm-3 col-xs-6 big_button_holder'>
        {{#if this.model.external_device}}
          <a href="#" {{action "external_device"}} class="btn simple_board_icon btn-default">
            {{#if this.model.external_device.size}}
              <span style='position: absolute; top: 10px; right: 10px; width: 50px; height: 50px; border-radius: 50px; border: 2px solid #ccc; background: rgba(255, 255, 255, 0.7); color: #777; padding-top: 5px; z-index: 2;'>
                {{this.model.external_device.size}}
              </span>
            {{/if}}
            {{#if this.model.device_image.device_url}}
              {{#if this.model.device_image.vocab_url}}
                <img src={{this.model.device_image.device_url}} onerror="button_broken_image(this);" style='position: absolute; top: 0px; left: 0px; width: 50%;'>
                <img src={{this.model.device_image.vocab_url}} onerror="button_broken_image(this);" style='position: relative;'>
              {{else}}
                <img src={{this.model.device_image.device_url}} onerror="button_broken_image(this);">
              {{/if}}
            {{else if this.model.device_image.vocab_url}}
              <img src={{this.model.device_image.vocab_url}} onerror="button_broken_image(this);">
            {{else}}
              <img src="/images/modeling_ideas.svg" onerror="button_broken_image(this);">
            {{/if}}
            <div class='name' style='font-size: 17px; line-height: 18px;'>
              <div>
                {{#if this.model.external_device.device_name}}
                  {{this.model.external_device.device_name}}
                {{else}}
                  {{t "External AAC" key="external_aac"}}
                {{/if}}
              </div>
              {{#if this.model.external_device.vocab_name}}
                <div>{{this.model.external_device.vocab_name}}</div>
              {{/if}}
              {{#if this.model.external_device.size}}
                <div style='font-size: 14px; font-style: italic;'>{{t "avg size:" key="average_size_colon"}} {{this.model.external_device.size}}</div>
              {{/if}}
            </div>
          </a>
        {{else if this.model.preferences.sync_starred_boards}}
          <div style='position: absolute; z-index: 2; margin: 6px 12px;'><span class='glyphicon glyphicon-home'></span> {{t "Home Board:" key="home_board_colon"}}</div>
          <a href="#" {{action "load_starred"}} class="btn simple_board_icon btn-default">
            <img src="/images/star.svg" onerror="button_broken_image(this);">
            <div class='name' style='font-size: 17px; line-height: 18px;'>
              <div>
                {{t "Liked Boards" key="liked_boards"}}
              </div>
              {{#if this.model.preferences.home_board.key}}
                <div style='font-size: 12px;'>{{t "including<br>%{bn}" bn=this.model.preferences.home_board.key key="including_board_name"}}</div>
              {{/if}}
            </div>
          </a>
        {{else if this.model.preferences.home_board.key}}
          <div style='position: absolute; z-index: 2; margin: 6px 12px;'><span class='glyphicon glyphicon-home'></span> {{t "Home Board:" key="home_board_colon"}}</div>
          {{board-icon board=home_board_pref localized=true}}
        {{else}}
          <!-- TODO: if supervisor, maybe show external-device modal insead of home search (maybe with link to search) -->
          <LinkTo @route="home-boards" class="btn big_button btn-default">
            <span class='glyphicon glyphicon-home'></span>
            {{t "No Home<br>Board Set" key="no_home_board_set"}}
          </LinkTo>
        {{/if}}
      </div>
      <div class='col-sm-3 col-xs-6 big_button_holder'>
        <button class='btn big_button btn-default secondary_button' {{action "stats"}}>
          <img src={{path "images/bar_chart.svg"}} style='opacity: 0.9; filter: grayscale(60%);'>
          {{t "Reports" key="reports"}}
        </button>
      </div>
      <div class='col-sm-3 col-xs-6 big_button_holder'>
        <LinkTo @route="user.goals" @model={{this.model.user_name}} class="btn big_button btn-default alternate_button">
          <span class='glyphicon glyphicon-flag'></span>
          {{t "Goals" key="goals"}}
        </LinkTo>
      </div>
      <div class='col-sm-3 col-xs-6 big_button_holder'>
        <button class='btn big_button btn-default lesser_button' {{action "supervision_settings"}}>
          <span class='glyphicon glyphicon-user'></span>
          {{#if this.model.supporter_role}}
            {{t "Supervision" key="supervision"}}
            <div style='font-size: 14px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;'>{{this.model.supervisee_names}}</div>
          {{else}}
            {{t "Supervisors" key="supervisors"}}
            <div style='font-size: 14px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;'>{{this.model.supervisor_names}}</div>
          {{/if}}
        </button>
      </div>
      {{#if this.model.permissions.supervise}}
        <div class='col-sm-3 col-xs-6 big_button_holder'>
          {{#if this.app_state.feature_flags.profiles}}
            <button class='btn big_button btn-default' {{action "profile_preview" this.model}} style='height: 100px; padding-top: 0;'>
              <div style='font-size: 14px; margin-top: -3px;'>{{t "Latest Communication Profile:" key="latest_profile"}}</div>
              <div>
                <div class={{this.model.profile_class}}>
                  {{#if this.model.last_profile}}
                    {{date this.model.last_profile_date "tiny_day"}}
                  {{else}}
                    {{t "None" key="none_upper"}}
                  {{/if}}
                </div>
              </div>
              <div style='font-size: 12px; color: #888; margin-top: -7px;'>
                {{#if this.model.profile_due.overdue}}
                  {{t "overdue" key="overdue"}}
                {{else if this.model.profile_due.soon}}
                  {{t "due soon" key="due_soon"}}
                {{else if this.model.profile_due.encouraged}}
                  {{t "consider updating soon"}}
                {{/if}}
              </div>
            </button>
          {{/if}}
        </div>
        {{#unless this.model.supporter_role}}
          {{#if this.model.external_device}}
            <div class='col-sm-3 col-xs-6 big_button_holder'>
              <button class='btn big_button btn-default secondary_button' {{action "manual_log"}} style='height: 100px;'>
                {{t "Manual Log Session" key="manual_log_session"}}
              </button>
            </div>
            <div class='col-sm-3 col-xs-6 big_button_holder'>
              <button class='btn big_button btn-default alternate_button' {{action "recordNote" "text"}} style='height: 100px;'>
                {{t "New Note" key="new_note"}}
              </button>
            </div>
          {{else}}
            <div class='col-sm-6 col-xs-6'></div>
          {{/if}}
          {{#if this.model.managing_org}}
            {{#if this.model.permissions.edit}}
              {{#unless this.model.permissions.delete}}
                {{#if this.external_device_or_no_home}}
                  <div class='col-sm-3 col-xs-6 big_button_holder'>
                    <button class='btn big_button btn-default lesser_button' {{action "external_device"}} style='height: 100px;'>
                      {{t "Update Device"}}
                    </button>
                  </div>
                {{/if}}
              {{/unless}}
            {{/if}}
          {{/if}}
        {{/unless}}

        {{#unless this.app_state.currentUser.modeling_only}}
          <div class='col-sm-3 col-xs-6' style='float: right; text-align: right; margin-top: -5px; margin-bottom: -10px;'>
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style='border-width: 3px; background: #eee;'>
                <img src='https://d18vdu4p71yql0.cloudfront.net/libraries/noun-project/extra_455_g.svg' style='height: 30px;'>
                {{t "Extras" key="extras"}} <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" style='right: 0; left: auto;'>
                <li><a href="#" {{action "recordNote" "text"}}>New Note</a></li>
                <li><a href="#" {{action "quick_assessment"}}>Quick Assessment</a></li>
                <li><a href="#" {{action "run_eval"}}>Run Evaluation</a></li>
                {{#if this.model.preferences.remote_modeling}}
                  {{#unless this.model.supporter_role}}
                    <li><a href="#" {{action "remote_model"}}>{{t "Remote Modeling" key="remote_modeling"}}</a></li>
                  {{/unless}}
                {{/if}}
                <li><a href="#" {{action "view_devices"}}>My Devices</a></li>
                {{#if this.model.subscription.eval_expires}}
                  <li><a href="#" {{action "eval_settings"}}>Eval Status</a></li>
                {{/if}}
                {{#if this.model.permissions.edit}}
                  <!-- allow supervisors to run setup for a supervisee -->
                  <li><a href="#" {{action "setup"}}>{{t "Getting Started Wizard" key="getting_started_wizard"}}</a></li>
                {{/if}}
                {{#if this.model.permissions.support_actions}}
                  <li><a href="#" {{action "masquerade"}}>{{t "Masquerade as User" key="masquerade_as_user"}}</a></li>
                {{/if}}
              </ul>
            </div>
          </div>
        {{/unless}}
      {{/if}}
    {{else}}
      <div class="ub-boards-page__stats-row md-user-summary__stats-row">
        <div class="ub-boards-page__stat-card">
          <div class="ub-boards-page__stat-label">{{t "Current home board" key="current_home_board_cap"}}</div>
          <div class="ub-boards-page__stat-value">
            {{#if this.model.preferences.home_board.key}}
              <LinkTo @route="board" @model={{this.model.preferences.home_board.key}} class="ub-boards-page__stat-link">{{this.model.preferences.home_board.key}}</LinkTo>
            {{else}}
              <span class="ub-boards-page__stat-none">{{t "None" key="none_upper"}}</span>
            {{/if}}
          </div>
        </div>
        <div class="ub-boards-page__stat-card">
          <div class="ub-boards-page__stat-label">{{t "Current board set" key="current_home_board_set"}}</div>
          <div class="ub-boards-page__stat-value">{{t "board" key="n_boards" count=this.model.stats.board_set_ids}}</div>
        </div>
        <div class="ub-boards-page__stat-card">
          <div class="ub-boards-page__stat-label">{{t "Liked Boards" key="starred_boards"}}</div>
          <div class="ub-boards-page__stat-value">{{t "board" key="n_boards" count=this.model.stats.starred_boards}}</div>
        </div>
      </div>
      {{#if this.model.permissions.supervise}}
        <div class="ub-boards-page__stats-row md-user-summary__stats-row">
          <div class="ub-boards-page__stat-card md-user-summary__actions-card">
            <button class="md-user-summary__action-btn" {{action "recordNote" "text"}}>{{t "New Note" key="text_note"}}</button>
            <button class="md-user-summary__action-btn" {{action "quick_assessment"}}>{{t "Quick Assessment" key="quick_assessment"}}</button>
          </div>
          <div class="ub-boards-page__stat-card">
            <div class="ub-boards-page__stat-label">{{t "My device" key="my_device"}}</div>
            <div class="ub-boards-page__stat-value">
              {{#if this.model.devices}}
                {{this.model.current_device_name}}
                {{#if this.model.multiple_devices}}
                  <div class="md-user-summary__sub-link">
                    <a href="#" {{action "view_devices"}} class="ub-boards-page__stat-link">{{t "see all %{tally} devices" tally=this.model.device_count key="see_all_devices"}}</a>
                  </div>
                {{/if}}
              {{else}}
                <span class="ub-boards-page__stat-none">{{t "none linked" key="none_linked"}}</span>
              {{/if}}
            </div>
          </div>
          <div class="ub-boards-page__stat-card">
            <div class="ub-boards-page__stat-label">{{t "My supervisors" key="linked_supervisors"}}</div>
            <div class="ub-boards-page__stat-value">
              <span {{action "supervision_settings"}} style="cursor: pointer;">
                {{#if this.model.supervisors_or_managing_org}}
                  {{this.model.supervisor_names}}
                {{else}}
                  <span class="ub-boards-page__stat-none">{{t "none linked" key="none_linked"}}</span>
                {{/if}}
              </span>
              {{#if this.model.permissions.manage_supervision}}
                <div class="md-user-summary__sub-link">
                  <a href="#" {{action "add_supervisor"}} class="ub-boards-page__stat-link">{{t "add supervisor" key="add_supervisor_lower"}}</a>
                </div>
              {{/if}}
            </div>
          </div>
          {{#if this.model.supervisees}}
            <div class="ub-boards-page__stat-card">
              <div class="ub-boards-page__stat-label">{{t "People I supervise" key="linked_users"}}</div>
              <div class="ub-boards-page__stat-value" {{action "supervision_settings"}} style="cursor: pointer;">
                {{this.model.supervisee_names}}
              </div>
            </div>
          {{/if}}
        </div>
      {{/if}}
      {{! Launch wizard moved into user hero card }}
    {{/if}}
  </div>
  {{#unless this.app_state.currentUser.preferences.new_index}}
  <div class="md-user-activity">
    {{#if this.model.permissions.edit}}
      <div class="md-user-activity__card">
        <div class="md-user-activity__card-header">
          <svg class="md-extras-card__svg-icon" width="28" height="28" viewBox="0 0 24 24" fill="none" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"><path d="M3 3v18h18" stroke="#46505F"/><path d="M18 9l-5 5-2-2-4 4" stroke="#2A9D8F"/></svg>
          <h3 class="md-user-activity__card-title">{{t "Recent Sessions" key="log_colon"}}</h3>
        </div>
        <div class="md-user-activity__card-body">
          {{#if this.model.logs.loading}}
            <p class="md-user-activity__empty">{{t "Loading..." key="loading"}}</p>
          {{else if this.model.logs.error}}
            <p class="md-user-activity__empty">{{t "Failed to load" key="failed_to_load"}}</p>
          {{else if this.model.logs}}
            <ul class="md-user-activity__list">
              {{#each this.model.logs as |log|}}
                <li class="md-user-activity__item">
                  <div class="md-user-activity__item-row">
                    <span class="md-user-activity__item-date" title={{date log.started_at}}>{{date_ago log.started_at}}</span>
                    <LinkTo @route="user.log" @models={{array this.model.user_name log.id}} class="md-user-activity__item-link">
                      {{#if log.assessment}}
                        {{t "assessment" key="assessment"}}
                      {{else if log.note}}
                        {{t "note" key="note_lower"}}
                      {{else}}
                        {{t "button" count=log.button_count key="button_count"}}
                      {{/if}}
                    </LinkTo>
                  </div>
                  <div class="md-user-activity__item-summary">{{log.summary}}</div>
                </li>
              {{/each}}
            </ul>
          {{else}}
            <p class="md-user-activity__empty">{{t "No sessions currently available" key="no_sessions_found"}}</p>
          {{/if}}
        </div>
      </div>
    {{/if}}
    {{#if this.model.permissions.edit}}
      <div class="md-user-activity__card">
        <div class="md-user-activity__card-header">
          <svg class="md-extras-card__svg-icon" width="28" height="28" viewBox="0 0 24 24" fill="none" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"><path d="M9 11l3 3L22 4" stroke="#46505F"/><path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11" stroke="#F2B95A"/></svg>
          <h3 class="md-user-activity__card-title">{{t "Current Goals" key="current_goals"}}</h3>
        </div>
        <div class="md-user-activity__card-body">
          {{#if this.model.goals.loading}}
            <p class="md-user-activity__empty">{{t "Loading..." key="loading"}}</p>
          {{else if this.model.goals.error}}
            <p class="md-user-activity__empty">{{t "Failed to load" key="failed_to_load"}}</p>
          {{else if this.model.goals}}
            <ul class="md-user-activity__list">
              {{#each this.model.goals as |goal|}}
                <li class="md-user-activity__item">
                  <div class="md-user-activity__item-row">
                    <LinkTo @route="user.goal" @models={{array this.model.user_name goal.id}} class="md-user-activity__item-link">
                      {{goal.summary}}
                    </LinkTo>
                  </div>
                  <div class="md-user-activity__item-summary">{{goal.description}}</div>
                </li>
              {{/each}}
            </ul>
            {{#if this.model.permissions.supervise}}
              <div class="md-user-activity__card-footer">
                <LinkTo @route="user.goals" @model={{this.model.user_name}} class="md-user-activity__see-all">{{t "see all user goals" key="see_all_user_goals"}}</LinkTo>
              </div>
            {{/if}}
          {{else}}
            <p class="md-user-activity__empty">{{t "No goals currently available" key="no_goals_found"}}</p>
          {{/if}}
        </div>
      </div>
    {{/if}}
    <div class="col-sm-6">
      {{#if this.model.badges}}
        <strong>{{t "Badges:" key="badges_colon"}}</strong>
        <div style="margin-left: 20px;">
          {{#if this.model.badges.loading}}
            <p>{{t "Loading..." key="loading"}}</p>
          {{else if this.model.badges.error}}
            <p>{{t "Failed to load" key="failed_to_load"}}</p>
          {{else if this.model.badges}}
            <div>
            {{#each this.model.badges as |badge|}}
              <div style='float: left; padding: 5px; width: 25%; text-align: center;'>
                {{#if badge.global}}
                  <a href="#" {{action "badge_popup" badge}}>
                    <img src={{badge.image_url}} style='width: 70%;' onerror='button_broken_image(this)' data-fallback={{path "images/badge-fallback.png"}} >
                  </a>
                {{else}}
                  <a href="#" {{action "badge_popup" badge}}>
                    <img src={{badge.image_url}} style='width: 70%;' onerror='button_broken_image(this)' data-fallback={{path "images/badge-fallback.png"}} >
                  </a>
                {{/if}}
                <div style='height: 30px; overflow: hidden; line-height: 14px;'>
                  {{#if badge.global}}
                    <LinkTo @route="goals.goal" @model={{badge.goal_id}}>{{badge.name}}</LinkTo>
                  {{else}}
                    <LinkTo @route="user.goal" @models={{array this.model.user_name badge.goal_id}}>{{badge.name}}</LinkTo>
                  {{/if}}
                </div>
              </div>
            {{/each}}
            </div>
            <div style='clear: left;'></div>
            {{#if this.model.permissions.supervise}}
              <div style='margin-top: 5px;'>
                <LinkTo @route="user.badges" @model={{this.model.user_name}}>{{t "see all user badges" key="see_all_user_badges"}}</LinkTo>
              </div>
            {{/if}}
          {{else}}
            <p>{{t "No badges currently available" key="no_badges_found"}}</p>
          {{/if}}
        </div>
      {{/if}}
    </div>
  </div>
  {{/unless}}
    {{#if this.model.topics.length}}
    <div class="row">
      <div class="col-sm-12">
        <h4>{{t "Current Curriculum Topics:" key="current_curriculum_topics"}}</h4>
        <ul class='list-group' style='max-width: 350px;'>
          {{#each this.model.topics as |topic|}}
            {{#if topic.url}}
              <a class='list-group-item' href={{topic.url}} target="_blank" rel="noopener">{{topic.title}}</a>
            {{else}}
              <li class='list-group-item'>{{topic.title}}</li>
            {{/if}}
          {{/each}}
        </ul>
      </div>
    </div>
    {{/if}}
    <div class="ub-boards-page">
      {{boards-browser boardsCtrl=this showNewBoard=false headingId="available-boards-heading" filterInputId="account-boards-filter"}}
    </div>
  {{#if this.model.permissions.support_actions}}
    <div class="row" style="margin-top: 30px;">
      <div class="col-sm-12">
        <h4>{{t "Support Actions" key="support_actions"}}</h4>
        {{#if this.password}}
          <div>
            {{#unless this.password.pw}}
              {{t "Are you sure you want to reset this user's password? They will receive an email notifying them of the reset." key="confirm_reset_password"}}<br>
              <button class='btn btn-default' {{action "reset_password" true}}>{{t "Reset Password" key="reset_password"}}</button>
              <button class='btn btn-default' {{action "reset_password" false}}>{{t "Cancel" key="cancel"}}</button>
            {{/unless}}
            {{#if this.password.loading}}
              {{t "Setting password to <strong>%{pw}</strong>..." key="setting_password_to" pw=this.password.pw}}
            {{else if this.password.error}}
              {{t "Password reset failed" key="password_reset_failed"}}
            {{else if this.password.pw}}
              {{t "Password reset to <strong>%{pw}</strong>" key="password_was_reset" pw=this.password.pw}}
            {{/if}}
          </div>
        {{else if this.new_user_name}}
          <div>
            {{t "Are you sure you want to change the user's user name? They will receive an email notifying them of the change." key="confirm_change"}}<br>
            <form class="form-horizontal" {{action "nothing"}}>
              <div class="form-group">
                <label for="old_key" class="col-sm-3 control-label">{{t "Current User Name" key="current_user_name"}}</label>
                <div class="col-sm-5">
                  <Input @type="text" class="form-control" id="old_key" @value={{this.new_user_name.old_value}} placeholder="current user name" />
                </div>
              </div>

              <div class="form-group">
                <label for="new_key" class="col-sm-3 control-label">{{t "New User Name" key="new_user_name"}}</label>
                <div class="col-sm-5">
                  <Input @type="text" class="form-control" id="new_key" @value={{this.new_user_name.value}} placeholder="new key" />
                </div>
              </div>

              <div class="form-group">
                <div class='col-sm-5 col-sm-offset-3'>
                  <button class='btn btn-default' {{action "rename_user" true}}>
                    {{#if this.new_user_name.renaming}}
                      {{t "Changing User Name" key="changing_user_name"}}
                    {{else if this.new_user_name.error}}
                      {{t "Error Changing User Name" key="error_changing_user_name"}}
                    {{else}}
                      {{t "Change User Name" key="change_user_name"}}
                    {{/if}}
                  </button>
                  <button class='btn btn-default' {{action "rename_user" false}}>{{t "Cancel" key="cancel"}}</button>
                </div>
              </div>
            </form>
          </div>
        {{else}}
          <a href="#" {{action "reset_password"}} class="btn btn-default">{{t "Reset Password" key="reset_password"}}</a>
          <a href="#" {{action "rename_user"}} class="btn btn-default">{{t "Change User Name" key="change_user_name"}}</a>
          <LinkTo @route="user.history" @model={{this.model.user_name}} class="btn btn-default">{{t "Edit History" key="edit_history"}}</LinkTo>
        {{/if}}
        {{#if this.model.permissions.admin_support_actions}}
          <h5 style="margin-top: 20px;">{{t "Subscription:" key="subscription_colon"}}</h5>
          <div class="well" style="max-width: 500px;">
            <span class="glyphicon glyphicon-usd" style="font-size: 50px; float: left;"></span>
            <div style="margin-bottom: 5px; margin-top: -5px;">
              {{this.model.id}} - {{this.model.email}} - {{this.model.subscription.subscription_plan_description}} - {{this.model.subscription.billing_state}}
              {{#if this.model.subscription.expires}}
                {{t " -- expires" key="dash_expires"}}
                {{date this.model.subscription.expires "day"}}
              {{/if}}
              {{#if this.model.purchase_duration}}
                <br>{{t "premium user for %{n} years" n=this.model.purchase_duration key="paid_for_n_years"}}
              {{/if}}
              <div>
                {{#if this.model.premium_voices}}
                  {{t "premium voice" count=this.model.premium_voices.allowed key="premium_voices_count"}}{{t ", %{cnt} used" key="comma_premium_voices_used" cnt=this.model.premium_voices.claimed.length}}
                {{/if}}
                {{#if this.model.subscription.extras_enabled}}
                  {{t " + premium symbols enabled" key="plus_extras_enabled"}}
                {{/if}}
                {{#if this.model.subscription.purchased_supporters}}
                  {{t " + " key="plus_p"}}
                  {{this.model.subscription.available_supporters}} / {{this.model.subscription.purchased_supporters}}
                  {{t "supervisor credits available" key="supervisor_credits_available"}}
                {{/if}}
              </div>
            </div>
            {{#if this.subscription_settings.type}}
              <div>
                {{#if this.subscription_settings.loading}}
                  {{t "Updating subscription..." key="updating_subscription"}}
                {{else if this.subscription_settings.error}}
                  {{this.subscription_settings.error}}
                {{else}}
                  {{t "Are you sure you want to set this user as a %{type}?" type=this.subscription_settings.type key="confirm_subscription_set"}}<br>
                  <button class='btn btn-default' {{action "set_subscription" "confirm"}}>{{t "Update Subscription" key="update_subscription"}}</button>
                  <button class='btn btn-default' {{action "set_subscription" "cancel"}}>{{t "Cancel" key="cancel"}}</button>
                {{/if}}
              </div>
            {{else}}
              <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{t "Modify Subscription" key="modify_subscription"}} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li><a href="#" {{action "set_subscription" "eval"}}>{{t "Set as Eval Account" key="set_as_eval"}}</a></li>
                  <li><a href="#" {{action "set_subscription" "never_expires"}}>{{t "Set as Free Forever" key="set_as_free_forever"}}</a></li>
                  <li><a href="#" {{action "set_subscription" "manual_modeler"}}>{{t "Set as Free Modeler" key="set_as_free_modeler"}}</a></li>
                  <li><a href="#" {{action "set_subscription" "manual_supporter"}}>{{t "Set as Free Supporter" key="set_as_free_supporter"}}</a></li>
                  <li><a href="#" {{action "set_subscription" "communicator_trial"}}>{{t "Set as Free Trial Communicator" key="set_as_free_trial_communicator"}}</a></li>
                  <li><a href="#" {{action "set_subscription" "add_1"}}>{{t "Add 1 Month" key="add_one_month"}}</a></li>
                  <li><a href="#" {{action "set_subscription" "enable_extras"}}>{{t "Enable Premium Symbols" key="enable_premium_symbols"}}</a></li>
                  <li><a href="#" {{action "set_subscription" "supporter_credit"}}>{{t "Add 1 Supporter Credit" key="add_supporter_credit"}}</a></li>
                  <li><a href="#" {{action "set_subscription" "check_remote"}}>{{t "Re-Check Purchase Status" key="recheck_purchase_status"}}</a></li>
                  <li><a href="#" {{action "set_subscription" "restore"}}>{{t "Restore Disabled Purchase" key="restore_disabled_purchase"}}</a></li>
                  <li><a href="#" {{action "set_subscription" "add_voice"}}>{{t "Add Premium Voice" key="add_premium_voice"}}</a></li>
                  <li><a href="#" {{action "set_subscription" "add_5_years"}}>{{t "Add 5 Years" key="add_five_years"}}</a></li>
                  <li><a href="#" {{action "set_subscription" "force_logout"}}>{{t "Force Logout" key="force_logout"}}</a></li>
                </ul>
              </div>
            {{/if}}
          </div>

          <h5 style="margin-top: 20px;">{{t "Recent Usage:" key="recent usage"}}</h5>
          {{#if this.daily_use.loading}}
            <p>{{t "Loading..." key="loading"}}</p>
          {{else if this.daily_use.error}}
            <p>{{t "Error loading data" key="error_loading_data"}}</p>
          {{else if this.daily_use.daily_use_history}}
            <div class='daily_use'>
              {{this.raw_daily_use}}
            </div>
          {{else}}
            <p>{{t "No data loaded" key="no_data_loaded"}}</p>
          {{/if}}

          <h5 style="margin-top: 20px;">{{t "Devices:" key="devices_colon"}}</h5>
            {{#if this.model.devices}}
              <table class="table table-striped table-hover">
                <thead>
                  <tr>
                    <th>{{t "Name" key="name"}}</th>
                    <th>{{t "V" key="V"}}</th>
                    <th>{{t "User Agent" key="user_agent"}}</th>
                    <th>{{t "IP" key="ip"}}</th>
                    <th>{{t "Date" key="date"}}</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each this.filtered_devices as |device|}}
                    <tr>
                      <td>{{device.name}}
                        <div style='font-size: 12px; color: #888;'>{{device.ref_id}}</div>
                      </td>
                      <td>
                        {{device.app_version}}<br>
                        {{device.token_type}}
                      </td>
                      <td style='width: 30%; font-size: 10px;'>{{device.user_agent}}</td>
                      <td>{{device.ip_address}}</td>
                      <td>
                        {{date device.last_used}}
                        <div style='font-size: 12px;'>
                          {{t "expires after" key="expires_after"}}
                          {{device.token_timeout}}{{t ", or" key="comma_or"}}
                          {{device.inactivity_timeout}} 
                          {{t "of inactivity" key="of_inactivity"}}
                        </div>
                      </td>
                    </tr>
                  {{/each}}
                </tbody>
              </table>
            {{else}}
              {{t "None found" key="none_found"}}
            {{/if}}
        {{/if}}
      </div>
    </div>
  {{/if}}
{{else}}
  {{t "This account is private. Nothing to see here, move along." key="private_account"}}
{{/if}}
</div>
