{{#opening-observer done_opening=(action "draw_charts")}}
<div class="md-shell md-shell--reports-view">
  <div class="md-workspace">
    <nav class="md-pillnav md-pillnav--dashboard" aria-label={{t "Primary Navigation" key="primary_navigation"}}>
      <LinkTo @route="user.home" @model={{this.model.user_name}} class="md-pillnav__pill">{{t "Home" key="home"}}</LinkTo>
      <LinkTo @route="user.boards" @model={{this.model.user_name}} class="md-pillnav__pill">{{t "Boards" key="boards"}}</LinkTo>
      <span class="md-pillnav__pill is-active" aria-current="page">{{t "Reports" key="reports"}}</span>
      <LinkTo @route="user.extras" @model={{this.model.user_name}} class="md-pillnav__pill">{{t "Extras" key="extras"}}</LinkTo>
    </nav>
    <header class="md-hero md-hero--dashboard md-hero--reports-dashboard">
      <h1 class="md-hero__title"><span class="md-hero__title--from-left">{{t "Reports for %{username}" key="reports_for_username" username=this.model.user_name}}</span></h1>
      <p class="md-hero__sub"><span class="md-hero__sub--from-right">{{t "Let's look at some" key="reports_dashboard_hero_sub_pre"}} <em class="md-hero__gradient-text">{{t "useful information..." key="reports_dashboard_hero_sub_em"}}</em></span></p>
    </header>
<div class="md-stats-page">
  <main class="md-stats-main">
{{#if this.app_state.currentUser.modeling_only}}
  {{modeling-only-notice}}
{{else if this.model.currently_premium}}
  {{#if this.model.preferences.logging}}
    <div class="md-user-meta md-user-meta--before-hero" role="list">
      {{#if this.model.joined}}
        <div class="md-user-meta__chip md-user-meta__chip--joined" role="listitem" title={{date this.model.joined}}>
          <span class="md-user-meta__label">{{t "Joined" key="joined_cap"}}</span>
          <span class="md-user-meta__value">{{date_ago this.model.joined}}</span>
        </div>
      {{/if}}
      {{#if this.model.last_access}}
        <div class="md-user-meta__chip md-user-meta__chip--active" role="listitem" title={{date this.model.last_access}}>
          <span class="md-user-meta__label">{{t "Last active" key="last_active"}}</span>
          <span class="md-user-meta__value">{{date_ago this.model.last_access "day"}}</span>
        </div>
      {{/if}}
      {{#if (and this.usage_stats this.usage_stats2)}}
        <button type="button" class="md-user-meta__chip md-user-meta__chip--reset" {{action "reset_to_default"}} aria-label={{t "Reset to default report" key="reset_to_default_report"}}>
          <span class="md-user-meta__label">{{t "Reset" key="reset"}}</span>
        </button>
      {{/if}}
    </div>
    <section class="md-stats-hero-card" aria-labelledby="md-stats-hero-title">
      <div class="md-stats-hero__head">
        <h1 id="md-stats-hero-title" class="md-stats-hero__title">{{t "%{un}'s Reports" key="usage_reports_for" un=this.model.user_name}}</h1>
        {{#if this.app_state.currentUser.supervisees.length}}
          <button type="button" class="md-btn md-btn--ghost md-stats-hero__action" {{action "switch_communicators"}}>{{t "Switch Communicators" key="switch_communicators"}}</button>
        {{/if}}
      </div>
    </section>
    <hr class="la-about-hero-separator" aria-hidden="true">
    {{#if this.usage_stats}}
      <div class="md-stats-compare-filter-group{{if this.usage_stats2 " md-stats-compare-filter-group--active" ""}}">
        {{#if this.usage_stats2}}
          <span class="md-stats-compare-filter-group__badge">{{t "Compare report periods" key="compare_report_periods"}}</span>
        {{/if}}
        <div class="row{{if this.usage_stats2 " md-stats-compare-row md-stats-compare-row--filter" ""}}" style='page-break-inside: avoid;'>
          {{stats/data-filter usage_stats=this.usage_stats ref_stats=this.usage_stats2 side_by_side=this.usage_stats2 status=this.status app_state=this.app_state snapshots=this.snapshots compare_to=(action "compare_to") clear_side=(action "clear_left_side") update_filter=(action "update_left_filter")}}
          {{#if this.usage_stats2}}
            <div class="md-stats-compare-filter-group__between" aria-hidden="true">
              <img src={{path "images/compare-reports.png"}} alt="" class="md-stats-compare-filter-group__between-img">
            </div>
            {{stats/data-filter usage_stats=this.usage_stats2 ref_stats=this.usage_stats side_by_side=true status=this.status2 snapshots=this.snapshots right_side=true clear_side=(action "clear_right_side") update_filter=(action "update_right_filter")}}
          {{/if}}
        </div>
      </div>
    {{/if}}
    <div class="row{{if this.usage_stats2 " md-stats-compare-row" ""}}{{unless this.usage_stats2 " md-stats-summary-row md-stats-summary-row--1" ""}}" style='page-break-inside: avoid;'>
      {{stats/load-status status=this.status ref_status=this.status2 side_by_side=this.usage_stats2}}
      {{#if this.usage_stats2}}
        {{stats/load-status status=this.status2 ref_status=this.status side_by_side=true right_side=true}}
      {{/if}}
      {{#if this.some_data}}
        {{#unless this.usage_stats2}}
          <div class="col-sm-3 col-xs-6">
            <div class="panel panel-default summary">
              <div class="panel-heading">{{t "Total Sessions" key="total_sessions"}}</div>
              <div class="panel-body">{{delimit this.display_total_sessions}}</div>
            </div>
          </div>
          <div class="col-sm-3 col-xs-6">
            <div class="panel panel-default summary">
              <div class="panel-heading">{{t "Total Words" key="total_words"}}</div>
              <div class="panel-body">{{delimit this.display_total_words}}</div>
            </div>
          </div>
          <div class="col-sm-3 col-xs-6">
            <div class="panel panel-default summary">
              <div class="panel-heading">{{t "Total utterances" key="total_utterances"}}</div>
              <div class="panel-body">{{delimit this.display_total_utterances}}</div>
            </div>
          </div>
          <div class="col-sm-3 col-xs-6">
            <div class="panel panel-default summary">
              <div class="panel-heading">{{t "Total Buttons" key="total_buttons"}}</div>
              <div class="panel-body">{{delimit this.display_total_buttons}}</div>
            </div>
          </div>
        {{/unless}}
      {{/if}}
    </div>
    {{#if this.some_data}}
      {{#if this.usage_stats2}}
        {{! Compare mode: one row with left group and right group, each with 4 rows of stats }}
        <div class="row md-stats-compare-row" style='page-break-inside: avoid;'>
          <div class="col-sm-6 col-xs-12 md-stats-compare-group">
            <div class="md-stats-compare-group__inner">
              <div class="row md-stats-compare-group__row">
                <div class="col-sm-6 col-xs-6">
                  <div class="panel panel-default summary">
                    <div class="panel-heading">{{t "Total Sessions" key="total_sessions"}}</div>
                    <div class="panel-body">{{delimit this.display_total_sessions}}</div>
                  </div>
                </div>
                <div class="col-sm-6 col-xs-6">
                  <div class="panel panel-default summary">
                    <div class="panel-heading">{{t "Total Words" key="total_words"}}</div>
                    <div class="panel-body">{{delimit this.display_total_words}}</div>
                  </div>
                </div>
              </div>
              <div class="row md-stats-compare-group__row">
                <div class="col-sm-6 col-xs-6">
                  <div class="panel panel-default summary">
                    <div class="panel-heading">{{t "Total utterances" key="total_utterances"}}</div>
                    <div class="panel-body">{{delimit this.display_total_utterances}}</div>
                  </div>
                </div>
                <div class="col-sm-6 col-xs-6">
                  <div class="panel panel-default summary">
                    <div class="panel-heading">{{t "Total Buttons" key="total_buttons"}}</div>
                    <div class="panel-body">{{delimit this.display_total_buttons}}</div>
                  </div>
                </div>
              </div>
              <div class="row md-stats-compare-group__row">
                <div class="col-sm-6 col-xs-6">
                  <div class="panel panel-default summary">
                    <div class="panel-heading">{{t "Words per utterance" key="words_per_utterance"}}</div>
                    <div class="panel-body">{{round this.display_words_per_utterance}}</div>
                  </div>
                </div>
                <div class="col-sm-6 col-xs-6">
                  <div class="panel panel-default summary">
                    <div class="panel-heading">{{t "Words per minute" key="words_per_minute"}}</div>
                    <div class="panel-body">{{round this.display_words_per_minute}}</div>
                  </div>
                </div>
              </div>
              <div class="row md-stats-compare-group__row">
                <div class="col-sm-6 col-xs-6">
                  <div class="panel panel-default summary">
                    <div class="panel-heading">{{t "Utterances per minute" key="utterances_per_minute"}}</div>
                    <div class="panel-body">{{round this.display_utterances_per_minute}}</div>
                  </div>
                </div>
                <div class="col-sm-6 col-xs-6">
                  <div class="panel panel-default summary">
                    <div class="panel-heading">{{t "Buttons per minute" key="buttons_per_minute"}}</div>
                    <div class="panel-body">{{round this.display_buttons_per_minute}}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-xs-12 md-stats-compare-group">
            <div class="md-stats-compare-group__inner">
              <div class="row md-stats-compare-group__row">
                <div class="col-sm-6 col-xs-6">
                  <div class="panel panel-default summary">
                    <div class="panel-heading">{{t "Total Sessions" key="total_sessions"}}</div>
                    <div class="panel-body">{{delimit this.display_total_sessions2}}</div>
                  </div>
                </div>
                <div class="col-sm-6 col-xs-6">
                  <div class="panel panel-default summary">
                    <div class="panel-heading">{{t "Total Words" key="total_words"}}</div>
                    <div class="panel-body">{{delimit this.display_total_words2}}</div>
                  </div>
                </div>
              </div>
              <div class="row md-stats-compare-group__row">
                <div class="col-sm-6 col-xs-6">
                  <div class="panel panel-default summary">
                    <div class="panel-heading">{{t "Total utterances" key="total_utterances"}}</div>
                    <div class="panel-body">{{delimit this.display_total_utterances2}}</div>
                  </div>
                </div>
                <div class="col-sm-6 col-xs-6">
                  <div class="panel panel-default summary">
                    <div class="panel-heading">{{t "Total Buttons" key="total_buttons"}}</div>
                    <div class="panel-body">{{delimit this.display_total_buttons2}}</div>
                  </div>
                </div>
              </div>
              <div class="row md-stats-compare-group__row">
                <div class="col-sm-6 col-xs-6">
                  <div class="panel panel-default summary">
                    <div class="panel-heading">{{t "Words per utterance" key="words_per_utterance"}}</div>
                    <div class="panel-body">{{round this.display_words_per_utterance2}}</div>
                  </div>
                </div>
                <div class="col-sm-6 col-xs-6">
                  <div class="panel panel-default summary">
                    <div class="panel-heading">{{t "Words per minute" key="words_per_minute"}}</div>
                    <div class="panel-body">{{round this.display_words_per_minute2}}</div>
                  </div>
                </div>
              </div>
              <div class="row md-stats-compare-group__row">
                <div class="col-sm-6 col-xs-6">
                  <div class="panel panel-default summary">
                    <div class="panel-heading">{{t "Utterances per minute" key="utterances_per_minute"}}</div>
                    <div class="panel-body">{{round this.display_utterances_per_minute2}}</div>
                  </div>
                </div>
                <div class="col-sm-6 col-xs-6">
                  <div class="panel panel-default summary">
                    <div class="panel-heading">{{t "Buttons per minute" key="buttons_per_minute"}}</div>
                    <div class="panel-body">{{round this.display_buttons_per_minute2}}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      {{else}}
        {{! Single period: one row with 4 panels (Words per utterance, Words per minute, Utterances per minute, Buttons per minute) }}
        <div class="row md-stats-summary-row md-stats-summary-row--2" style='page-break-inside: avoid;'>
          <div class="col-sm-3 col-xs-6">
            <div class="panel panel-default summary">
              <div class="panel-heading">{{t "Words per utterance" key="words_per_utterance"}}</div>
              <div class="panel-body">{{round this.display_words_per_utterance}}</div>
            </div>
          </div>
          <div class="col-sm-3 col-xs-6">
            <div class="panel panel-default summary">
              <div class="panel-heading">{{t "Words per minute" key="words_per_minute"}}</div>
              <div class="panel-body">{{round this.display_words_per_minute}}</div>
            </div>
          </div>
          <div class="col-sm-3 col-xs-6">
            <div class="panel panel-default summary">
              <div class="panel-heading">{{t "Utterances per minute" key="utterances_per_minute"}}</div>
              <div class="panel-body">{{round this.display_utterances_per_minute}}</div>
            </div>
          </div>
          <div class="col-sm-3 col-xs-6">
            <div class="panel panel-default summary">
              <div class="panel-heading">{{t "Buttons per minute" key="buttons_per_minute"}}</div>
              <div class="panel-body">{{round this.display_buttons_per_minute}}</div>
            </div>
          </div>
        </div>
      {{/if}}
      <div class="row{{if this.usage_stats2 " md-stats-compare-row" ""}}" style='page-break-inside: avoid;'>
        {{stats/word-usage usage_stats=this.usage_stats ref_stats=this.usage_stats2 side_by_side=this.usage_stats2 show_logs="show_logs"}}
        {{#if this.usage_stats2}}
          {{stats/word-usage usage_stats=this.usage_stats2 ref_stats=this.usage_stats side_by_side=true right_side=true show_logs="show_logs"}}
        {{/if}}
        {{stats/common-words usage_stats=this.usage_stats ref_stats=this.usage_stats2 side_by_side=this.usage_stats2 word_cloud=(action "word_cloud_left") word_data=(action "word_data")}}
        {{#if this.usage_stats2}}
          {{stats/common-words usage_stats=this.usage_stats2 ref_stats=this.usage_stats side_by_side=true right_side=true word_cloud=(action "word_cloud_right") word_data=(action "word_data")}}
        {{/if}}
        {{#if this.usage_stats2}}
          {{#if this.different_dates}}
            {{stats/lost-or-gained-words usage_stats=this.usage_stats ref_stats=this.usage_stats2 side_by_side=true word_cloud=(action "word_cloud_left") word_data=(action "word_data")}}
            {{stats/lost-or-gained-words usage_stats=this.usage_stats2 ref_stats=this.usage_stats side_by_side=true right_side=true word_cloud=(action "word_cloud_right") word_data=(action "word_data")}}
          {{/if}}
        {{/if}}
      </div>
      <div class="row{{if this.usage_stats2 " md-stats-compare-row" ""}}" style='page-break-inside: avoid;'>
        {{stats/core-list core=this.model.core_lists usage_stats=this.usage_stats ref_stats=this.usage_stats2 side_by_side=this.usage_stats2 word_cloud=(action "word_cloud_left") word_data=(action "word_data") edit_permission=this.model.permissions.edit modify_core=(action "modify_core")}}
        {{#if this.usage_stats2}}
          {{stats/core-list core=this.model.core_lists usage_stats=this.usage_stats2 ref_stats=this.usage_stats side_by_side=true right_side=true word_cloud=(action "word_cloud_right") word_data=(action "word_data") edit_permission=this.model.permissions.edit modify_core=(action "modify_core")}}
        {{/if}}
        {{stats/core-fringe usage_stats=this.usage_stats ref_stats=this.usage_stats2 side_by_side=this.usage_stats2}}
        {{#if this.usage_stats2}}
          {{stats/core-fringe usage_stats=this.usage_stats2 ref_stats=this.usage_stats side_by_side=true right_side=true}}
        {{/if}}
        {{stats/parts-of-speech-pie usage_stats=this.usage_stats ref_stats=this.usage_stats2 side_by_side=this.usage_stats2}}
        {{#if this.usage_stats2}}
          {{stats/parts-of-speech-pie usage_stats=this.usage_stats2 ref_stats=this.usage_stats side_by_side=true right_side=true}}
        {{/if}}
        {{stats/sankey-parts-of-speech usage_stats=this.usage_stats ref_stats=this.usage_stats2 side_by_side=this.usage_stats2}}
        {{#if this.usage_stats2}}
          {{stats/sankey-parts-of-speech usage_stats=this.usage_stats2 ref_stats=this.usage_stats side_by_side=true right_side=true}}
        {{/if}}
        {{stats/sankey-word-pairs wordPairsData=this.wordPairsForSankey ref_stats=this.usage_stats2 side_by_side=this.usage_stats2}}
        {{#if this.usage_stats2}}
          {{stats/sankey-word-pairs wordPairsData=this.wordPairsForSankey2 ref_stats=this.usage_stats side_by_side=true right_side=true}}
        {{/if}}
      </div>
      <div class="row{{if this.usage_stats2 " md-stats-compare-row" ""}}" style='page-break-inside: avoid;'>
        {{stats/time-of-day usage_stats=this.usage_stats ref_stats=this.usage_stats2 side_by_side=this.usage_stats2}}
        {{#if this.usage_stats2}}
          {{stats/time-of-day usage_stats=this.usage_stats2 ref_stats=this.usage_stats side_by_side=true right_side=true}}
        {{/if}}
        {{stats/weighted-words usage_stats=this.usage_stats ref_stats=this.usage_stats2 side_by_side=this.usage_stats2 word_cloud=(action "word_cloud_left") word_data=(action "word_data")}}
        {{#if this.usage_stats2}}
          {{stats/weighted-words usage_stats=this.usage_stats2 ref_stats=this.usage_stats side_by_side=true right_side=true word_cloud=(action "word_cloud_right") word_data=(action "word_data")}}
        {{/if}}
      </div>
      <div class="row{{if this.usage_stats2 " md-stats-compare-row" ""}}" style='page-break-inside: avoid;'>
        {{#if this.model.preferences.geo_logging }}
          {{stats/geo-locations usage_stats=this.usage_stats ref_stats=this.usage_stats2 side_by_side=this.usage_stats2 filter=(action "update_left_filter") snapshots=this.filter_list}}
          {{#if this.usage_stats2}}
            {{stats/geo-locations usage_stats=this.usage_stats2 ref_stats=this.usage_stats side_by_side=true right_side=true filter=(action "update_right_filter")}}
          {{/if}}
          {{stats/ip-addresses usage_stats=this.usage_stats ref_stats=this.usage_stats2 side_by_side=this.usage_stats2 filter=(action "update_left_filter")}}
          {{#if this.usage_stats2}}
            {{stats/ip-addresses usage_stats=this.usage_stats2 ref_stats=this.usage_stats side_by_side=true right_side=true filter=(action "update_right_filter")}}
          {{/if}}
        {{else}}
          {{stats/geo-disabled side_by_side=this.usage_stats2}}
          {{#if this.usage_stats2}}
            {{stats/geo-disabled side_by_side=true right_side=true}}
          {{/if}}
        {{/if}}
      </div>
      <div class="row{{if this.usage_stats2 " md-stats-compare-row" ""}}" style='page-break-inside: avoid;'>
        {{stats/heat-map usage_stats=this.usage_stats ref_stats=this.usage_stats2 side_by_side=this.usage_stats2}}
        {{#if this.usage_stats2}}
          {{stats/heat-map usage_stats=this.usage_stats2 ref_stats=this.usage_stats side_by_side=true right_side=true}}
        {{/if}}
        {{stats/user-devices usage_stats=this.usage_stats ref_stats=this.usage_stats2 side_by_side=this.usage_stats2 filter=(action "update_left_filter")}}
        {{#if this.usage_stats2}}
          {{stats/user-devices usage_stats=this.usage_stats2 ref_stats=this.usage_stats side_by_side=true right_side=true filter=(action "update_right_filter")}}
        {{/if}}
      </div>
      {{#unless this.usage_stats2}}
        <div class="md-stats-actions hide_print">
          <LinkTo @route="user.logs" @model={{this.model.user_name}} @query={{hash start=this.usage_stats.start_date_field end=this.usage_stats.end_date_field location_id=this.controller.location_id device_id=this.controller.device_id highlighted=null type="session"}} class="md-btn md-btn--ghost">
            {{t "Log Entries for this Report" key="log_entries_for_report"}}
          </LinkTo>
          {{#if this.model.permissions.edit}}
            {{#unless this.snapshot_id}}
              <button type="button" class="md-btn md-btn--ghost" {{action "save_snapshot"}} title={{t "Save this date range to use later for report filtering and side-by-side comparisons" key="save_report_period_tooltip"}}>{{t "Create Snapshot" key="create_snapshot"}}</button>
            {{/unless}}
          {{/if}}
        </div>
      {{/unless}}
    {{/if}}
  {{else if this.model.permissions.edit}}
    <section class="md-stats-hero-card" aria-labelledby="md-stats-hero-title">
      <h1 id="md-stats-hero-title" class="md-stats-hero__title">{{t "Reports" key="reports"}}</h1>
      <hr class="la-about-hero-separator" aria-hidden="true">
    </section>
    <p class="md-stats-text">{{t "%app_name% can generate insightful reports on word frequency, usage by time of day or location, etc., but only if logging is enabled. Right now it's turned off, but you can enable it in your preferences." key="logging_disabled"}}</p>
    <button type="button" class="md-btn md-btn--primary" {{action "enable_logging"}}>{{t "Enable Communication Logging & Reports" key="enable_logging_and_reports"}}</button>
  {{else}}
    <section class="md-stats-hero-card" aria-labelledby="md-stats-hero-title">
      <h1 id="md-stats-hero-title" class="md-stats-hero__title">{{t "Reports" key="reports"}}</h1>
      <hr class="la-about-hero-separator" aria-hidden="true">
    </section>
    <p class="md-stats-text">{{t "Looks like this user has logging turned off, and you don't have permission to enable it for the user." key="unauthorized_reports"}}</p>
  {{/if}}
{{else if this.session.isAuthenticated}}
  <section class="md-stats-hero-card" aria-labelledby="md-stats-hero-title">
    <div class="md-stats-hero__head">
      <h1 id="md-stats-hero-title" class="md-stats-hero__title">{{t "Premium Membership Required" key="premium_required"}}</h1>
      {{#if this.app_state.currentUser.supervisees.length}}
        <button type="button" class="md-btn md-btn--ghost md-stats-hero__action" {{action "switch_communicators"}}>{{t "Switch Communicators" key="switch_communicators"}}</button>
      {{/if}}
    </div>
    <hr class="la-about-hero-separator" aria-hidden="true">
  </section>
  <p class="md-stats-text">
    {{t "%app_name% is a powerful, flexible communication tool with lots of great features. Some features, including this one, are only available to users who have purchased a premium account. Please " key="purchase_subscription_1h"}}
    {{#if this.app_state.feature_flags.subscriptions}}
      <LinkTo @route="user.subscription" @model={{this.model.user_name}}>{{t "purchase a premium account" key="purchase_subscription_2"}}</LinkTo>
    {{else}}
      {{t "purchase a premium account" key="purchase_subscription_2"}}
    {{/if}}
    {{t "to support this good cause and to unlock this feature." key="purchase_subscription_3"}}
  </p>
{{else}}
  {{login-form left=true prompt=true return=true}}
{{/if}}
  </main>
</div>
  </div>
</div>
{{/opening-observer}}
