<div id="within_ember" class="{{this.background_class}} {{if this.app_state.index_or_landing_view "index-or-landing-view"}} {{if (is-equal this.app_state.current_route "landing") "landing-route"}}  {{if (is-equal this.app_state.current_route "speech") "speech-route"}} {{if (is-equal this.app_state.current_route "landing-alt") "landing-alt-route"}} {{if (is-equal this.app_state.current_route "pricing") "pricing-route"}} {{if (is-equal this.app_state.current_route "features") "features-route"}} {{if this.showBentoPageWithFooter "bento-page-with-footer"}} {{if (and this.app_state.index_or_landing_view this.app_state.darkMode) "bento-dark-mode-active"}} {{if (and this.app_state.index_or_landing_view this.app_state.midDayMode) "bento-midday-mode-active"}} {{if (and this.app_state.index_or_landing_view this.app_state.defaultMode) "bento-default-mode-active"}} {{if this.on_board_alt "board-alt-view"}} {{if this.on_board "board-view"}} {{if this.on_board_detail "board-detail-view"}}" style={{if this.speak_mode_needing_hammer_js "touch-action: auto;" }}>
<div id="audio"></div>
<header class="{{this.header_class}} {{if this.useAppNavbarInHeader "header-index-with-dark-toggle"}} {{unless this.isSessionAuthenticated "header--unauthenticated"}}">
  <div id="inner_header">
  {{#if this.useAppNavbarInHeader}}
    {{app-navbar onSupport=(action "support")}}
  {{else}}
  {{#if this.app_state.speak_mode}}
    <span id="speak">
      <span class="speak-header__home-marker">
        {{#triple-click-listener triple_click="meta_home_click"}}
          {{#if this.on_board_or_alt}}
            <button class='btn btn-default access {{if this.boardPickerVisible "board-picker-btn--open"}}' id="home_button" {{action (if this.boardPickerVisible "closeBoardPicker" "openBoardPicker")}} style='position: relative;' aria-label={{t "My Boards" key="my_boards"}} aria-expanded={{if this.boardPickerVisible "true" "false"}}>
              {{#if this.boardPickerVisible}}
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2.5" stroke-linecap="round" width="20" height="20" aria-hidden="true" style="pointer-events: none; display: block;">
                  <line x1="18" y1="6" x2="6" y2="18"/><line x1="6" y1="6" x2="18" y2="18"/>
                </svg>
              {{else}}
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="22" height="22" aria-hidden="true" style="pointer-events: none; display: block;">
                  <path fill-rule="evenodd" d="M3 3h8v8H3V3zm10 0h8v8h-8V3zM3 13h8v8H3v-8zm10 0h8v8h-8v-8z" clip-rule="evenodd"/>
                </svg>
              {{/if}}
            </button>
          {{else}}
            <button class={{if this.on_home "btn btn-default access dim" "btn btn-default access"}} id="home_button" {{action "home"}} style='position: relative;'>
              <span class="sr-only">{{t "Home" key="home"}}</span>
              <span class="glyphicon glyphicon-home button_icon"></span>
              {{#unless this.app_state.eval_mode}}
                {{#if this.stashes.temporary_root_board_state}}
                  <span class="glyphicon glyphicon-lock" style="float: left; width: 0; height: 0; color: #aaa; margin-top: 15px; margin-left: -5px;" title={{t "Home or Board Lock Set" key="home_or_board_lock_set"}}></span>
                {{else if this.stashes.sticky_board}}
                  <span class="glyphicon glyphicon-lock" style="float: left; width: 0; height: 0; color: #aaa; margin-top: 15px; margin-left: -5px;" title={{t "Board Lock Set" key="board_lock_set"}}></span>
                {{/if}}
              {{/unless}}
            </button>
          {{/if}}
        {{/triple-click-listener}}
      </span>
      {{#if this.show_back}}
        <button class="btn btn-default access skinnier" id="back_button" {{action "back"}}>
          <span class="sr-only">{{t "Back" key="back"}}</span>
          <span class="glyphicon glyphicon-arrow-left button_icon"></span>
        </button>
      {{/if}}
      <div class="speak-bar__button-list-wrap">
        <a href='#' tabindex="0" id="button_list" class={{this.button_list_class}} {{ action "vocalize" on="select"}} data-placement="bottom" data-trigger="manual">
          {{#unless this.app_state.button_list}}
            {{#if this.app_state.embedded}}
              <div style='float: left; margin: 5px; opacity: 0.7;'>
                {{app-logo size="xs" imgAlt="LingoLinq"}}
                {{t "Powered by %app_name%" key="powered_by_app"}}
              </div>
            {{else if this.app_state.currentUser.preferences.blank_status}}
              <div id="blank_status" class='text-muted'>
                {{time this.app_state.current_time}}
                {{#if this.app_state.battery.level}}
                  <div class="progress">
                    <div class={{this.app_state.battery.progress_class}} role="progressbar" aria-valuenow={{this.app_state.battery.level}} aria-valuemin="0" aria-valuemax="100" style={{this.app_state.battery.progress_style}}>
                      {{#if this.app_state.battery.charging}}
                        <span class="glyphicon glyphicon-flash"></span>
                      {{/if}}
                      <span class="sr-only">{{t "%{pct}% battery" key="percent_battery" pct=this.app_state.battery.level}} {{#if this.app_state.battery.charging}}{{t "charging" key="charging"}}{{/if}}</span>
                    </div>
                    {{#if this.app_state.battery.low}}
                      {{#unless this.app_state.battery.charging}}
                        <span class="glyphicon glyphicon-exclamation-sign" style="margin-top: 2px;"></span>
                      {{/unless}}
                    {{/if}}
                  </div>
                {{/if}}
                {{#if this.show_board_intro}}
                  <div {{action "board_intro"}} class='extra-btn' style='position: absolute; top: 3px; bottom: 3px; border: 1px solid #ccc;  background: #eee; margin-top: 0; margin-bottom: 0; border-radius: 5px; padding: 5px 10px; max-height: 75px; cursor: pointer;'>
                    <img src={{path "images/learn.png"}} style='height: 100%; max-height: 50px;'>
                    {{t "Intro" key="intro"}}
                  </div>
                {{else if this.app_state.eye_gaze_state}}
                  <div class="eye_status" title={{this.app_state.eye_gaze_state.status}}>
                    {{#if this.app_state.eye_gaze_state.active}}
                      <span class="glyphicon glyphicon-eye-open"></span>
                    {{else if this.app_state.eye_gaze_state.dormant}}
                      <span class="glyphicon glyphicon-eye-open" style='opacity: 0.4;'></span>
                    {{else}}
                      <span class="glyphicon glyphicon-eye-close text-muted"></span>
                    {{/if}}
                  </div>
                {{/if}}
              </div>
            {{/if}}
          {{/unless}}
          {{#let this.app_state.button_list as |button_list|}}
            {{button-list buttonList=button_list}}
          {{/let}}
        </a>
        {{#unless this.app_state.eval_mode}}
          {{#unless this.app_state.currentUser.preferences.device.disable_speak_options}}
            <button class="btn btn-default pass_to_btn_list" {{action "speakOptions"}} id="speak_options">
              {{#if this.app_state.referenced_user.unread_alerts}}
                <span class='label label-danger' style='position: absolute; top: -5px; right: -5px; border-radius: 10px;'>{{this.app_state.referenced_user.unread_alerts}}</span>
              {{else if this.app_state.referenced_user.request_alert}}
                <span class='label label-danger' style='position: absolute; top: -5px; right: -5px; border-radius: 10px;'>*</span>
              {{/if}}
              <span class="sr-only">{{t "speak options" key="speak_options"}}</span><span class="glyphicon glyphicon-chevron-down"></span>
            </button>
          {{/unless}}
        {{/unless}}
        {{#unless this.app_state.eval_mode}}
          {{#if this.app_state.pairing}}
            <button class={{if this.app_state.pairing.user.online "btn over pair access online" "btn over pair access"}} {{action "remote_modeling"}} id='reply_icon'>
              {{#if this.app_state.pairing.model}}
                <span class='glyphicon glyphicon-road'></span>
              {{else}}
                <span class='glyphicon glyphicon-search'></span>
              {{/if}}
              {{#if this.app_state.pairing.user}}
                <img src={{this.app_state.pairing.user.avatar_url_with_fallback}} >
              {{/if}}
            </button>
          {{else if this.app_state.reply_note}}
            <div class='label label-info over' id='reply_icon'><span class='glyphicon glyphicon-envelope'></span></div>
          {{else if this.app_state.inflection_shift}}
            <div class='label label-info over' id='reply_icon'><span class='glyphicon glyphicon-adjust'></span></div>
          {{else if this.app_state.insertion}}
            <div class='label label-info over' id='reply_icon'><span class='glyphicon glyphicon-console'></span></div>
          {{else if this.app_state.flipped}}
            <div class='label label-info over' id='reply_icon'><span class='glyphicon glyphicon-repeat'></span></div>
          {{else if this.app_state.followers.active}}
            <div class='label label-info over clear' id='reply_icon'>
              {{#each this.app_state.followers.active as |user|}}
                <img src={{user.avatar_url}} class='follower' >
              {{/each}}
            </div>
          {{else if this.app_state.clearable_history}}
            <div class='label label-warning over' id='reply_icon' style='width: 60px; margin-right: -65px; border-radius: 10px;'><span class='glyphicon glyphicon-remove'></span> {{this.app_state.clearable_history}}</div>
          {{else if this.app_state.shift}}
            <div class='label label-info over' id='reply_icon'><span class='glyphicon glyphicon-font'></span></div>
          {{/if}}
        {{/unless}}
      </div>
      {{#unless this.app_state.button_list}}
        {{#if this.app_state.currentUser.preferences.blank_status}}
          {{#unless this.app_state.eval_mode}}
            <!-- TODO: these popups should be dwellable, but if opened via dwell they should auto-close after like ten seconds -->
            <button id='speak_mode_notification' class='btn btn-default' {{action "speak_mode_notification"}}>
              {{#if this.stashes.board_level}}
                <span style='color: #ddd; font-size: 12px; position: absolute; top: 3px; text-align: right;'>L{{this.stashes.board_level}}</span>
              {{/if}}
              {{#if this.app_state.speak_mode_modeling_ideas.enabled}}
                <span class='notification' style='height: 100%; position: absolute; top: 5px; left: 0; right: 0; bottom: 5px; height: auto;'>
                  <img src={{path "images/modeling_ideas.svg"}} style='height: 100%; width: 100%; opacity: 0.7;' class='fit_image'>
                  {{#if this.app_state.speak_mode_modeling_ideas.word}}
                    <div style='position: absolute; left: 0; top: 3px; width: 100%; text-align: center;'>
                      <span style='border: 3px solid rgba(255, 255, 255, 0.7); border-radius: 3px;'>
                        <span style='background: rgba(255, 255, 255, 0.9);'>"{{this.app_state.speak_mode_modeling_ideas.word}}"</span>
                      </span>
                    </div>
                  {{/if}}
                </span>
              {{else if this.app_state.user_badge}}
                <span class='notification'>
                  {{#if this.app_state.user_badge.earned}}
                    {{badge-earned badge=this.app_state.user_badge inline=true}}
                  {{else}}
                    {{badge-progress badge=this.app_state.user_badge inline=true}}
                  {{/if}}
                </span>
              {{else if this.app_state.speak_mode_modeling_ideas.timeout}}
                <span class='notification' style='height: 100%; position: absolute; top: 5px; left: 0; right: 0; bottom: 5px; height: auto;'>
                  <img src={{path "images/modeling_ideas.svg"}} style='height: 100%; width: 100%; opacity: 0.3;' class='fit_image'>
                </span>
              {{/if}}
            </button>
          {{/unless}}
        {{/if}}
      {{/unless}}
      <button class="btn btn-default access skinnier" id="backspace_button" {{action "backspace"}}>
        <span class="sr-only">{{t "backspace" key="backspace_lower"}}</span>
        <img src={{path "images/delete.svg"}}>
      </button>
      {{#triple-click-listener triple_click="toggle_modeling"}}
        <button class="btn btn-default access" id="clear_button" {{action "clear"}} style='position: relative;'>
          <span class="sr-only">{{t "clear" key="clear_lower"}}</span>
          <span class="glyphicon glyphicon-remove button_icon" style="margin: 5px -5px 0;"></span>
          {{#if this.app_state.modeling}}
            <div style="position: absolute; bottom: 2px; left: 2px;">
              <span class="glyphicon glyphicon-hand-up"></span>
            </div>
          {{/if}}
        </button>
      {{/triple-click-listener}}
    </span>
  {{else}}
    <span id="nav_header" class={{this.app_state.nav_header_class}}>
    {{#if this.app_state.currentUser}}
      {{#unless this.app_state.speak_mode}}
        {{#unless this.app_state.edit_mode}}
          {{#unless this.app_state.embedded}}
            {{#unless this.showBentoStyleHeader}}
              {{! Hide Help when on a board in normal mode so Done with Boards is flush left }}
              {{#if this.app_state.currentBoardState.id}}
                {{! On board, not edit: no Help (normal mode bar) }}
              {{/if}}
            {{/unless}}
          {{/unless}}
        {{/unless}}
      {{/unless}}
    {{/if}}
    {{#if this.app_state.currentUser.single_org.image_url}}
      {{#if this.showBentoStyleHeader}}
        {{#unless (is-equal this.app_state.current_route "landing")}}
          <img style="position: absolute; top: 50px; left: 19px; width: 50px; height: 50px; border-radius: 50px; object-fit: contain; object-position: center;" src={{this.app_state.currentUser.single_org.image_url}} onerror="this.style.display='none';">
        {{/unless}}
      {{/if}}
    {{/if}}
    <h1 class={{this.app_state.h1_class}} style='position: relative; z-index: 1;'>

      <span class="nav-header__brand">
        <a href="#" {{action "index"}} class="nav-header__logo-link">
          <img src={{if this.app_state.domain_settings.logo_url this.app_state.domain_settings.logo_url (path "images/LL_Logo_Line_Bright.png")}} alt="LingoLinq" class="nav-header__logo-svg">
        </a>
      </span>
    </h1>
    {{#if this.app_state.currentBoardState.id}}
      {{#unless this.app_state.edit_mode}}
        {{! Done with Boards + normal_mode + board_id in flex layout: col1 = Done (2 rows), col2 = normal_mode then board_id }}
        <div class="nav-header__board-bar">
        <button id='board_done' class='btn btn-default' {{action "back_to_from_route"}}>
          {{#if this.on_board_alt}}
            <span class='board-done__exit-icon'></span>
            <span class='board-done__exit-label'>{{t "Exit Boards" key="exit_boards"}}</span>
          {{else}}
            <span style='font-size: 30px; line-height: 14px; vertical-align: bottom; padding-right: 5px;'>&times;</span>
            <span style='font-size: 16px;'>{{t "Done" key="done"}}</span>
            <span style='font-size: 11px; display: block; padding-left: 27px; margin-top: -4px;'>{{t "with boards" key="with_boards"}}</span>
          {{/if}}
        </button>
        <div class="nav-header__board-bar-right">
        <span id="normal_mode">
          {{#unless this.app_state.empty_board_history}}
            <a class="btn btn-default" href="#" {{action "back"}}>
              <span class="glyphicon glyphicon-arrow-left"></span>
              <span class="hidden">{{t "back" key="back_lower"}}</span>
            </a>
          {{/unless}}
          {{#if this.app_state.currentBoardState.id}}
            {{#if this.simple_board_header}}
              <a class="btn btn-default" href="#" {{action "toggleSpeakMode" "goBrowsedHome"}} id="speak_mode" data-placement="bottom" data-trigger="manual">
                <span class="wide">{{t "Try in Speak Mode" key="try_in_speak_mode"}}</span><span class="skinny real_skinny glyphicon glyphicon-volume-up"></span>
              </a>
              {{#if this.app_state.currentUser}}
                {{#if this.app_state.root_board_is_home}}
                  <a class="btn btn-default" href="#" {{action "setAsHome" "starting"}}>
                    <span class="wide"><span class='glyphicon glyphicon-ok'></span> {{t "Set as Home Board" key="set_as_home_board"}}</span><span class="skinny real_skinny glyphicon glyphicon-home"></span>
                  </a>
                {{else}}
                  <a class="btn btn-primary" href="#" {{action "setAsHome" "starting"}}>
                    <span class="wide">{{t "Make This my Home Board" key="make_home_board"}}</span><span class="skinny real_skinny glyphicon glyphicon-home"></span>
                  </a>
                {{/if}}
              {{/if}}
            {{else}}
              {{#if this.app_state.speak_mode_possible}}
                {{#if this.app_state.currentUser.supporter_view}}
                  <div class="btn-group">
                    <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#" id="speak_mode" data-placement="bottom" data-trigger="manual">
                      <span class="wide">{{t "Speak Mode" key="speak_mode"}}</span><span class="skinny real_skinny glyphicon glyphicon-volume-up"></span>
                      <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                      {{#if this.app_state.currentUser.communicator_in_supporter_view}}
                        <li><a href="#" {{action "setSpeakModeUser" "self" "modeling"}}>{{t "model for me" key="model_for_me"}}</a></li>
                      {{/if}}
                      <li><a href="#" {{action "setSpeakModeUser" "self"}}>{{t "speak as me" key="speak_as_me"}}</a></li>
                      {{#if this.app_state.currentUser.permissions.delete}}
                        {{#if this.few_supervisees}}
                          {{#each this.few_supervisees.list as |supervisee|}}
                            <li><a href="#" {{action "setSpeakModeUser" supervisee.id "modeling"}}>{{t "model for" key="model_for_lower"}} {{supervisee.user_name}}</a></li>
                            <li><a href="#" {{action "setSpeakModeUser" supervisee.id}}>{{t "speak as" key="speak_as_lower"}} {{supervisee.user_name}}</a></li>
                          {{/each}}
                          {{#if this.few_supervisees.more}}
                            <li><a href="#" {{action "pickSpeakModeUser" "modeling"}}>{{t "model for..." key="model_for_ellipsis"}}</a></li>
                            <li><a href="#" {{action "pickSpeakModeUser" "speak"}}>{{t "speak as..." key="speak_as_ellipsis"}}</a></li>
                          {{/if}}
                        {{else}}
                          <li><a href="#" {{action "pickSpeakModeUser" "modeling"}}>{{t "model for..." key="model_for_ellipsis"}}</a></li>
                          <li><a href="#" {{action "pickSpeakModeUser" "speak"}}>{{t "speak as..." key="speak_as_ellipsis"}}</a></li>
                        {{/if}}
                      {{/if}}
                    </ul>
                  </div>
                {{else}}
                  <a class="btn btn-primary" href="#" {{action "toggleSpeakMode"}} id="speak_mode" data-placement="bottom" data-trigger="manual">
                    <span class="wide">{{t "Speak Mode" key="speak_mode"}}</span><span class="skinny real_skinny glyphicon glyphicon-volume-up"></span>
                  </a>
                {{/if}}
              {{/if}}
              {{#if this.app_state.currentUser}}

                {{#if this.board.model.levels}}
                  {{#if this.app_state.feature_flags.board_levels}}
                    <span class="dropdown" style="display: inline-block;">
                      <a class='btn btn-default' id='level_dropdown' data-toggle="dropdown" href="#" >
                        <span style='padding: 8px; border-radius: 100px; border: 1px solid #96ceff; background: #eaf5ff; margin-left: -5px'>L{{this.board.current_level}}</span>
                        <b class="caret"></b>
                      </a>
                      <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <li role="presentation">
                          <button class='skippy btn btn-default' {{action "adjust_level" "minus"}}><span class='glyphicon glyphicon-minus'></span></button>
                          <span style='display: inline-block; width: 200px; vertical-align: top; text-align: center;'>
                            {{t "Board Communication" key="board_level"}}<br>
                            {{#if this.level_description}}
                              <b>{{t "Level" key="level"}} {{this.level_description}}</b>
                            {{else}}
                              <b>{{t "Level" key="level"}} {{this.board.current_level}}</b>
                            {{/if}}
                            {{#if this.level_buttons}}
                              <div style='font-size: 12px;'>{{t "visible button" key="n_visible_buttons" count=this.level_buttons}}</div>
                            {{/if}}
                          </span>
                          <button class='skippy btn btn-default' {{action "adjust_level" "plus"}}><span class='glyphicon glyphicon-plus'></span></button>
                        </li>
                        <li>
                          <div style='width: calc(100% - 10px); font-size: 12px; white-space: normal; margin: 15px 10px 5px;'>
                            {{t "Some boards are built with progressive levels in mind, so you can start basic and grow the vocabulary over time without having to rebuild everything. Find a level that works for your communicator, you can easily change it later." key="board_levels_explainer"}}
                          </div>
                        </li>
                        {{#if this.board.model.has_overrides}}
                          {{#if this.board.model.permissions.edit}}
                            <li>
                              <button class='btn btn-default' style='width: 100%;' {{action "clear_overrides"}}>{{t "Clear Level Overrides" key="clear_level_overrides"}}</button>
                            </li>
                          {{/if}}
                        {{/if}}
                      </ul>
                    </span>
                  {{/if}}
                {{else}}
                  {{#if this.board.model.multiple_copies}}
                    <span style="margin-right: -1px;">
                    <a href="#" class='btn btn-info' {{action "list_copies"}}>
                      <span class="wide">{{t "Copies" key="copies"}}</span><span class="skinny real_skinny glyphicon glyphicon-file"></span>
                    </a>
                    </span>
                  {{else if this.board.model.copy.key}}
                    <!-- TODO: no idea why this is necessary -->
                    <span style="margin-right: -1px;">
                    <LinkTo @route="board" @model={{this.board.model.copy.key}} class="btn btn-info">
                      <span class="wide">{{t "My Copy" key="my_copy"}}</span><span class="skinny real_skinny glyphicon glyphicon-file"></span>
                    </LinkTo>
                    </span>
                  {{else if this.board.model.original.key}}
                    <!-- TODO: no idea why this is necessary -->
                    <span style="margin-right: -1px;">
                    <LinkTo @route="board" @model={{this.board.model.original.key}} class="btn btn-info">
                      <span class="wide">{{t "Original" key="original"}}</span><span class="skinny real_skinny glyphicon glyphicon-certificate"></span>
                    </LinkTo>
                    </span>
                  {{/if}}
                {{/if}}

                {{#if this.app_state.currentBoardState.translatable}}
                  <span class="dropdown" style="display: inline-block;">
                    <a class='btn btn-default' data-toggle="dropdown" href="#" >
                      <span class='glyphicon glyphicon-globe'></span>
                      {{this.app_state.label_locale}}
                      <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                      {{#each this.board.model.readable_locales as |loc|}}
                        <li role="presentation">
                          <a role="menuitem" tabindex="-1" href="#" {{action "set_locale" loc.locale}}>{{loc.string}}</a>
                        </li>
                      {{/each}}
                    </ul>
                  </span>
                {{/if}}

                {{#if this.board.model.permissions.edit}}
                  <a class='btn btn-default not_really_skinny' href="#" {{action "toggleEditMode"}}>
                    <span class="wide">{{t "Edit Board" key="edit_board"}}</span><span class="skinny real_skinny glyphicon glyphicon-pencil"></span>
                  </a>
                {{else if this.board.model.for_sale}}
                  <a class='btn btn-default not_really_skinny' href="#" {{action "purchase_board"}}>
                    <span class="wide">{{t "Purchase Board" key="purchase_board"}}</span><span class="skinny real_skinny glyphicon glyphicon-usd"></span>
                  </a>
                {{else}}
                  {{#unless this.board.model.uncopyable}}
                    <a class='btn btn-default not_really_skinny' href="#" {{action "toggleEditMode"}}>
                      <span class="wide">{{t "Edit Board" key="edit_board"}}</span><span class="skinny real_skinny glyphicon glyphicon-pencil"></span>
                    </a>
                  {{/unless}}
                {{/if}}
                {{#unless this.app_state.current_board_is_home}}
                  {{#unless this.app_state.currentUser.preferences.home_board}}
                    <a class="btn btn-default" href="#" {{action "setAsHome"}}>
                      <span class="wide">{{t "Set as Home" key="set_as_home"}}</span><span class="skinny real_skinny glyphicon glyphicon-home"></span>
                    </a>
                  {{/unless}}
                {{/unless}}
              {{/if}}
              {{#unless this.board.model.uncopyable}}
                {{#if this.app_state.currentUser}}
                  <a class='btn btn-default medium_skinny not_really_skinny' href="#" {{action "star"}}>
                    <img src={{this.board.starImage}} alt={{this.board.starAlt}} style="margin-top: -5px; width: 20px;">
                    <span class="wide">{{t "Like" key="star"}}</span> <span class="badge">{{this.board.stars}}</span>
                  </a>
                {{else}}
                  <span class='btn btn-default not_really_skinny' href="#">
                    <img src={{this.board.starImage}} alt={{this.board.starAlt}} style="margin-top: -5px; width: 20px;">
                    <span class="wide">{{t "Like" key="star"}}</span> <span class="badge">{{this.board.stars}}</span>
                  </span>
                {{/if}}
                {{#if this.board.model.shareable}}
                  <a class='btn btn-default' href="#" {{action "shareBoard"}}>
                    <span class="wide">{{t "Share" key="share"}}</span><span class="skinny real_skinny glyphicon glyphicon-share"></span>
                  </a>
                {{/if}}
              {{/unless}}
              <span class="dropdown" style="display: inline-block;">
                <a class='btn btn-default' href="#" data-toggle="dropdown">
                  <span class="wide">{{t "More" key="more"}} <b class="caret"></b></span><span class="skinny real_skinny glyphicon glyphicon-chevron-down"></span>
                </a>
                <ul class="dropdown-menu skinny-right" role="menu" aria-labelledby="dLabel">
                  <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="#" {{action "boardDetails"}}>{{t "Board Details" key="board_details"}}</a>
                  </li>
                  {{#unless this.board.model.uncopyable}}
                    {{#if this.app_state.currentUser}}
                      {{#if this.board.model.permissions.edit}}
                        <li role="presentation">
                          <a role="menuitem" tabindex="-1" href="#" {{action "toggleEditMode"}}>{{t "Edit Board" key="edit_board"}}</a>
                        </li>
                      {{/if}}
                      <li role="presentation">
                        <a role="menuitem" tabindex="-1" href="#" {{action "tweakBoard"}}>{{t "Make a Copy" key="make_copy"}}</a>
                      </li>
                      {{#if this.app_state.current_board_not_home_or_supervising}}
                        <li role="presentation">
                          <a role="menuitem" tabindex="-1" href="#" {{action "setAsHome"}}>{{t "Set as Home Board" key="set_as_home_board"}}</a>
                        </li>
                      {{/if}}
                      <li role="presentation">
                          <a role="menuitem" tabindex="-1" href="#" {{action "add_to_sidebar"}}>{{t "Add to Sidebar" key="add_to_sidebar"}}</a>
                      </li>
                    {{/if}}
                    {{#unless this.app_state.feature_flags.other_menu}}
                    <li role="presentation">
                      <a role="menuitem" tabindex="-1" href="#" {{action "downloadBoard"}}>{{t "Download Board" key="download_board"}}</a>
                    </li>
                    {{/unless}}
                    <li role="presentation">
                      <a role="menuitem" tabindex="-1" href="#" {{action "printBoard"}}>{{t "Print Board" key="print_board"}}</a>
                    </li>
                    {{#if this.board.model.local_only}}
                      {{#if this.board.model.editable_source_key}} 
                          <li role="presentation">
                            <LinkTo @route="board" @model={{this.board.model.editable_source_key}} role="menuitem" tabindex="-1">{{t "Editable Version" key="editable_version"}}</LinkTo>
                          </li>
                      {{/if}}
                    {{else}}
                      {{#if this.board.model.levels}}
                        {{#if this.board.model.multiple_copies}}
                          <li role="presentation">
                            <a role='menuitem' tabindex='-1' href="#" {{action "list_copies"}}>{{t "View Copies" key="view_copies"}}</a>
                          </li>
                        {{else if this.board.model.copy.key}}
                          <li role="presentation">
                            <LinkTo @route="board" @model={{this.board.model.copy.key}} role="menuitem" tabindex="-1">{{t "View My Copy" key="view_my_copy"}}</LinkTo>
                          </li>
                        {{else if this.board.model.original.key}}
                          <li role="presentation">
                            <LinkTo @route="board" @model={{this.board.model.original.key}} role="menuitem" tabindex="-1">{{t "View Original" key="original_board"}}</LinkTo>
                          </li>
                        {{/if}}
                      {{/if}}
                    {{/if}}
                    {{#if this.app_state.feature_flags.other_menu}}
                      <li role="presentation">
                        <a role="menuitem" tabindex="-1" href="#" {{action "board_actions"}}>{{t "Other Actions" key="other_actions"}}</a>
                      </li>
                    {{/if}}
                  {{/unless}}
                </ul>
              </span>
            {{/if}}
          {{/if}}

          {{!-- Hamburger menu for small screens --}}
          <button class="la-board-hamburger" type="button" {{action "toggleBoardMenu"}} aria-label={{t "Menu" key="menu"}}>
            <span class="la-board-hamburger__bar"></span>
            <span class="la-board-hamburger__bar"></span>
            <span class="la-board-hamburger__bar"></span>
          </button>
          {{#if this.boardMenuOpen}}
            <div class="la-board-mobile-menu">
              {{#if this.board.model.permissions.edit}}
                <button type="button" class="la-board-mobile-menu__item" {{action "toggleEditMode"}}>
                  <span class="glyphicon glyphicon-pencil"></span>
                  {{t "Edit Board" key="edit_board"}}
                </button>
              {{/if}}
              {{#if this.app_state.current_board_not_home_or_supervising}}
                <button type="button" class="la-board-mobile-menu__item" {{action "setAsHome"}}>
                  <span class="glyphicon glyphicon-home"></span>
                  {{t "Set as Home" key="set_as_home"}}
                </button>
              {{/if}}
              {{#unless this.board.model.uncopyable}}
                {{#if this.app_state.currentUser}}
                  <button type="button" class="la-board-mobile-menu__item" {{action "star"}}>
                    <img src={{this.board.starImage}} alt="" style="width: 16px; height: 16px;">
                    {{t "Like" key="star"}}
                  </button>
                {{/if}}
                {{#if this.board.model.shareable}}
                  <button type="button" class="la-board-mobile-menu__item" {{action "shareBoard"}}>
                    <span class="glyphicon glyphicon-share"></span>
                    {{t "Share" key="share"}}
                  </button>
                {{/if}}
              {{/unless}}
              <div class="la-board-mobile-menu__divider"></div>
              <button type="button" class="la-board-mobile-menu__item" {{action "boardDetails"}}>
                <span class="glyphicon glyphicon-info-sign"></span>
                {{t "Board Details" key="board_details"}}
              </button>
              {{#unless this.board.model.uncopyable}}
                {{#if this.app_state.currentUser}}
                  <button type="button" class="la-board-mobile-menu__item" {{action "tweakBoard"}}>
                    <span class="glyphicon glyphicon-duplicate"></span>
                    {{t "Make a Copy" key="make_copy"}}
                  </button>
                {{/if}}
                <button type="button" class="la-board-mobile-menu__item" {{action "downloadBoard"}}>
                  <span class="glyphicon glyphicon-cloud-download"></span>
                  {{t "Download Board" key="download_board"}}
                </button>
                <button type="button" class="la-board-mobile-menu__item" {{action "printBoard"}}>
                  <span class="glyphicon glyphicon-print"></span>
                  {{t "Print Board" key="print_board"}}
                </button>
              {{/unless}}
              <div class="la-board-mobile-menu__divider"></div>
              <button type="button" class="la-board-mobile-menu__item la-board-mobile-menu__item--exit" {{action "exitBoards"}}>
                <span class="glyphicon glyphicon-log-out"></span>
                {{t "Exit Boards" key="exit_boards"}}
              </button>
            </div>
          {{/if}}
        </span>
        <span id="board_id">
          {{#if this.app_state.current_board_is_home}}
            <img src="https://opensymbols.s3.amazonaws.com/libraries/noun-project/Home-c167425c69.svg" style="height: 17px; width: 17px; vertical-align: bottom;">
          {{else}}
            {{#if this.board.model.image_url}}
              <img src={{this.board.model.image_url}} style="width: 17px; height: 17px; vertical-align: bottom;">
            {{else}}
              <span style="display: inline-block; height: 30px;"></span>
            {{/if}}
          {{/if}}
          {{#if this.app_state.current_board_in_board_set}}
            <span class="glyphicon glyphicon-align-justify" title={{t "in the user's board set" key="in_board_set"}}></span>
          {{else if this.app_state.current_board_in_extended_board_set}}
            <span class="glyphicon glyphicon-list" title={{t "in a supervisee's board set" key="in_supervisee_board_set"}}></span>
          {{/if}}

          {{#if this.app_state.currentBoardState.integration_name}}
            {{this.app_state.currentBoardState.integration_name}}
          {{else}}
            {{#if this.board.model.local_only}}
              {{this.app_state.current_board_user_name}} / 
            {{else}}
              <LinkTo @route="user" @model={{this.app_state.current_board_user_name}}>{{this.app_state.current_board_user_name}}</LinkTo> /
            {{/if}}
            {{this.app_state.current_board_name}}
          {{/if}}
          {{#if this.stashes.board_level}}
            <span style='margin-left: 5px;'>L{{this.stashes.board_level}}</span>
          {{/if}}
        </span>
        </div>
        </div>
      {{/unless}}
    {{else if this.app_state.currentUser.single_org}}
      {{#unless this.showBentoStyleHeader}}
        {{#unless (is-equal this.app_state.current_route "landing")}}
          <div id='org_name'>
            {{this.app_state.currentUser.single_org.name}}
            <span class="nav-header__org-sep" aria-hidden="true"> · </span>
            <span class="nav-header__user-home"><span class="nav-header__user-name">{{this.app_state.currentUser.user_name}}</span><span class="nav-header__org-sep" aria-hidden="true"> · </span>{{t "Home Page" key="home_page"}}</span>
          </div>
        {{/unless}}
      {{/unless}}
    {{/if}}
    {{#if this.app_state.empty_header}}
      {{#if this.isSessionAuthenticated}}
      {{#unless (is-equal this.app_state.current_route "landing")}}
        {{#if (persistence-online)}}
          {{#unless this.app_state.super_no_linky}}
            {{#if this.allow_search}}
              <form id="header_search" {{action "searchBoards" on="submit"}}>
                <div class="header-search-wrap">
                  <Input @type="text" @value={{this.searchString}} @enter={{action "searchBoards"}} class="form-control header-search-input" placeholder={{t "Search Boards" key="search_boards"}} />
                  <button type="submit" class="header-search-btn" aria-label={{t "Search Boards" key="search_boards"}} title={{t "Search Boards" key="search_boards"}}>
                    <svg class="header-search-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="18" height="18" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><circle cx="11" cy="11" r="8"/><path d="m21 21-4.35-4.35"/></svg>
                  </button>
                </div>
              </form>
            {{/if}}
          {{/unless}}
        {{/if}}
      {{/unless}}
      {{/if}}
    {{/if}}
    {{#unless this.isSessionAuthenticated}}
      {{#unless this.app_state.installed_app}}
        {{#unless this.app_state.embedded}}
          {{#unless this.app_state.no_linky}}
            <div class="la-topbar-nav header-unauth-nav" role="menubar" aria-label={{t "Page sections" key='fsa_page_sections'}}>
              <LinkTo @route="features" class="la-topbar-link" role="menuitem">{{t "Features" key='fsa_nav_features'}}</LinkTo>
              {{!-- <LinkTo @route="pricing" class="la-topbar-link" role="menuitem">{{t "Pricing" key='fsa_nav_pricing'}}</LinkTo> --}}
              <LinkTo @route="about" class="la-topbar-link" role="menuitem">{{t "About" key='fsa_nav_about'}}</LinkTo>
            </div>
            <div class="la-topbar-right header-unauth-right">
              <LinkTo @route="login" class="la-topbar-sign-in">{{t "Sign In" key='login'}}</LinkTo>
              <LinkTo @route="register" class="la-topbar-cta">{{t "Try Free" key='fsa_try_free'}}</LinkTo>
              <button class="la-topbar-hamburger" type="button" aria-label={{t "Open menu" key='fsa_open_menu'}} {{action "toggleLandingNav"}}>
                <span class="la-topbar-hamburger__bar"></span>
                <span class="la-topbar-hamburger__bar"></span>
                <span class="la-topbar-hamburger__bar"></span>
              </button>
            </div>
            <LaMobileDrawer @isOpen={{this.landingNavOpen}} @onClose={{action "closeLandingNav"}}>
              <LinkTo @route="features" class="la-mobile-drawer__link">{{t "Features" key='fsa_nav_features'}}</LinkTo>
              {{!-- <LinkTo @route="pricing" class="la-mobile-drawer__link" {{action "closeLandingNav"}}>{{t "Pricing" key='fsa_nav_pricing'}}</LinkTo> --}}
              <LinkTo @route="about" class="la-mobile-drawer__link" {{action "closeLandingNav"}}>{{t "About" key='fsa_nav_about'}}</LinkTo>
              <div class="la-mobile-drawer__divider"></div>
              <LinkTo @route="login" class="la-mobile-drawer__link" {{action "closeLandingNav"}}>{{t "Sign In" key='login'}}</LinkTo>
              <LinkTo @route="register" class="la-mobile-drawer__link" {{action "closeLandingNav"}}>{{t "Register" key='register'}}</LinkTo>
              <LinkTo @route="register" class="la-mobile-drawer__cta" {{action "closeLandingNav"}}>{{t "Try Free" key='fsa_try_free'}} →</LinkTo>
            </LaMobileDrawer>
          {{/unless}}
        {{/unless}}
      {{/unless}}
    {{/unless}}
    {{#if this.app_state.edit_mode}}
      {{#if this.dragMode}}
        <button class="btn btn-default drag_button" id="edit_clear_button" style="position: relative; width: 300px;">
          {{t "Clear Button" key="clear_button"}}
        </button>
        <button class="btn btn-default drag_button" id="edit_stash_button" style="position: relative; width: 300px;">
          {{t "Copy Button to Stash" key="copy_button_to_stash"}}
        </button>
      {{else if this.board.preview_levels}}
        <button class="btn btn-default drag_button" {{action "shift_level" "down"}} style="position: relative; width: 50px;">
          <span class='glyphicon glyphicon-chevron-left'></span>
        </button>
        <span style='font-size: 20px; margin: 0 10px; width: 90px; display: inline-block; text-align: center;'>
          {{t "Level" key="level"}} {{this.board.current_level}}
        </span>
        <button class="btn btn-default drag_button" {{action "shift_level" "up"}} style="position: relative; width: 50px;">
          <span class='glyphicon glyphicon-chevron-right'></span>
        </button>
        <button class="btn btn-info" {{action "shift_level" "done"}} style="position: relative; width: 100px;">
          {{t "Done" key="done"}}
        </button>
      {{else}}
        <button class={{this.no_paint_mode_class}} {{action "noPaint"}}><span class='wide'>{{t "&nbsp;&nbsp;Edit&nbsp;&nbsp;" key="edit_padded"}}</span><span class='skinny glyphicon glyphicon-hand-up'></span></button>
        <span class="dropdown" style="display: inline-block;">
          <button class={{this.paint_mode_class}} data-toggle="dropdown">
            <span class="wide">{{t "Paint" key="paint"}}</span><span class="skinny glyphicon glyphicon-tint"></span>
            {{#if this.board.paint_mode}}
              {{this.board.paintColor}}
            {{/if}}
          </button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" style={{this.swatch_style}}>
            {{#each this.swatches as |swatch|}}
              <li role="presentation">
                <a role="menuitem" href="#" tabindex="-1" {{action "paint" swatch.fill swatch.border swatch.types}} style="float: left; width: 140px; clear: right; padding-top: 3px; padding-bottom: 3px;">
                  <span class="swatch" style={{swatch.style}}></span>
                  <span style="width: 70px; overflow: hidden; text-overflow: ellipsis; display: inline-block; vertical-align: top;">{{swatch.color}}</span>
                  <span class="text-muted" style="margin-left: 22px; display: block; margin-top: -5px; font-size: 14px; vertical-align: top;">
                    {{swatch.hint}}&nbsp;
                  </span>
                </a>
              </li>
              {{#if swatch.right_edge}}
                <!-- defined in app_state.extra_colored_keys -->
                {{#each swatch.extras as |extra|}}
                  <li role="presentation">
                    <a role="menuitem" href="#" tabindex="-1" {{action "paint" extra.fill extra.border extra.types}} style="float: left; width: 60px; clear: right; padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px;">
                      <span class="swatch" style={{extra.style}}></span>
                      <span class="text-muted" style="display: block; margin-top: -5px; font-size: 14px; vertical-align: top; white-space: nowrap; overflow: hidden; width: 40px;">
                        {{extra.label}}&nbsp;
                      </span>
                    </a>
                  </li>
                {{/each}}
                <div style='clear: left;'></div>
              {{/if}}
            {{/each}}
            <li role="presentation">
              <a role="menuitem" href="#" tabindex="-1" {{action "paint" "hide"}} style="float: left; width: 140px; clear: both;"><span class="glyphicon glyphicon-minus-sign"></span> {{t "Hide" key="hide_upper"}}</a>
              <a role="menuitem" href="#" tabindex="-1" {{action "paint" "show"}} style="float: left; width: 140px; clear: right;"><span class="glyphicon glyphicon-ok-sign"></span> {{t "Un-Hide" key="unhide"}}</a>
              <span style="clear: left;"></span>
            </li>
            <!-- TODO: painting text-only or w/ image -->
            <li role="presentation" class="text-muted">
              <a role="menuitem" href="#" tabindex="-1" {{action "paint" "close"}} style="float: left; width: 140px; clear: both;"><span class="glyphicon glyphicon-remove-sign"></span> {{t "De-Link" key="de_link"}}</a>
              <a role="menuitem" href="#" tabindex="-1" {{action "paint" "open"}} style="float: left; width: 140px; clear: right;"><span class="glyphicon glyphicon-plus-sign"></span> {{t "Re-Link" key="re_link"}}</a>
              <span style="clear: left;"></span>
            </li>
            {{#if this.app_state.feature_flags.board_levels}}
              <li role="presentation">
                <a role="menuitem" href="#" tabindex="-1" {{action "paint" "level"}}>
                  <span class="glyphicon glyphicon-signal"></span>
                  {{t "Level Modifications" key="level_modifications"}}
                </a>
              </li>
            {{/if}}
          </ul>
        </span>
        <span class="wide_placeholder" style="padding-right: 10px;"></span>
        <button class="btn btn-default wide" {{action "undoEdit"}} disabled={{this.board.noUndo}}><span class="wide">{{t "Undo" key="undo"}}</span><span class="skinny glyphicon glyphicon-backward"></span></button>
        <button class="btn btn-default wide" {{action "redoEdit"}} disabled={{this.board.noRedo}}><span class="wide">{{t "Redo" key="redo"}}</span><span class="skinny glyphicon glyphicon-forward"></span></button>
        <span class="dropdown" style="display: inline-block;">
          <button class="btn btn-default" data-toggle="dropdown"><span class="wide">{{t "Grid +/-" key="grid_plus_minus"}}</span><span class="skinny glyphicon glyphicon-th"></span></button>
          <ul class="dropdown-menu skinny_grid" role="menu" aria-labelledby="dLabel">
            <li role="presentation" id="grid_menuitem">
              <span style="display: block; width: 300px; height: 200px; position: relative;">
                <span style="position: absolute; top: 0px; left: 0; width: 100%; text-align: center;">
                  <span role="menuitem"><span class="glyphicon glyphicon-chevron-up"></span><span class="sr-only">{{t "Top Row "key="top_row"}}</span></span>
                  <a role="menuitem" tabindex="-1" href="#" {{action "modifyGrid" "add" "row" "top"}} class="btn btn-default"><span class="glyphicon glyphicon-plus"></span><span class="sr-only">{{t "Add Top Row" key="add_top_row"}}</span></a>
                  <a role="menuitem" tabindex="-1" href="#" {{action "modifyGrid" "remove" "row" "top"}} class="btn btn-default"><span class="glyphicon glyphicon-minus"></span><span class="sr-only">{{t "Remove Top Row" key="remove_top_row"}}</span></a>
                  <span role="menuitem"><span class="glyphicon glyphicon-chevron-up"></span></span>
                </span>
                <span style="position: absolute; top: 53px; width: 50%; right: 0; text-align: right; line-height: 45px;">
                  <a role="menuitem" tabindex="-1" href="#" {{action "modifyGrid" "add" "column" "right"}} class="btn btn-default"><span class="glyphicon glyphicon-plus"></span><span class="sr-only">{{t "Add Right Column" key="add_right_column"}}</span></a>
                  <span class="glyphicon glyphicon-chevron-right"></span><br>
                  <a role="menuitem" tabindex="-1" href="#" {{action "modifyGrid" "remove" "column" "right"}} class="btn btn-default"><span class="glyphicon glyphicon-minus"></span><span class="sr-only">{{t "Remove Right Column" key="remove_right_column"}}</span></a>
                  <span class="glyphicon glyphicon-chevron-right"></span>
                </span>
                <span style="position: absolute; top: 53px; width: 50%; left: 0; text-align: left; line-height: 45px;">
                  <span class="glyphicon glyphicon-chevron-left"></span>
                  <a role="menuitem" tabindex="-1" href="#" {{action "modifyGrid" "add" "column" "left"}} class="btn btn-default"><span class="glyphicon glyphicon-plus"></span><span class="sr-only">{{t "Add Left Column" key="add_left_column"}}</span></a><br>
                  <span class="glyphicon glyphicon-chevron-left"></span>
                  <a role="menuitem" tabindex="-1" href="#" {{action "modifyGrid" "remove" "column" "left"}} class="btn btn-default"><span class="glyphicon glyphicon-minus"></span><span class="sr-only">{{t "Remove Left Column" key="remove_left_column"}}</span></a>
                </span>
                <span style="position: absolute; top: 160px; left: 0; width: 100%; text-align: center;">
                  <span role="menuitem"><span class="glyphicon glyphicon-chevron-down"></span><span class="sr-only">{{t "Bottom Rowx" key="bottom_row"}}</span></span>
                  <a role="menuitem" tabindex="-1" href="#" {{action "modifyGrid" "add" "row" "bottom"}} class="btn btn-default"><span class="glyphicon glyphicon-plus"></span><span class="sr-only">{{t "Add Bottom Row" key="add_bottom_row"}}</span></a>
                  <a role="menuitem" tabindex="-1" href="#" {{action "modifyGrid" "remove" "row" "bottom"}} class="btn btn-default"><span class="glyphicon glyphicon-minus"></span><span class="sr-only">{{t "Remove Bottom Row" key="remove_bottom_row"}}</span></a>
                  <span role="menuitem"><span class="glyphicon glyphicon-chevron-down"></span></span>
                </span>
              </span>
            </li>
          </ul>
        </span>
        <button class="btn btn-default wide" {{action "suggestions"}}><span class="wide">{{t "Ideas" key="ideas"}}</span><span class="skinny glyphicon glyphicon-tasks"></span></button>
        <span class="dropdown" style="display: inline-block;">
          <button class="btn btn-default" data-toggle="dropdown"><span class="wide">{{t "More" key="more"}}</span><span class="skinny glyphicon glyphicon-wrench"></span> <span class='caret'></span></button>
          <ul class="dropdown-menu skinny_right" role="menu" aria-labelledby="dLabel">
            <li role="presentation" class={{this.undo_class}}>
              <a role="menuitem" href="#" tabindex="-1" {{action "undoEdit"}}>{{t "Undo" key="undo"}}</a>
            </li>
            <li role="presentation" class={{this.redo_class}}>
              <a role="menuitem" href="#" tabindex="-1" {{action "redoEdit"}} disabled="true">{{t "Redo" key="redo"}}</a>
            </li>
            <li role="presentation">
              <a role="menuitem" href="#" tabindex="-1" {{action "editBoardDetails"}}>{{t "Edit Name & Details" key="edit_details"}}</a>
            </li>
            <li role="presentation">
              <a role="menuitem" href="#" tabindex="-1" {{action "openButtonStash"}}>{{t "Button Stash" key="button_stash"}}</a>
            </li>
            {{#if this.board.button_levels}}
              <li role="presentation">
                <a role="menuitem" href="#" tabindex="-1" {{action "preview_levels"}}>{{t "Preview Levels" key="preview_levels"}}</a>
              </li>
            {{/if}}
            <li role="presentation really_skinny">
              <a role="menuitem" href="#" tabindex="-1" {{action "saveBoard"}}>{{t "Save Board" key="save_board"}}</a>
            </li>
            <li role="presentation really_skinny">
              <a role="menuitem" href="#" tabindex="-1" {{action "resetBoard"}}>{{t "Cancel Changes" key="cancel_changes"}}</a>
            </li>
          </ul>
        </span>
        <span class="not_really_skinny">
          <button class="btn btn-primary" {{action "saveBoard"}}><span class="wide">{{t "Save" key="save"}}{{#if this.board.model.multiple_locales}}{{#if this.board.model.button_locale}}<div style='height: 5px; margin-top: -5px; font-style: italic;'>( {{this.board.model.button_locale}} )</div>{{/if}}{{/if}}</span><span class="skinny glyphicon glyphicon-floppy-disk"></span></button>
          <button class="btn btn-default" {{action "resetBoard"}}><span class="wide">{{t "Cancel" key="cancel"}}</span><span class="skinny glyphicon glyphicon-remove"></span></button>
        </span>
      {{/if}}
    {{else}}
    {{/if}}
    </span>
  {{/if}}
    <span id="identity" class="{{if this.app_state.speak_mode "advanced_selection undwellable" "advanced_selection"}} {{if this.showBentoStyleHeader "identity-with-dark-toggle"}} {{unless this.app_state.speak_mode "app-navbar-auth-nav--desktop identity-with-dark-toggle"}}">
      {{#if this.app_state.speak_mode}}
      {{#if this.showBentoStyleHeader}}
        {{#unless this.app_state.eval_mode}}
            {{#if this.app_state.currentUser.user_name}}
            <LinkTo @route="user.home" @model={{this.app_state.currentUser.user_name}} class="ll-bento-help-btn ll-bento-help-btn--nav" aria-label={{t "Modern Dashboard" key="modern_dashboard"}} title={{t "Modern Dashboard" key="modern_dashboard"}}>
              <span class="ll-bento-help-btn__label">{{t "Modern Dashboard" key="modern_dashboard"}}</span>
            </LinkTo>
            {{/if}}
            {{#unless this.app_state.currentBoardState.id}}
            <button type="button" class="md-pillnav__upgrade-nav" aria-label={{t "Upgrade" key="upgrade"}} title={{t "Upgrade" key="upgrade"}} {{action "goUpgrade"}}>
              {{t "Upgrade" key="upgrade"}}
            </button>
            {{/unless}}
            <button class="md-iconbtn md-iconbtn--identity" type="button" aria-label={{t "Help" key="help"}} title={{t "Help" key="help"}} {{action "support"}}>
              ?
              <span class="md-iconbtn__label">{{t "Help" key="help"}}</span>
            </button>
          {{/unless}}
          <span class="bento-dark-toggle-wrap ll-bento-theme-picker-wrap" style="display: inline-block; position: relative;">
          {{#if this.showThemePicker}}
            <div class="ll-bento-theme-picker-backdrop" {{action "closeThemePicker"}} role="button" aria-label={{t "Close" key="close"}}></div>
            <div class="ll-bento-theme-picker ll-bento-theme-picker--open" role="dialog" aria-label={{t "Choose theme" key="choose_theme"}}>
              <div class="ll-bento-theme-picker__row">
              <div class="ll-bento-theme-picker__options">
                <button type="button" class="ll-bento-theme-picker__option {{if (is-equal this.app_state.themeMode "light") "ll-bento-theme-picker__option--active"}}" {{action "selectThemeMode" "light"}} title={{t "Light" key="light"}} aria-pressed={{is-equal this.app_state.themeMode "light"}}>
                  <span class="ll-bento-theme-picker__icon" aria-hidden="true"><svg class="ll-bento-theme-picker__light-teal-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="36" height="36"><defs><linearGradient id="ll-light-teal-grad-picker" x1="0%" y1="100%" x2="100%" y2="0%"><stop offset="0%" stop-color="#64b9bc"/><stop offset="100%" stop-color="#82afdc"/></linearGradient></defs><path fill="url(#ll-light-teal-grad-picker)" fill-rule="evenodd" d="M12 4.5L19.5 12 12 19.5 4.5 12 12 4.5z" clip-rule="evenodd"/></svg></span>
                </button>
                <button type="button" class="ll-bento-theme-picker__option {{if (is-equal this.app_state.themeMode "midDay") "ll-bento-theme-picker__option--active"}}" {{action "selectThemeMode" "midDay"}} title={{t "Midday" key="midday"}} aria-pressed={{is-equal this.app_state.themeMode "midDay"}}>
                  <span class="ll-bento-theme-picker__icon" aria-hidden="true"><svg class="ll-bento-theme-picker__midday-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="36" height="36"><defs><radialGradient id="ll-eclipse-sun-picker" cx="35%" cy="35%" r="65%"><stop offset="0%" stop-color="#ffe082"/><stop offset="25%" stop-color="#ffc107"/><stop offset="50%" stop-color="#ff8f00"/><stop offset="75%" stop-color="#e65100"/><stop offset="100%" stop-color="#bf360c"/></radialGradient><radialGradient id="ll-eclipse-moon-picker" cx="35%" cy="35%" r="65%"><stop offset="0%" stop-color="#d4dce8"/><stop offset="50%" stop-color="#a8b4c8"/><stop offset="100%" stop-color="#64748b"/></radialGradient></defs><path fill="url(#ll-eclipse-sun-picker)" fill-rule="evenodd" d="M20 12L15.7 10.5 17.66 6.34 13.5 8.3 12 4 10.5 8.3 6.34 6.34 8.3 10.5 4 12 8.3 13.5 6.34 17.66 10.5 15.7 12 20 13.5 15.7 17.66 17.66 15.7 13.5 20 12z" clip-rule="evenodd"/><circle cx="15" cy="12" r="5.5" fill="url(#ll-eclipse-moon-picker)"/></svg></span>
                </button>
                <button type="button" class="ll-bento-theme-picker__option {{if (is-equal this.app_state.themeMode "dark") "ll-bento-theme-picker__option--active"}}" {{action "selectThemeMode" "dark"}} title={{t "Dark" key="dark"}} aria-pressed={{is-equal this.app_state.themeMode "dark"}}>
                  <span class="ll-bento-theme-picker__icon" aria-hidden="true"><svg class="ll-bento-dark-toggle__moon-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><defs><radialGradient id="ll-moon-grad-picker" cx="35%" cy="35%" r="65%"><stop offset="0%" stop-color="#d4dce8"/><stop offset="50%" stop-color="#a8b4c8"/><stop offset="100%" stop-color="#64748b"/></radialGradient></defs><path fill="url(#ll-moon-grad-picker)" fill-rule="evenodd" d="M9.528 1.718a.75.75 0 01.162.819A8.97 8.97 0 009 6a9 9 0 009 9 8.97 8.97 0 003.463-.69.75.75 0 01.981.98 10.503 10.503 0 01-9.694 6.46c-5.799 0-10.5-4.701-10.5-10.5 0-4.368 2.667-8.112 6.46-9.694a.75.75 0 01.818.162z" clip-rule="evenodd"/></svg></span>
                </button>
                <button type="button" class="ll-bento-theme-picker__option {{if (is-equal this.app_state.themeMode "default") "ll-bento-theme-picker__option--active"}}" {{action "selectThemeMode" "default"}} title={{t "Default" key="default_theme"}} aria-pressed={{is-equal this.app_state.themeMode "default"}}>
                  <span class="ll-bento-theme-picker__icon" aria-hidden="true"><svg class="ll-bento-theme-picker__gold-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="36" height="36"><defs><linearGradient id="ll-gold-grad-picker" x1="0%" y1="100%" x2="100%" y2="0%"><stop offset="0%" stop-color="#4ECDC4"/><stop offset="50%" stop-color="#F0F0F0"/><stop offset="100%" stop-color="#FF6B47"/></linearGradient></defs><path fill="url(#ll-gold-grad-picker)" fill-rule="evenodd" d="M12 4.5L19.5 12 12 19.5 4.5 12 12 4.5z" clip-rule="evenodd"/></svg></span>
                </button>
              </div>
              </div>
            </div>
          {{/if}}
          <button type="button" class="ll-bento-dark-toggle ll-bento-dark-toggle--header" {{action "toggleThemePicker"}} aria-label={{t "Toggle theme" key="toggle_theme"}} title={{t "Toggle theme" key="toggle_theme"}} aria-expanded={{this.showThemePicker}} aria-haspopup="dialog">
            <span class="ll-bento-dark-toggle__icon" aria-hidden="true">{{#if this.app_state.darkMode}}<svg class="ll-bento-dark-toggle__moon-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="36" height="36"><defs><radialGradient id="ll-moon-grad" cx="35%" cy="35%" r="65%"><stop offset="0%" stop-color="#d4dce8"/><stop offset="50%" stop-color="#a8b4c8"/><stop offset="100%" stop-color="#64748b"/></radialGradient></defs><path fill="url(#ll-moon-grad)" fill-rule="evenodd" d="M9.528 1.718a.75.75 0 01.162.819A8.97 8.97 0 009 6a9 9 0 009 9 8.97 8.97 0 003.463-.69.75.75 0 01.981.98 10.503 10.503 0 01-9.694 6.46c-5.799 0-10.5-4.701-10.5-10.5 0-4.368 2.667-8.112 6.46-9.694a.75.75 0 01.818.162z" clip-rule="evenodd"/></svg>{{else if this.app_state.midDayMode}}<svg class="ll-bento-dark-toggle__midday-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="36" height="36"><defs><radialGradient id="ll-eclipse-sun" cx="35%" cy="35%" r="65%"><stop offset="0%" stop-color="#ffe082"/><stop offset="25%" stop-color="#ffc107"/><stop offset="50%" stop-color="#ff8f00"/><stop offset="75%" stop-color="#e65100"/><stop offset="100%" stop-color="#bf360c"/></radialGradient><radialGradient id="ll-eclipse-moon" cx="35%" cy="35%" r="65%"><stop offset="0%" stop-color="#d4dce8"/><stop offset="50%" stop-color="#a8b4c8"/><stop offset="100%" stop-color="#64748b"/></radialGradient></defs><path fill="url(#ll-eclipse-sun)" fill-rule="evenodd" d="M20 12L15.7 10.5 17.66 6.34 13.5 8.3 12 4 10.5 8.3 6.34 6.34 8.3 10.5 4 12 8.3 13.5 6.34 17.66 10.5 15.7 12 20 13.5 15.7 17.66 17.66 15.7 13.5 20 12z" clip-rule="evenodd"/><circle cx="15" cy="12" r="5.5" fill="url(#ll-eclipse-moon)"/></svg>{{else if this.app_state.defaultMode}}<svg class="ll-bento-theme-picker__default-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="36" height="36"><defs><linearGradient id="ll-default-grad-header" x1="0%" y1="100%" x2="100%" y2="0%"><stop offset="0%" stop-color="#4ECDC4"/><stop offset="50%" stop-color="#F0F0F0"/><stop offset="100%" stop-color="#FF6B47"/></linearGradient></defs><path fill="url(#ll-default-grad-header)" fill-rule="evenodd" d="M12 4.5L19.5 12 12 19.5 4.5 12 12 4.5z" clip-rule="evenodd"/></svg>{{else if this.app_state.coolBlueMode}}<svg class="ll-bento-dark-toggle__cool-blue-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="36" height="36"><defs><linearGradient id="ll-cool-blue-grad" x1="0%" y1="0%" x2="100%" y2="100%"><stop offset="0%" stop-color="#2C3E63"/><stop offset="50%" stop-color="#4A5D73"/><stop offset="100%" stop-color="#7E93A8"/></linearGradient></defs><path fill="url(#ll-cool-blue-grad)" fill-rule="evenodd" d="M12 4.5L19.5 12 12 19.5 4.5 12 12 4.5z" clip-rule="evenodd"/></svg>{{else if this.app_state.defaultMode}}<svg class="ll-bento-theme-picker__gold-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="36" height="36"><defs><linearGradient id="ll-gold-grad-header" x1="0%" y1="100%" x2="100%" y2="0%"><stop offset="0%" stop-color="#4ECDC4"/><stop offset="50%" stop-color="#F0F0F0"/><stop offset="100%" stop-color="#FF6B47"/></linearGradient></defs><path fill="url(#ll-gold-grad-header)" fill-rule="evenodd" d="M12 4.5L19.5 12 12 19.5 4.5 12 12 4.5z" clip-rule="evenodd"/></svg>{{else}}<svg class="ll-bento-dark-toggle__light-teal-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="36" height="36"><defs><linearGradient id="ll-light-teal-grad" x1="0%" y1="100%" x2="100%" y2="0%"><stop offset="0%" stop-color="#64b9bc"/><stop offset="100%" stop-color="#82afdc"/></linearGradient></defs><path fill="url(#ll-light-teal-grad)" fill-rule="evenodd" d="M12 4.5L19.5 12 12 19.5 4.5 12 12 4.5z" clip-rule="evenodd"/></svg>{{/if}}</span>
          </button>
        </span>
      {{/if}}
      {{#unless (is-equal this.app_state.current_route "landing")}}
      <span style="display: inline-block;" class={{if this.app_state.super_no_linky "dropdown hidden" "dropdown"}}>
        <a class={{if (persistence-online) "btn btn-default online" "btn btn-default offline"}} id='identity_button' href="#" data-toggle="dropdown">
          {{#if this.app_state.speak_mode}}
            {{#if this.stashes.logging_enabled}}
              {{#unless this.stashes.logging_paused_at}}
                <span class='logging_enabled glyphicon glyphicon-briefcase'></span>
              {{/unless}}
            {{else if this.app_state.eval_mode}}
              <span class='logging_enabled glyphicon glyphicon-briefcase'></span>
            {{/if}}
          {{/if}}
          {{#if this.app_state.currentUser}}
            <span class='user_holder'>
              <img src={{this.app_state.currentUser.avatar_url_with_fallback}} class='user' onerror='button_broken_image(this);' >
            </span>
            {{#if this.app_state.modeling_for_user}}
              {{#unless this.app_state.modeling_for_self}}
                <img src={{this.app_state.referenced_speak_mode_user.avatar_url_with_fallback}} class='modeling_user' onerror='button_broken_image(this);' >
              {{/unless}}
            {{/if}}
            {{#if this.session.invalid_token}}
              <span class="label label-danger unread">{{t "!" key="exclaim"}}</span>
            {{else if this.stashes.logging_paused_at }}
              <span class="label label-primary unread" style='padding: 3px;'><span class='glyphicon glyphicon-pause'></span></span>
            {{else if (persistence-value 'syncing')}}
              <span class='spinning unread'>
                <span class="glyphicon glyphicon-refresh" style='z-index: 2;'></span>
                <span class="glyphicon glyphicon-refresh" style='color: #fff; position: absolute; left: 2px; top: 2px;'></span>
              </span>
            {{else if (persistence-value 'app_needs_update')}}
              <span class="label label-danger unread">{{t "!" key="exclaim"}}</span>
            {{else if this.app_state.currentUser.unread_messages}}
              {{#unless this.app_state.speak_mode}}
                <span class="label label-danger unread">{{this.app_state.currentUser.unread_messages}}</span>
              {{/unless}}
            {{else}}
              <span class='status unread'></span>
            {{/if}}
          {{/if}}
          {{#unless this.app_state.currentUser}}
            {{t "Sign In" key="login"}}
          {{/unless}}
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" style="right: 0; left: auto; text-align: left;">
          {{#if this.app_state.speak_mode}}
            {{#if this.app_state.currentBoardState.id}}
              {{#if this.simple_board_header}}
                {{#if this.app_state.currentUser}}
                  {{#if this.app_state.currentUser.permissions.delete}}
                    <li role="presentation" class='big' id='exit_speak_mode'>
                      <a href="#" {{action "setAsHome" "starting"}}>
                        {{#if this.app_state.root_board_is_home}}
                          {{t "Set as Home Board" key="set_as_home_board"}}
                        {{else}}
                          {{t "Make This my Home Board" key="make_home_board"}}
                        {{/if}}
                      </a>
                    </li>
                    <li class="divider"></li>
                  {{/if}}
                {{/if}}
              {{/if}}
            {{/if}}
            {{#if this.app_state.eval_mode}}
              <li role="presentation" class='big' id='exit_speak_mode'>
                <a href="#" {{action "end_evaluation"}}>
                  <span class='glyphicon glyphicon-ok'></span> {{t "End Evaluation" key="end_evaluation"}}
                </a>
              </li>
              <li class="divider"></li>
            {{else}}
              <li role="presentation" class='big' id='exit_speak_mode'>
                {{#if this.can_edit_from_speak_mode}}
                  <a href="#" {{action "toggleSpeakMode"}} style='display: inline-block; width: calc(100% - 40px); overflow: hidden; padding-bottom: 10px; margin-bottom: -10px;'>
                    {{t "Exit Speak Mode" key="exit_speak_mode"}}
                    <div style='color: #888; font-size: 14px; margin: -5px 0;'>{{t "Settings, Menu, etc." key="settings_etc"}}</div>
                  </a><a href='#' {{action "toggleEditMode"}} style='display: inline-block; width: 40px; overflow: hidden; height: 55px; margin-bottom: -10px; padding-left: 0; padding-right: 0; text-align: center;'>
                    <span class='glyphicon glyphicon-pencil'></span>
                  </a>
                {{else}}
                  <a href="#" {{action "toggleSpeakMode"}} style='display: inline-block; width: 100%; overflow: hidden; padding-bottom: 10px; margin-bottom: -10px;'>
                    {{t "Exit Speak Mode" key="exit_speak_mode"}}
                    <div style='color: #888; font-size: 14px; margin: -5px 0;'>{{t "Settings, Menu, etc." key="settings_etc"}}</div>
                  </a>
                {{/if}}
              </li>
              {{#unless this.stashes.temporary_root_board_state}}
                {{#if this.stashes.root_board_state.meta_home}}
                  <li><a href="#" {{action "meta_home"}}>{{t "Return to Home List" key="return_to_home_list"}}</a></li>
                {{/if}}
              {{/unless}}

              {{#if this.app_state.embedded}}
                <li class="divider"></li>
                <li role="presentation">
                  <a href="#" {{action "printBoard"}}>{{t "Print this Board" key="print_this_board_cap"}}</a>
                </li>
                <li role="presentation">
                  <a href="#" {{action "launch_board"}}>{{t "Open in %app_name%" key="open_in_app"}}</a>
                </li>
                {{#if this.app_state.full_screen_capable}}
                  <li role="presentation">
                    <a href="#" {{action "full_screen"}}>{{t "Full Screen" key="full_screen"}}</a>
                  </li>
                {{/if}}
                <li role="presentation">
                  <a href="#" {{action "about_modal"}}>{{t "About %app_name%" key="about_app"}}</a>
                </li>
                <li><a href="#" {{action "find_button"}}>{{t "Find a Button" key="find_a_button"}}</a></li>
              {{/if}}
              {{#unless this.app_state.superProtectedSpeakMode}}
                {{#if this.isSessionAuthenticated}}
                  <li class="divider"></li>
                {{/if}}
              {{/unless}}
            {{/if}}
          {{/if}}
          {{#if this.session.invalid_token}}
            {{#if this.isSessionAuthenticated}}
              <li role="presentation">
                <a href="#" {{action "invalidateSession"}}>
                  <span class='label label-danger'>{{t "!" key="exclaim"}}</span>
                  {{t "Please Re-Login" key="please_relogin"}}
                </a>
              </li>
            {{/if}}
          {{else if (persistence-value 'app_needs_update')}}
            <li role="presentation">
              <a href="#" {{action "confirm_update"}}>
                <span class='label label-danger'>{{t "!" key="exclaim"}}</span>
                {{t "Update Available" key="update_available"}}
              </a>
            </li>
          {{/if}}
          {{#if this.app_state.speak_mode}}
            {{#if this.app_state.sidebar_relegated}}
              <li><a href="#" {{action "toggleSidebar"}}>{{t "Show Sidebar" key="show_sidebar"}}</a></li>
            {{/if}}
          {{/if}}
          {{#unless this.app_state.limited_speak_mode_options}}
            {{#if this.isSessionAuthenticated}}
              <li class="dropdown-header">{{this.app_state.currentUser.name}}</li>
              {{#unless this.app_state.index_or_landing_view}}
                <li role="presentation">
                  <LinkTo @route="index">{{t "Dashboard" key="dashboard"}}</LinkTo>
                </li>
              {{/unless}}
              {{#if this.app_state.currentUser.permissions.delete}}
                <li role="presentation">
                  <LinkTo @route="user" @model={{this.app_state.currentUser.user_name}}>{{t "My Account" key="my_account"}}</LinkTo>
                </li>
              {{/if}}
              {{#if (persistence-value 'syncing')}}
                <li role="presentation" style='display: none;'>
                  <a href="#" {{action "cancel_sync"}}>{{t "Cancel Sync" key="cancel_sync"}}</a>
                </li>
              {{/if}}
            {{else}}
              {{#unless this.app_state.index_or_landing_view}}
                <li role="presentation">
                  <LinkTo @route="index">{{t "Dashboard" key="dashboard"}}</LinkTo>
                </li>
              {{/unless}}
            {{/if}}
          {{/unless}}
          {{#unless this.app_state.superProtectedSpeakMode}}
            {{#if this.app_state.speak_mode}}
              {{#if this.app_state.feature_flags.enable_all_buttons}}
                {{#unless this.app_state.currentUser.preferences.prevent_hide_buttons}}
                  {{#unless this.app_state.eval_mode}}
                    {{#if this.no_hidden_buttons}}
                      <li><a href="#" {{action "toggle_all_buttons"}} style={{this.no_hidden_buttons_link_style}}>
                        <span class="glyphicon glyphicon-apple"></span>
                        {{t "No Hidden Buttons" key="no_hidden_buttons"}}
                      </a></li>
                    {{else}}
                      <li><a href="#" {{action "toggle_all_buttons"}}>
                        <span class="glyphicon glyphicon-apple"></span>
                        {{#if this.stashes.all_buttons_enabled}}
                          {{t "Hide Hidden Buttons" key="hide_disabled_buttons"}}
                        {{else}}
                          {{t "Show Hidden Buttons" key="show_all_buttons"}}
                        {{/if}}
                      </a></li>
                    {{/if}}
                  {{/unless}}
                {{/unless}}
                {{#if this.app_state.feature_flags.focus_word_highlighting}}
                  {{#unless this.app_state.eval_mode}}
                    <li><a href="#" {{action "toggle_focus"}}>
                      {{#if this.app_state.focus_words}}
                        {{t "Clear Focus Words" key="clear_focus_words"}}
                      {{else}}
                        {{t "Focus Words" key="focus_words"}}
                      {{/if}}
                    </a></li>
                  {{/unless}}
                {{/if}}
              {{/if}}
            {{/if}}
            {{#unless this.app_state.eval_mode}}
              {{#if this.app_state.sessionUser.supervisees}}
                {{#if this.app_state.speak_mode}}
                  {{#if this.app_state.currentUser.permissions.delete}}
                    <li><a href="#" {{action "switch_communicators"}}>{{t "Switch Communicators" key="switch_communicators"}}</a></li>
                  {{/if}}
                {{/if}}
              {{/if}}
              {{#if this.app_state.currentBoardState}}
                <li><a href="#" {{action "find_button"}}>{{t "Find a Button" key="find_a_button"}}</a></li>
              {{/if}}
            {{/unless}}
            {{#if this.isSessionAuthenticated}}
              {{#if this.app_state.currentBoardState}}
                {{#if this.app_state.speak_mode}}
                  {{#if this.app_state.eval_mode}}
                    <li><a href="#" {{action "repeat_prompt"}}><span class='glyphicon glyphicon-volume-up'></span> {{t "Repeat Prompt" key="repeat_prompt"}}</a></li>
                    <li><a href="#" {{action "change_section" "forward"}}><span class='glyphicon glyphicon-chevron-right'></span> {{t "Next Section" key="next_section"}}</a></li>
                    <li><a href="#" {{action "change_section" "back"}}><span class='glyphicon glyphicon-chevron-left'></span> {{t "Previous Section" key="previous_section"}}</a></li>
                    <li><a href="#" {{action "jump_section"}}><span class='glyphicon glyphicon-th-list'></span> {{t "Jump To..." key="jump_to"}}</a></li>
                    <li><a href="#" {{action "assessment_settings"}}><span class='glyphicon glyphicon-cog'></span> {{t "Eval Settings" key="eval_settings"}}</a></li>
                  {{else}}
                    {{#if this.app_state.currentBoardState.translatable}}
                      <li><a href="#" {{action "switch_languages"}}>{{t "Switch Languages" key="switch_languages"}}</a></li>
                    {{/if}}
                    {{#if this.stashes.sticky_board}}
                      <li><a href="#" {{action "toggle_sticky_board"}}>{{t "Release Board Lock" key="release_board_lock"}}</a></li>
                    {{else}}
                      <li><a href="#" {{action "toggle_sticky_board"}}>{{t "Stay on this Board" key="stay_on_board"}}</a></li>
                    {{/if}}
                    {{#if this.stashes.temporary_root_board_state}}
                      <li><a href="#" {{action "toggle_home_lock"}}>{{t "Release Home Lock" key="release_home_lock"}}</a></li>
                    {{else}}
                      {{#unless this.app_state.current_board_is_speak_mode_home}}
                        <li><a href="#" {{action "toggle_home_lock"}}>{{t "Set As Temporary Home" key="temporary_home"}}</a></li>
                      {{/unless}}
                    {{/if}}
                    {{#if this.app_state.feature_flags.find_multiple_buttons}}
                      {{#if this.has_board_intro}}
                        <li><a href="#" {{action "board_intro"}}>{{t "Board Intro" key="board_intro"}}</a></li>
                      {{/if}}
                    {{/if}}
                    {{#if this.app_state.currentUser.preferences.logging}}
                      {{#if this.app_state.logging_paused}}
                        <li><a href="#" {{action "toggle_pause_logging"}}>
                          <span class="label label-primary" style='padding: 3px;'><span class='glyphicon glyphicon-play'></span></span>
                          {{t "Resume Logging" key="resume_logging"}}
                        </a></li>
                      {{else}}
                        <li><a href="#" {{action "toggle_pause_logging"}}>
                          <span class="" style='padding: 3px;'><span class='glyphicon glyphicon-briefcase'></span></span>
                          {{t "Pause Logging" key="pause_logging"}}
                        </a></li>
                      {{/if}}
                    {{else}}
                      <!-- TODO: option to log temporarily/conclude temp log -->
                    {{/if}}
                  {{/if}}
                {{/if}}
              {{/if}}
            {{/if}}
          {{/unless}}
          {{#unless this.app_state.limited_speak_mode_options}}
            {{#if this.isSessionAuthenticated}}
              {{#unless this.app_state.speak_mode}}
                <li><LinkTo @route="search" @models={{array "any" "_"}}>{{t "Find Board" key="find_board"}}</LinkTo></li>
                {{#if this.app_state.currentUser.permissions.delete}}
                  <li><a href="#" {{action "newBoard"}}>{{t "Create a New Board" key="create_a_new_board"}}</a></li>
                {{/if}}
              {{/unless}}
              {{#if this.app_state.currentUser.permissions.delete}}
                <li><LinkTo @route="user.preferences" @model={{this.app_state.currentUser.user_name}}>{{t "Preferences" key="preferences"}}</LinkTo></li>
                <li><LinkTo @route="user.logs" @model={{this.app_state.currentUser.user_name}} @query={{hash type="note"}}>
                  {{#if this.app_state.currentUser.unread_messages}}
                    <span class="label label-danger" style="border-radius: 5px;">{{this.app_state.currentUser.unread_messages}}</span>
                  {{/if}}
                  {{t "Messages" key="messages"}}
                </LinkTo></li>
              {{/if}}
              {{#if this.session.as_user_id}}
                <li><a href="#" {{action "stopMasquerading"}}>{{t "Stop Masquerading" key="stop_masquerading"}}</a></li>
              {{/if}}
              {{#unless this.app_state.speak_mode}}
                <li><a href="#" {{action "invalidateSession"}}>{{t "Sign Out" key="logout"}}</a></li>
              {{/unless}}
            {{else}}
              <li role="presentation">
                <LinkTo @route="login">{{t "Sign In" key="login"}}</LinkTo>
              </li>
              {{#unless this.app_state.no_linky}}
                {{#if this.app_state.domain_settings.full_domain}}
                  <li role="presentation">
                    <LinkTo @route="register">{{t "Register" key="register"}}</LinkTo>
                  </li>
                {{/if}}
              {{/unless}}
              {{#if this.app_state.feature_flags.emergency_boards}}              
                <li role="presentation">
                  <LinkTo @route="offline_boards" class="critical_access">{{t "Basic Access" key="critical_access"}}</LinkTo>
                </li>
              {{/if}}
            {{/if}}
          {{/unless}}
        </ul>
      </span>
      {{/unless}}
      {{else}}
    {{#unless this.app_state.currentBoardState.id}}
    {{#if this.app_state.currentUser}}
      <LinkTo @route="user.subscription" @model={{this.app_state.currentUser.user_name}} class="md-pillnav__upgrade-nav" aria-label={{t "Upgrade" key="upgrade"}} title={{t "Upgrade" key="upgrade"}}>
        {{t "Upgrade" key="upgrade"}}
      </LinkTo>
    {{/if}}
    {{/unless}}
    {{#if this.app_state.currentBoardState.id}}
      {{#unless this.app_state.speak_mode}}
        {{#unless this.app_state.edit_mode}}
        {{/unless}}
      {{/unless}}
    {{/if}}
    {{style-switcher}}
    {{#if this.app_state.currentUser}}
    <LinkTo @route="beta-feedback" class="app-navbar__beta-feedback-link">{{t "Beta feedback" key="beta_feedback_nav"}}</LinkTo>
    <LinkTo @route="support" class="ll-bento-help-btn ll-bento-help-btn--nav ll-bento-help-btn--nav-icon-only ll-bento-help-btn--support" aria-label={{t "Support" key="support"}} title={{t "Support" key="support"}}>
      <div class="ll-bento-help-btn__support-inner">
        <span class="ll-bento-help-btn__icon" aria-hidden="true">
          <svg class="ll-bento-help-btn__nav-icon ll-bento-help-btn__support-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><circle cx="12" cy="12" r="10"/><path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"/><path d="M12 17h.01"/></svg>
        </span>
      </div>
    </LinkTo>
    {{/if}}
    <span style="display: inline-block;" class="dropdown">
      {{#if this.app_state.currentUser}}
      <a class={{if (persistence-online) "btn btn-default online" "btn btn-default offline"}} id="identity_button" href="#" data-toggle="dropdown">
        <span class="user_holder">
          <img src={{this.app_state.currentUser.avatar_url_with_fallback}} class="user" onerror="button_broken_image(this);">
        </span>
        {{#if this.session.invalid_token}}
          <span class="label label-danger unread">{{t "!" key="exclaim"}}</span>
        {{else if (persistence-value "syncing")}}
          <span class="spinning unread">
            <span class="glyphicon glyphicon-refresh" style="z-index: 2;"></span>
            <span class="glyphicon glyphicon-refresh" style="color: #fff; position: absolute; left: 2px; top: 2px;"></span>
          </span>
        {{else if (persistence-value "app_needs_update")}}
          <span class="label label-danger unread">{{t "!" key="exclaim"}}</span>
        {{else if this.app_state.currentUser.unread_messages}}
          <span class="label label-danger unread">{{this.app_state.currentUser.unread_messages}}</span>
        {{else}}
          <span class="status unread"></span>
        {{/if}}
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" style="right: 0; left: auto; text-align: left;">
        <li class="dropdown-header">{{this.app_state.currentUser.name}}</li>
        <li role="presentation">
          <LinkTo @route="user" @model={{this.app_state.currentUser.user_name}}>{{t "My Account" key="my_account"}}</LinkTo>
        </li>
        <li><LinkTo @route="user.index" @model={{this.app_state.currentUser.user_name}}>{{t "My Boards" key="my_boards"}}</LinkTo></li>
        <li><LinkTo @route="user.preferences" @model={{this.app_state.currentUser.user_name}}>{{t "Preferences" key="preferences"}}</LinkTo></li>
        <li><LinkTo @route="user.logs" @model={{this.app_state.currentUser.user_name}} @query={{hash type="note"}}>
          {{#if this.app_state.currentUser.unread_messages}}
            <span class="label label-danger" style="border-radius: 5px;">{{this.app_state.currentUser.unread_messages}}</span>
          {{/if}}
          {{t "Messages" key="messages"}}
        </LinkTo></li>
        <li><a href="#" {{action "support" preventDefault=true}}>{{t "Help" key="help"}}</a></li>
        <li class="divider" role="separator"></li>
        <li>
          <LinkTo @route="about" class="dropdown-menu__company-link">{{t "LingoLinq" key="app_name"}}</LinkTo>
        </li>
        <li>
          <a href="#" {{action "language" preventDefault=true}} class="dropdown-menu__language-link">
            {{this.app_state.current_locale_string}}
            <img src={{path "images/icon-language-new2.png"}} class="dropdown-menu__language-icon" alt="" aria-hidden="true">
          </a>
        </li>
        <li class="divider" role="separator"></li>
        <li class="dropdown-header ll-theme-picker-dropdown-label">{{t "Color Tone" key="color_tone"}}</li>
        <li class="ll-bento-theme-picker-dropdown">
          <div class="ll-bento-theme-picker ll-bento-theme-picker--in-dropdown" role="group" aria-label={{t "Choose theme" key="choose_theme"}}>
            <div class="ll-bento-theme-picker__row">
              <div class="ll-bento-theme-picker__options">
                <button type="button" class="ll-bento-theme-picker__option {{if (is-equal this.app_state.themeMode "light") "ll-bento-theme-picker__option--active"}}" {{action "selectThemeMode" "light"}} title={{t "Light" key="light"}} aria-pressed={{is-equal this.app_state.themeMode "light"}}>
                  <span class="ll-bento-theme-picker__icon" aria-hidden="true"><svg class="ll-bento-theme-picker__light-teal-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="36" height="36"><defs><linearGradient id="ll-light-teal-grad-picker-dropdown" x1="0%" y1="100%" x2="100%" y2="0%"><stop offset="0%" stop-color="#64b9bc"/><stop offset="100%" stop-color="#82afdc"/></linearGradient></defs><path fill="url(#ll-light-teal-grad-picker-dropdown)" fill-rule="evenodd" d="M12 4.5L19.5 12 12 19.5 4.5 12 12 4.5z" clip-rule="evenodd"/></svg></span>
                </button>
                <button type="button" class="ll-bento-theme-picker__option {{if (is-equal this.app_state.themeMode "midDay") "ll-bento-theme-picker__option--active"}}" {{action "selectThemeMode" "midDay"}} title={{t "Midday" key="midday"}} aria-pressed={{is-equal this.app_state.themeMode "midDay"}}>
                  <span class="ll-bento-theme-picker__icon" aria-hidden="true"><svg class="ll-bento-theme-picker__midday-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="36" height="36"><defs><radialGradient id="ll-eclipse-sun-picker-dropdown" cx="35%" cy="35%" r="65%"><stop offset="0%" stop-color="#ffe082"/><stop offset="25%" stop-color="#ffc107"/><stop offset="50%" stop-color="#ff8f00"/><stop offset="75%" stop-color="#e65100"/><stop offset="100%" stop-color="#bf360c"/></radialGradient><radialGradient id="ll-eclipse-moon-picker-dropdown" cx="35%" cy="35%" r="65%"><stop offset="0%" stop-color="#d4dce8"/><stop offset="50%" stop-color="#a8b4c8"/><stop offset="100%" stop-color="#64748b"/></radialGradient></defs><path fill="url(#ll-eclipse-sun-picker-dropdown)" fill-rule="evenodd" d="M20 12L15.7 10.5 17.66 6.34 13.5 8.3 12 4 10.5 8.3 6.34 6.34 8.3 10.5 4 12 8.3 13.5 6.34 17.66 10.5 15.7 12 20 13.5 15.7 17.66 17.66 15.7 13.5 20 12z" clip-rule="evenodd"/><circle cx="15" cy="12" r="5.5" fill="url(#ll-eclipse-moon-picker-dropdown)"/></svg></span>
                </button>
                <button type="button" class="ll-bento-theme-picker__option {{if (is-equal this.app_state.themeMode "dark") "ll-bento-theme-picker__option--active"}}" {{action "selectThemeMode" "dark"}} title={{t "Dark" key="dark"}} aria-pressed={{is-equal this.app_state.themeMode "dark"}}>
                  <span class="ll-bento-theme-picker__icon" aria-hidden="true"><svg class="ll-bento-dark-toggle__moon-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><defs><radialGradient id="ll-moon-grad-picker-dropdown" cx="35%" cy="35%" r="65%"><stop offset="0%" stop-color="#d4dce8"/><stop offset="50%" stop-color="#a8b4c8"/><stop offset="100%" stop-color="#64748b"/></radialGradient></defs><path fill="url(#ll-moon-grad-picker-dropdown)" fill-rule="evenodd" d="M9.528 1.718a.75.75 0 01.162.819A8.97 8.97 0 009 6a9 9 0 009 9 8.97 8.97 0 003.463-.69.75.75 0 01.981.98 10.503 10.503 0 01-9.694 6.46c-5.799 0-10.5-4.701-10.5-10.5 0-4.368 2.667-8.112 6.46-9.694a.75.75 0 01.818.162z" clip-rule="evenodd"/></svg></span>
                </button>
                <button type="button" class="ll-bento-theme-picker__option {{if (is-equal this.app_state.themeMode "default") "ll-bento-theme-picker__option--active"}}" {{action "selectThemeMode" "default"}} title={{t "Default" key="default_theme"}} aria-pressed={{is-equal this.app_state.themeMode "default"}}>
                  <span class="ll-bento-theme-picker__icon" aria-hidden="true"><svg class="ll-bento-theme-picker__gold-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="36" height="36"><defs><linearGradient id="ll-gold-grad-picker-dropdown" x1="0%" y1="100%" x2="100%" y2="0%"><stop offset="0%" stop-color="#4ECDC4"/><stop offset="50%" stop-color="#F0F0F0"/><stop offset="100%" stop-color="#FF6B47"/></linearGradient></defs><path fill="url(#ll-gold-grad-picker-dropdown)" fill-rule="evenodd" d="M12 4.5L19.5 12 12 19.5 4.5 12 12 4.5z" clip-rule="evenodd"/></svg></span>
                </button>
              </div>
            </div>
          </div>
        </li>
        <li class="divider" role="separator"></li>
        <li><a href="#" {{action "invalidateSession"}}>{{t "Sign Out" key="logout"}}</a></li>
      </ul>
      {{else}}
      {{#unless this.useAppNavbarInHeader}}
      <a class={{if (persistence-online) "btn btn-default online" "btn btn-default offline"}} id="identity_button" href="#" data-toggle="dropdown" aria-label={{t "Sign In" key="login"}} aria-haspopup="true">
        {{t "Sign In" key="login"}}
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" style="right: 0; left: auto; text-align: left;">
        {{#unless this.app_state.index_or_landing_view}}
        <li role="presentation">
          <LinkTo @route="index">{{t "Dashboard" key="dashboard"}}</LinkTo>
        </li>
        {{/unless}}
        <li role="presentation">
          <LinkTo @route="login">{{t "Sign In" key="login"}}</LinkTo>
        </li>
        <li role="presentation">
          <LinkTo @route="register">{{t "Register" key="register"}}</LinkTo>
        </li>
      </ul>
      {{/unless}}
      {{/if}}
    </span>
      {{/if}}
    </span>
  {{/if}}
  </div>
</header>
<div id="content" class={{this.content_class}}>
  {{ outlet }}
</div>
{{#if this.app_state.sidebar_visible}}
  <div id="sidebar" class='noselect advanced_selection' style={{this.sidebar_style}}>
    <span style="display: block; text-align: center; padding: 5px;">
      <button id='sidebar_close' class='btn btn-default' style="width: 90%;" {{action (if this.app_state.currentUser.preferences.quick_sidebar "stickSidebar" "toggleSidebar")}}>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round" width="20" height="20" aria-hidden="true" style="pointer-events: none;">
          <polyline points="18 15 12 9 6 15" style="pointer-events: none;"></polyline>
          <polyline points="18 20 12 14 6 20" style="pointer-events: none;"></polyline>
        </svg>
      </button>
    </span>
    {{#each this.app_state.sidebar_boards as |board|}}
      {{#if board.alert}}
        <a href="#" {{action "alert" "sidebar"}} class='sidebar_item'>
          <span class="glyphicon glyphicon-bullhorn"></span>
          <img src={{board.image}} class='pic' alt="">
          {{board.name}}
        </a>
      {{else if board.special}}
        <a href="#" {{action "special" board}} class='sidebar_item'>
          <span class="glyphicon glyphicon-flash"></span>
          <img src={{board.image}} class='pic' alt="">
          {{board.name}}
        </a>
      {{else}}
        <a href="#" class='sidebar_item' {{action "jump" board.key "sidebar" board}} data-key={{board.key}}>
          {{#if board.home_lock}}
            <span class="glyphicon glyphicon-home"></span>
          {{/if}}
          {{#if board.fenced}}
            <span class="glyphicon glyphicon-map-marker"></span>
          {{/if}}
          <img src={{board.image}} class='pic' alt="">
          {{board.name}}
        </a>
      {{/if}}
    {{/each}}
    {{#if this.board_alt_username}}
      {{#if this.board_alt_boardname}}
        {{#if this.on_board_alt}}
          <LinkTo @route="board" @model={{this.board.model}} class="sidebar_item sidebar_item--board-alt sidebar_item--board-alt-active">
            <span class="sidebar_item__icon sidebar_item__icon--board-alt" aria-hidden="true">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="100%" height="100%" fill="currentColor" aria-hidden="true"><path fill-rule="evenodd" d="M3 3h8v8H3V3zm10 0h8v8h-8V3zM3 13h8v8H3v-8zm10 0h8v8h-8v-8z" clip-rule="evenodd"/></svg>
            </span>
            {{t "Option" key="board_alt_return"}}
          </LinkTo>
        {{else}}
          <LinkTo @route="user.board-alt" @models={{array this.board_alt_username this.board_alt_boardname}} class="sidebar_item sidebar_item--board-alt">
            <span class="sidebar_item__icon sidebar_item__icon--board-alt" aria-hidden="true">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="100%" height="100%" fill="currentColor" aria-hidden="true"><path fill-rule="evenodd" d="M3 3h8v8H3V3zm10 0h8v8h-8V3zM3 13h8v8H3v-8zm10 0h8v8h-8v-8z" clip-rule="evenodd"/></svg>
            </span>
            {{t "Board Alt" key="board_alt"}}
          </LinkTo>
        {{/if}}
      {{/if}}
    {{/if}}
  </div>
{{else}}
  {{#if this.app_state.speak_mode}}
    {{#unless this.app_state.currentUser.preferences.disable_quick_sidebar}}
      {{#unless this.app_state.sidebar_relegated}}
        {{#unless this.app_state.eval_mode}}
          <div id="sidebar_tease" class={{if this.app_state.skinny_sidebar "advanced_selection noselect skinny" "advanced_selection noselect"}} {{action "toggleSidebar"}} {{action "toggleSidebarTeaseKeydown" on="keyDown"}} role="button" tabindex="0">
            {{#if this.app_state.fenced_sidebar_board}}
              <span class='glyphicon glyphicon-map-marker' style='font-size: 20px; vertical-align: middle;'></span>
            {{/if}}
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round" width="20" height="20" aria-hidden="true" style="pointer-events: none;">
              <polyline points="6 9 12 15 18 9" style="pointer-events: none;"></polyline>
              <polyline points="6 14 12 20 18 14" style="pointer-events: none;"></polyline>
            </svg>
          </div>
        {{/unless}}
      {{/unless}}
    {{/unless}}
  {{/if}}
{{/if}}

{{modal-container}}
{{outlet "highlight"}}
{{outlet "highlight-secondary"}}
{{#if this.modalService.boardPreview}}
  {{board-preview-overlay}}
{{else}}
  {{outlet "board-preview"}}
{{/if}}
<FlashOutlet />
{{outlet "flash-message"}}
{{! Page footer: show on index/dashboard/setup and when not viewing a board (setup_footer no longer used; setup uses same page footer as other pages) }}
{{#if this.footer}}
  {{page-footer support=(action "support") language=(action "language")}}
{{/if}}

{{#if this.boardPickerVisible}}
  <div id="board_picker_backdrop" {{action "closeBoardPicker"}} style="position: fixed; inset: 0; background: rgba(0,0,0,0.32); z-index: 900;"></div>
  <div id="board_picker" role="dialog" aria-label={{t "My Boards" key="my_boards"}}>
    <div id="board_picker_header">
      <span class="la-section-eyebrow-badge">{{t "My Boards" key="my_boards"}}</span>
      <button type="button" class="board-picker__close" {{action "closeBoardPicker"}} aria-label={{t "Close" key="close"}}>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2.2" stroke-linecap="round" width="20" height="20" aria-hidden="true">
          <line x1="18" y1="6" x2="6" y2="18"/><line x1="6" y1="6" x2="18" y2="18"/>
        </svg>
      </button>
    </div>
    <div id="board_picker_inner">
      {{#if this.boardPickerLoading}}
        <p class="board-picker__loading">{{t "Loading boards..." key="loading_boards"}}</p>
      {{else}}
        {{#each this.boardPickerBoards as |board|}}
          <a href="#" {{action "pickBoard" board.key}} class="board-picker__item">
            <span class="board-picker__thumb">
              <img src={{board.icon_url_with_fallback}} alt="" onerror="this.style.visibility='hidden';">
            </span>
            <span class="board-picker__name">{{board.name}}</span>
          </a>
        {{/each}}
      {{/if}}
    </div>
  </div>
{{/if}}

</div>
{{button-tracker}}
