<div style='float: left; padding: 5px; width: 25%; text-align: center;'>
  {{#if badge.global}}
    <button type="button" style="background: none; border: none; padding: 0; cursor: pointer;" {{action "badge_popup" badge}}>
      <img src={{badge.image_url}} style='width: 70%;' onerror='button_broken_image(this)' data-fallback={{path "images/badge-fallback.png"}} >
    </button>
  {{else}}
    <button type="button" style="background: none; border: none; padding: 0; cursor: pointer;" {{action "badge_popup" badge}}>
      <img src={{badge.image_url}} style='width: 70%;' onerror='button_broken_image(this)' data-fallback={{path "images/badge-fallback.png"}} >
    </button>
  {{/if}}
  <div style='height: 30px; overflow: hidden; line-height: 14px;'>
    {{#if badge.global}}
      {{#link-to "goals.goal" badge.goal_id}}{{badge.name}}{{/link-to}}
    {{else}}
      {{#link-to "user.goal" this.model.user_name badge.goal_id}}{{badge.name}}{{/link-to}}
    {{/if}}
  </div>
</div>
