<div class="login-page-bg">
<div class="login-page">
  <div class="login-card">
    <h2>{{t "Login Help" key="login_help"}}</h2>
    <form {{action "submitKey" on="submit"}}>
      {{#if this.response.email_sent}}
        <div class="form-group">
          <p>{{t "Email sent! Be sure to check your spam folder!" key="email_sent"}}</p>
          {{#if this.response.message}}
            <p>{{t "NOTE:" key="note_colon"}} {{this.response.message}}</p>
          {{/if}}
        </div>
      {{else}}
        <div class="form-group">
          <p>
            {{t "If you're unsure how to log in, please enter your email address and we'll send you instructions for how to access the app on your device." key="password_alternate_prompt"}}
          </p>
        </div>
        <div class="form-group">
          <label for="name">{{t "Username or email" key="username_or_email"}}</label>
          <Input @value={{this.name}} class="form-control" id="name" placeholder={{t "Username or email address" key="username_or_email_placeholder"}} />
        </div>
        <div class="form-group">
          {{#if this.response.message}}
            <div class="login-error">
              {{this.response.message}}
            </div>
          {{/if}}
          <button class="login-btn" type="submit">{{t "Submit" key="submit"}}</button>
        </div>
        <div class="login-links">
          <LinkTo @route="login">{{t "Back to sign in" key="back_to_sign_in"}}</LinkTo>
        </div>
      {{/if}}
    </form>
  </div>
</div>
</div>
