{{#opening-observer opening=(action "opening") closing=(action "closing")}}
{{#touch-listener release=(action "select_release")}}
  <div class="highlight" style={{this.model.top_style}} {{action "close"}}>
  </div>
  <div class="highlight" style={{this.model.left_style}} {{action "close"}}>
  </div>
  <div class="highlight" style={{this.model.right_style}} {{action "close"}}>
  </div>
  <div class="highlight" style={{this.model.bottom_style}} {{action "close"}}>
  </div>
  <div class={{this.highlight_class}} style={{this.model.highlight_style}} {{action "select"}}>
  </div>
  <div class={{this.highlight_inner_class}} id='highlight_box' style={{this.model.inner_highlight_style}} {{action "select"}}>
    {{#if this.model.icon_class}}
      <span class={{this.model.icon_class}} style={{this.model.icon_style}}></span>
    {{/if}}
  </div>
{{/touch-listener}}
{{/opening-observer}}
