<div class="row">
  <div class="col-md-3 col-sm-5">
    <div class="well" style="text-align: center;">
      <h2 style="margin-bottom: 10px;">
        <span class="glyphicon glyphicon-paperclip"></span>
        {{#if this.model.permissions.view}}
          {{ this.model.name }}
        {{else}}
          {{t "Organization" key="organization"}}
        {{/if}}
      </h2>
      <div style='text-align: left; width: 100px; margin: 0 auto;'>
        {{t "user" key="user_count" count=this.model.total_users }}<br>
        {{#if this.model.total_supervisors}}
          {{t "supervisor" key="supervisor_count" count=this.model.total_supervisors}}
          <br>
        {{/if}}
        {{t "manager" key="manager_count" count=this.model.total_managers }}<br>
        {{#if this.model.used_evals}}
          {{t "eval" key="eval_count" count=this.model.used_evals}}<br>
        {{/if}}
      </div>
      {{#if this.model.created}}
        <div title={{date this.model.created}}>{{t "created" key="created_lower"}} {{date_ago this.model.created}}</div>
      {{/if}}
    </div>
    {{#if this.model.permissions.edit}}
      <div class="btn-group-vertical" style="width: 100%;">
        <LinkTo @route="organization.index" @model={{this.model.id}} class="btn btn-default">{{t "Admin" key="admin"}}</LinkTo>
        <LinkTo @route="organization.reports" @model={{this.model.id}} class="btn btn-default">{{t "Reports" key="reports"}}</LinkTo>
        <LinkTo @route="organization.rooms" @model={{this.model.id}} class="btn btn-default">{{t "Rooms" key="rooms"}}</LinkTo>
        {{#if this.model.premium}}
          {{#if this.app_state.feature_flags.lessons}}
            <LinkTo @route="organization.lessons" @model={{this.model.id}} class="btn btn-default">{{t "Trainings" key="trainings"}}</LinkTo>
          {{/if}}
        {{/if}}

        {{#if this.model.admin}}
          <LinkTo @route="organization.extras" @model={{this.model.id}} class="btn btn-default">{{t "Extras" key="extras"}}</LinkTo>
        {{/if}}
        {{#if this.model.permissions.manage_subscription}}
          <LinkTo @route="organization.subscription" @model={{this.model.id}} class="btn btn-default">{{t "Billing" key="billing"}}</LinkTo>
        {{/if}}
        {{#if this.model.permissions.update_licenses}}
            <span class="btn btn-default" style='text-align: left; display: none;'>
              <div style='margin-bottom: 4px;'>
                {{input value=this.model.allotted_licenses class="form-control inline inline-licenses"}}
                {{t "purchased licenses" key="purchased_licenses_lower"}}
              </div>
              {{input value=this.model.allotted_eval_licenses class="form-control inline inline-licenses"}}
              {{t "eval accounts" key="eval_accounts_lower"}}
              <button class="btn btn-default" {{action "update_org"}}>{{t "update" key="update_lower"}}</button>
            </span>
        {{/if}}
        {{#if this.model.admin}}
          {{#if this.model.permissions.manage}}
            <a href="#" class="btn btn-default" {{action "jobs"}}>
              {{t "Background Jobs" key="background_jobs"}}
              <span style='display: none;'>{{t "jobs" key="jobs"}}</span>
            </a>
            {{#if this.model.permissions.edit}}
              <LinkTo @route="organization.settings" @model={{this.model.id}} class="btn btn-default">{{t "Settings" key="settings"}}</LinkTo>
            {{/if}}
            <span class="btn btn-default">
              {{input value=this.masquerade_user_name enter=(action "masquerade") placeholder="user name" class="form-control inline inline-masquerade"}}
              <button class="btn btn-default" {{action "masquerade"}} style='width: 110px;'>{{t "masquerade" key="masquerade"}}</button>
            </span>
            <span class="btn btn-default">
              {{input value=this.search_user enter=(action "find_user") placeholder="user name/email" class="form-control inline inline-masquerade"}}
              <button class="btn btn-default" {{action "find_user"}} style='width: 110px;'>{{t "find user" key="find_user"}}</button>
            </span>
            <span class="btn btn-default">
              {{input value=this.search_board enter=(action "find_board") placeholder="board id/key" class="form-control inline inline-masquerade"}}
              <button class="btn btn-default" {{action "find_board"}} style='width: 110px;'>{{t "find board" key="find_board_lower"}}</button>
            </span>
          {{/if}}
        {{else}}
          {{#if this.model.permissions.edit}}
            <LinkTo @route="organization.settings" @model={{this.model.id}} class="btn btn-default">{{t "Settings" key="settings"}}</LinkTo>
            <span class="btn btn-default">
              {{input value=this.search_user enter=(action "find_user") placeholder="user name/email" class="form-control inline inline-masquerade"}}
              <button class="btn btn-default" {{action "find_user"}} style='width: 110px;'>{{t "find user" key="find_user"}}</button>
            </span>
          {{/if}}
        {{/if}}
      </div>
    {{/if}}
  </div>
  <div class="col-md-9 col-sm-7">
    {{outlet}}
  </div>
</div>

