<div class="register-page-bg">
  <div class="la-bg-orbs" aria-hidden="true">
    <span class="la-bg-orb la-bg-orb--a"></span>
    <span class="la-bg-orb la-bg-orb--b"></span>
    <span class="la-bg-orb la-bg-orb--c"></span>
    <span class="la-bg-orb la-bg-orb--d"></span>
  </div>
  <div class="register-page">
  <div class="register-card">
    {{#if this.stashes.enabled}}
      {{#if this.coppaWaitingParent}}
        <div class="la-section-header">
          <div class="la-hero-title-wrap">
            <h2 class="la-hero-title">{{t "Check with a parent or guardian" key="coppa_waiting_parent_title"}}</h2>
          </div>
          <hr class="la-about-hero-separator" aria-hidden="true">
        </div>
        <p>{{t "We emailed the parent or guardian address you provided. They must approve your account before you can sign in. Ask them to check their inbox (and spam folder)." key="coppa_waiting_parent_body"}}</p>
        <p><LinkTo @route="login" class="register-btn">{{t "Back to login" key="coppa_waiting_parent_login"}}</LinkTo></p>
      {{else}}
      <div class="la-section-header">
        <div class="la-hero-title-wrap">
          <h2 class="la-hero-title"><span class="la-hero-title__prefix">{{t "Create a " key="create_account_prefix"}}</span><span class="hero-gradient">{{t "LingoLinq" key="app_name"}}</span><span class="la-hero-title__prefix">{{t " Account" key="create_account_suffix"}}</span></h2>
        </div>
        <hr class="la-about-hero-separator" aria-hidden="true">
      </div>
      <form novalidate {{action "saveProfile" on="submit"}}>
      {{#if this.start_code_ref}}
        <div class="register-invite">
          <div class="register-invite-icon">
            {{#if this.start_code_ref.image_url}}
              <img src={{this.start_code_ref.image_url}} alt="">
            {{else}}
              <span class="glyphicon glyphicon-paperclip"></span>
            {{/if}}
          </div>
          <div class="register-invite-info">
            <h4>
              {{t "Invited By" key="invited_by"}}
              {{#if this.start_code_ref.organization}}
                {{t "Organization - " key="organization_dash"}}
              {{else}}
                {{t "Supervisor - " key="supervisor_dash"}}
              {{/if}}
              <em>{{this.start_code_ref.name}}</em>
            </h4>
            <p>{{t "When you sign up using the provided start code, you will automatically be connected to the organization or user that invited you to join. Some default settings such as home board may also be set automatically for you." key="auto_start_code_explainer"}}</p>
          </div>
        </div>
      {{/if}}
      <div class="form-group">
        <label for="name">{{t "Name" key="name"}}</label>
        <Input @value={{this.model.name}} class="form-control" id="name" placeholder="Full Name" />
      </div>
      <div class="form-group">
        <label for="user_name">{{t "Username" key="username"}}</label>
        <Input @value={{this.model.user_name}} class="form-control" id="user_name" placeholder="User name (optional, we can pick for you)" />
        {{#if this.noSpacesName}}
          <span class='text-danger'>{{t "user names can't have spaces, dots or quotes" key="no_spaces_user_name"}}</span>
        {{else if this.user.user_name_check.checking}}
        {{else if this.user.user_name_check.exists}}
          <span class='text-danger'>{{t "%{user_name} already exists" user_name=this.user.user_name}}</span>
        {{else if this.noName}}
          <span class='text-danger'>{{t "name or username is required" key="name_or_username_required"}}</span>
        {{/if}}
      </div>
      <div class="form-group">
        <label for="email">{{t "Email" key="email"}}</label>
        <Input @value={{this.model.email}} class="form-control" id="email" placeholder="" />
        {{#if this.badEmail}}
          <span class='text-danger'>{{t "email required" key="email_required"}}</span>
        {{/if}}
      </div>
      {{#if this.showCoppaConsent}}
        <div class="form-group">
          <fieldset>
            <legend class="sr-only">{{t "How old is the person creating this account?" key="coppa_age_gate_prompt"}}</legend>
            <span id="coppa-age-prompt">{{t "How old is the person creating this account?" key="coppa_age_gate_prompt"}}</span>
            <div class="checkbox big_checkbox" style="margin-top: 0.5rem;">
              <label>
                <input type="radio" name="coppa_age" checked={{is-equal this.coppa_age_group "over_13"}} onclick={{action (mut this.coppa_age_group) "over_13"}} />
                {{t "13 or older" key="coppa_age_13_or_older"}}
              </label>
            </div>
            <div class="checkbox big_checkbox">
              <label>
                <input type="radio" name="coppa_age" checked={{is-equal this.coppa_age_group "under_13"}} onclick={{action (mut this.coppa_age_group) "under_13"}} />
                {{t "Under 13" key="coppa_age_under_13"}}
              </label>
            </div>
            {{#if this.coppaAgeRequired}}
              <span class="text-danger">{{t "Please select an age option." key="coppa_age_required"}}</span>
            {{/if}}
          </fieldset>
        </div>
        {{#if (is-equal this.coppa_age_group "under_13")}}
          <div class="form-group">
            <label for="parent_consent_email">{{t "Parent or guardian email" key="coppa_parent_email_label"}}</label>
            <Input @value={{this.parent_consent_email}} class="form-control" id="parent_consent_email" placeholder={{t "Parent's email address (must differ from account email)" key="coppa_parent_email_placeholder"}} />
            {{#if this.coppaParentEmailMissing}}
              <span class="text-danger">{{t "Parent or guardian email is required for users under 13." key="coppa_parent_email_required"}}</span>
            {{/if}}
            {{#if this.coppaParentEmailSameAsAccount}}
              <span class="text-danger">{{t "Parent email must be different from the account email." key="coppa_parent_email_must_differ"}}</span>
            {{/if}}
          </div>
        {{/if}}
      {{/if}}
      <div class="form-group">
        <label for="password">{{t "Password" key="password"}}</label>
        <Input @type="password" @value={{this.model.password}} class="form-control" id="password" placeholder="at least 6 characters" />
        {{#if this.shortPassword}}
          <span class='text-danger'>{{t "password must be at least 6 characters" key="min_password_lower"}}</span>
        {{/if}}
      </div>
      <div class="form-group">
        <label for="registration_type">{{t "Type" key="type"}}</label>
        {{bound-select select_class="form-control" select_id="registration_type" content=this.registration_types selection=this.model.preferences.registration_type action=(action (mut this.model.preferences.registration_type)) }}
      </div>
      <div class="form-group">
        {{#unless this.start_code}}
          <button type="button" class="register-start-code-link" {{action "allow_start_code"}}>
            {{t "I have a start code" key="have_a_start_code"}}
          </button>
        {{else}}
          <label for="start_code">{{t "Start Code" key="start_code"}}</label>
          <Input @value={{this.model.start_code}} class="form-control" placeholder="optional, if provided" />
        {{/unless}}
      </div>
      <div class="register-checkboxes">
        <div class="checkbox big_checkbox">
          <label>
            <Input @type="checkbox" @checked={{this.user.preferences.cookies}} />
            {{t "Send usage data to %app_name% for analytics, error tracking and feature improvements" key="allow_cookies"}}
          </label>
        </div>
        <div class="checkbox big_checkbox">
          <label>
            <Input @type="checkbox" @checked={{this.model.terms_agree}} />
            By registering or using the product, you agree that you have read and understood the <a href="/terms" target="_blank" rel="noopener">Terms of Use and License Agreement</a>, and are capable of binding to a legal contract.
          </label>
        </div>
      </div>
      <div class="register-btn-wrap">
      {{#if (persistence-online)}}
        <button type="submit" disabled={{this.registering.saving}} class="register-btn">
          {{#if this.registering.initializing}}
            {{t "Handling Start Code..." key="processing_start_code"}}
          {{else if this.registering.saving}}
            {{t "Signing Up..." key="signing_up"}}
          {{else}}
            {{t "Sign Up" key="sign_up"}}
          {{/if}}
        </button>
      {{else}}
        <button type='submit' disabled='true' class="register-btn register-btn--disabled">
          {{t "Not Online" key="not_online"}}
        </button>
      {{/if}}
      </div>
      {{#if this.registering.error}}
        <p class='register-error'>
          {{#if this.registering.error.email_blocked}}
            {{t "The email address provided has been blocked, please try a different address" key="email_blocked"}}
          {{else if this.registering.error.progress}}
            {{t "User initialization failed. Please contact support." key="user_init_failed"}}
          {{else if this.registering.error.start_code}}
            {{t "Please re-check the start code" key="check_start_code"}}
          {{else}}
            {{t "There was an unexpected error while registering" key="error_registering"}}
          {{/if}}
        </p>
      {{/if}}
      </form>
      {{/if}}
    {{else}}
      <div class="la-section-header">
        <div class="la-hero-title-wrap">
          <h2 class="la-hero-title">{{t "Can't Register" key="cant_register"}}</h2>
        </div>
        <hr class="la-about-hero-separator" aria-hidden="true">
      </div>
      <p>
        <span class="glyphicon glyphicon-exclamation-sign"></span>
        {{t "The privacy settings on your browser are preventing %app_name% from fully functioning, so login and registration are temporarily disabled. %app_name% uses browser storage for things like user identity, offline support and performance improvements." key="privacy_wont_work"}}
      </p>
      <p>
        <a href="https://lingolinq.zendesk.com/hc/en-us/articles/202007575" target="_blank" rel="noopener">
          {{t "Learn more about configuring your browser to run %app_name%" key="learn_privacy"}}
        </a>
      </p>
    {{/if}}
  </div>
</div>
</div>
