<div class="row">
  <div class="col-sm-12">
    <form class="form-inline">
      <div class="form-group">
      {{input type="text" value=this.searchString enter=(action "searchBoards") class="form-control" placeholder="Search Boards"}}
      </div>
      <div class="form-group thin_select" style='width: 80px;'>
        {{bound-select select_class="form-control" content=this.locales selection=this.locale action=(action (mut this.locale)) }}
      </div>
      <div class="form-group">
        <button class="btn btn-default" {{action "searchBoards"}}>{{t "Go" key="go"}}</button>
      </div>
      <div class="form-group" style="padding-left: 20px;">
        {{#if this.app_state.currentUser}}
          <button class="btn btn-default" {{action "newBoard"}}>{{t "Create a New Board" key="create_a_new_board"}}</button>
          <LinkTo @route="home-boards" class="btn btn-default">
              {{t "Help Me Choose a Home Board" key="help_me_choose_a_home_board"}}
          </LinkTo>
        {{/if}}
      </div>
    </form>
  </div>
</div>
<div class="row" style="margin-top: 15px;">
  <div class={{if this.app_state.currentUser "col-sm-8" "col-sm-12"}}>
    <h2>{{t "Online Results" key="online_results"}}</h2>
    {{#if this.online_results}}
      {{#if this.online_results.loading}}
        <p>{{t "Loading..." key="loading"}}</p>
      {{else if this.online_results.results}}
        <div class="row">
          {{#each this.online_results.results as |board|}}
            {{#if board.key}}
              <div class={{if this.app_state.currentUser "col-md-3 col-sm-4 col-xs-4 simple_board_holder" "col-sm-2 col-xs-4 simple_board_holder"}}>
                {{board-icon board=board localized=true flag_home=true}}
              </div>
            {{/if}}
          {{/each}}
        </div>
      {{else}}
        {{#if this.persistence.online}}
          <p>{{t "None found" key="none_found"}}</p>
        {{else}}
          <p>{{t "Not online, connect to the Internet to see results" key="not_online_connect"}}</p>
        {{/if}}
      {{/if}}
    {{/if}}
  </div>
  {{#if this.app_state.currentUser}}
    <div class="col-sm-4">
      {{#if this.persistence.online}}
        <h2>{{t "My Boards" key="my_boards"}}</h2>
        {{#if this.personal_results}}
          {{#if this.personal_results.loading}}
            <p>{{t "Loading..." key="loading"}}</p>
          {{else if this.personal_results.results}}
            <div class="row">
              {{#each this.personal_results.results as |board|}}
                {{#if board.key}}
                  <div class="col-md-4 col-sm-6 col-xs-4 simple_board_holder">
                    {{board-icon board=board localized=true flag_home=true}}
                  </div>
                {{/if}}
              {{/each}}
            </div>
            {{#link-to "user.index" this.app_state.currentUser.user_name}}{{t "See All My Boards" key="see_all_my_boards"}}{{/link-to}}
          {{else}}
            {{#if this.persistence.online}}
              <p>{{t "None found" key="none_found"}}</p>
              {{#link-to "user.index" this.app_state.currentUser.user_name}}{{t "See All My Boards" key="see_all_my_boards"}}{{/link-to}}
            {{else}}
              <p>{{t "Not online, connect to the Internet to see results" key="not_online_connect"}}</p>
            {{/if}}
          {{/if}}
        {{/if}}
      {{else}}
        {{#unless this.local_results.impossible}}
          <h2>{{t "Local Results" key="local_results"}}</h2>
          {{#if this.local_results}}
            {{#if this.local_results.loading}}
              <p>{{t "Loading..." key="loading"}}</p>
            {{else if this.local_results.results}}
              <div class="row">
                {{#each this.local_results.results as |board|}}
                  {{#if board.key}}
                    <div class="col-md-4 col-sm-6 col-xs-4 simple_board_holder">
                      {{board-icon board=board}}
                    </div>
                  {{/if}}
                {{/each}}
              </div>
            {{else}}
              <p>{{t "None found" key="none_found"}}</p>
            {{/if}}
          {{/if}}
        {{/unless}}
      {{/if}}
    </div>
  {{/if}}
</div>
