<div class="md-user-layout hide_print">
  <nav class="md-pillnav md-pillnav--user" aria-label={{t "User menu" key="user_menu"}}>
    <LinkTo @route="user.index" @model={{this.model.user_name}} class="md-pillnav__pill">{{t "summary" key="summary_lower"}}</LinkTo>
    <LinkTo @route="user.stats" @model={{this.model.user_name}} @query={{hash highlighted=null start=null end=null location_id=null device_id=null split=null start2=null end2=null device_id2=null location_id2=null}} class="md-pillnav__pill {{if (is-equal this.app_state.current_route 'user.stats') 'active'}}">{{t "reports" key="reports_lower"}}</LinkTo>
    <LinkTo @route="user.goals" @model={{this.model.user_name}} class="md-pillnav__pill">{{t "goals" key="goals_lower"}}</LinkTo>
    {{#if this.app_state.feature_flags.lessons}}
      {{#if this.model.organizations.length}}
        <LinkTo @route="user.lessons" @model={{this.model.user_name}} class="md-pillnav__pill">{{t "trainings" key="trainings_lower"}}</LinkTo>
      {{/if}}
    {{/if}}
    <LinkTo @route="user.recordings" @model={{this.model.user_name}} class="md-pillnav__pill">{{t "recordings" key="recordings_lower"}}</LinkTo>
    <LinkTo @route="speech" class="md-pillnav__pill">{{t "speech" key="speech_lower"}}</LinkTo>
    {{#if this.model.permissions.edit}}
      <LinkTo @route="user.edit" @model={{this.model.user_name}} class="md-pillnav__pill">{{t "profile" key="profile_lower"}}</LinkTo>
      <LinkTo @route="user.preferences" @model={{this.model.user_name}} class="md-pillnav__pill">{{t "preferences" key="preferences_lower"}}</LinkTo>
      {{#if this.app_state.feature_flags.subscriptions}}
        <LinkTo @route="user.subscription" @model={{this.model.user_name}} class="md-pillnav__pill">{{t "billing" key="billing_lower"}}</LinkTo>
      {{/if}}
    {{/if}}
    <LinkTo @route="user.logs" @model={{this.model.user_name}} @query={{hash type=null}} class="md-pillnav__pill">
      {{t "logs &amp; messages" key="logs_messages"}}
      {{#if this.app_state.currentUser.unread_messages}}
        <span class="md-pillnav__badge">{{this.app_state.currentUser.unread_messages}}</span>
      {{/if}}
    </LinkTo>
  </nav>
</div>

<div class="md-user-outlet">
  {{outlet}}
</div>
