{{#if this.model.permissions.view}}
  <h2>{{ this.model.name }}</h2>
  {{#if this.model.permissions.view_stats}}
    <div class="row">
      <div class="col-sm-3 col-xs-6">
        <div class="panel panel-default summary smaller">
          <div class="panel-heading">
            {{t "Last logged session" key="last_logged_session"}}
          </div>
          <div class="panel-body">
            {{#if this.first_log}}
              {{date_ago this.first_log.started_at}}
            {{else}}
              {{t "..." key="ellipsis"}}
            {{/if}}
          </div>
        </div>
      </div>
      <div class="col-sm-3 col-xs-6">
        <div class="panel panel-default summary smaller">
          <div class="panel-heading">
            {{t "Recent Sessions" key="recent_sessions"}}
          </div>
          <div class="panel-body">
            {{#if this.log_stats.loaded}}
              {{delimit this.log_stats.total_words}} {{t "words" key="words"}},
            {{/if}}
            {{t "session" key="n_sessions" count=this.model.user_counts.recent_session_count}}
          </div>
        </div>
      </div>
      <div class="col-sm-3 col-xs-6">
        <div class="panel panel-default summary smaller">
          <div class="panel-heading">
            {{t "Recently-logged Usage" key="recently_logged_usage"}}
          </div>
          <div class="panel-body">
            {{t "hr" key="n_hours_abbrev" count=this.model.user_counts.recent_session_hours}},

            {{this.model.user_counts.recent_session_user_count}} / {{this.model.user_counts.total_users}}
            {{t "users" key="users_lower"}}
          </div>
        </div>
      </div>

      {{#if this.log_stats.loaded}}
        <div class="col-sm-3 col-xs-6">
          <div class="panel panel-default summary smaller">
            <div class="panel-heading">
              {{t "Avg. Usage" key="words_per_day"}}
            </div>
            <div class="panel-body">
              {{t "word" count=this.log_stats.avg_words_per_day key="n_words"}}/{{t "day" key="day_lower"}}, 
              {{t "session" count=this.log_stats.avg_sessions_per_user_week key="n_sessions"}}/{{t "wk" key="wk"}}
            </div>
          </div>
        </div>
      {{/if}}
      {{#if this.model.permissions.view}}
        <div style='clear: left;'></div>
        <div class='col-sm-6' style='margin-bottom: 10px;'>
          {{#if this.model.permissions.edit}}
            {{#if this.organization.premium}}
              <span class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  <span class='glyphicon glyphicon-envelope'></span>
                  {{t "Message..." key="message_ellipsis"}}
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                  <li><a href="#" {{action "message" "communicators"}}>{{t "Communicators" key="communicators"}}</a></li>
                  <li><a href="#" {{action "message" "supervisors"}}>{{t "Supervisors" key="supervisors"}}</a></li>
                  <li><a href="#" {{action "message" "all"}}>{{t "Everyone" key="everyone"}}</a></li>
                </ul>
              </span>
            {{/if}}
            {{#if this.model.permissions.delete}}
              <button class='btn btn-default' {{action "add_users"}}>{{t "Add Users" key="add_users"}}</button>
            {{/if}}
            <button class='btn btn-default' {{action "edit_unit"}}>{{t "Edit Room" key="edit_room"}}</button>
          {{/if}}
          {{#if (and this.model.permissions.edit (or this.organization.premium this.model.permissions.delete))}}
          <span class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              {{t "Actions" key="actions"}}
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              {{#if this.organization.premium}}
                <li><a href="#" {{action "set_goal"}}>
                  {{#if this.model.goal}}
                    {{t "Remove Room-Wide Goal" key="remove_room_wide_goal"}}
                  {{else}}
                    {{t "Set Room-Wide Goal" key="set_room_wide_goal"}}
                  {{/if}}
                </a></li>
                {{#if this.app_state.feature_flags.lessons}}
                  {{#if this.model.lesson}}
                    <li><a href="#" {{action "remove_lesson"}}>{{t "Remove Training" key="remove_training"}}</a></li>
                  {{else}}
                    <li><a href="#" {{action "set_lesson"}}>{{t "Assign Training" key="assign_training"}}</a></li>
                  {{/if}}
                {{/if}}
                <li><a href="#" {{action "update_curriculum"}}>{{t "Update Curriculum" key="update_curriculum"}}</a></li>
              {{/if}}
              {{#if this.model.permissions.delete}}
                <li><a href="#" {{action "delete_unit"}}>{{t "Delete Room" key="delete_room"}}</a></li>
              {{/if}}
            </ul>
          </span>
          {{/if}}
        </div>
      {{/if}}
      {{#if this.log_stats.loaded}}
        <div class="col-sm-3 col-xs-6">
          <div class="panel panel-default summary smaller">
            <div class="panel-heading">
              {{t "Goal Words" key="goal_words"}}
            </div>
            <div class="panel-body" style='max-height: 90px; font-size: 13px; overflow: auto; white-space: normal;'>

              {{#if this.log_stats.goal_word_counts}}
                {{#each this.log_stats.goal_word_counts as |wrd|}}
                  <span style='padding-right: 10px; font-size: 16px; font-weight: bold;'>
                    {{wrd.word}}
                  </span>
                {{/each}}
              {{else if this.model.goal}}
              {{else if this.model.user_counts.goal_set}}
                <em style='font-size: 12px;'>{{t "No words targeted in user goals" key="no_words_targeted_in_user_goals"}}</em>
              {{else}}
                <em style='font-size: 12px;'>{{t "No user goals set" key="no_user_goals_set"}}</em>
              {{/if}}

              {{#if this.organization.premium}}
                {{#if this.model.goal}}
                  <div style='font-style: italic; margin-top: 5px;'>
                    <LinkTo @route="goals.goal" @model={{this.model.goal.id}}>{{this.model.goal.summary}}</LinkTo>
                  </div>
                {{/if}}
              {{/if}}

              {{#if this.organization.premium}}
                {{#if this.model.permissions.edit}}
                  <div style='text-align: right; margin-top: 10px;'>
                    {{#if this.model.goal}}
                    {{else}}
                      <a href="#" {{action "set_goal"}} style='font-size: 12px;'>{{t "set goal" key="set_goal"}}</a>
                    {{/if}}
                  </div>
                {{/if}}
              {{/if}}
            </div>
          </div>
        </div>
      {{/if}}
      {{#if this.organization.premium}}
        <div class="col-sm-3">
          <div class="panel panel-default summary smaller">
            <div class="panel-heading">
              {{t "Curriculum & Training" key="training_and_curriculum"}}
            </div>
            <div class="panel-body" style='max-height: 90px; font-size: 13px; overflow: auto; white-space: normal;'>
              {{#if this.lesson_or_topics}}
                {{#if this.model.topics}}
                  {{#each this.model.topics as |topic|}}
                    <span style='padding-right: 15px; font-size: 16px;'>
                    {{#if topic.url}}
                      <a href={{topic.url}} target="_blank" rel="noopener">{{topic.title}}</a>
                    {{else}}
                      {{topic.title}}
                    {{/if}}
                    </span>
                  {{/each}}
                {{/if}}
                {{#if this.app_state.feature_flags.lessons}}
                  {{#if this.model.lesson}}
                    <div style='font-style: italic; margin-top: 10px;'>
                      <a href="#" {{action "launch_lesson"}}>{{this.model.lesson.title}}</a>
                      ({{this.lesson_targets}})
                    </div>
                  {{/if}}
                {{/if}}
              {{else}}
                {{t "None Set" key="none_set"}}
              {{/if}}
              {{#if this.model.permissions.edit}}
                <div style='text-align: right; margin-top: 10px;'>
                  <a href="#" {{action "update_curriculum"}}>{{t "update curriculum" key="update_curriculum_lower"}}</a>
                </div>
              {{/if}}
            </div>
          </div>
        </div>
      {{/if}}
      <div style='clear: both;'></div>
      {{#if this.model.permissions.edit}}
        {{#if this.model.adding_users}}
          <div class='col-sm-6' style='margin-bottom: 20px;'>
            <span style="display: inline-block; width: 150px;">
              {{bound-select select_class="form-control" content=this.organization.supervisor_options selection=this.model.supervisor_user_name action=(action (mut this.model.supervisor_user_name)) }}
            </span>
            <div class="btn-group dropdown">
              <button class='btn btn-default dropdown-toggle' data-toggle="dropdown" aria-expanded="false">
                {{t "Add Supervisor" key="add_supervisor"}} <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#" {{action "add_unit_user" "edit_supervisor"}}>{{t "Add With Edit Permission" key="add_with_edit_permission"}}</a></li>
                <li><a href="#" {{action "add_unit_user" "supervisor"}}>{{t "Add As View Only" key="add_as_read_only"}}</a></li>
              </ul>
            </div>
          </div>
          <div class='col-sm-6' style='margin-bottom: 20px;'>
            <span style="display: inline-block; width: 150px;">
              {{bound-select select_class="form-control" content=this.organization.communicator_options selection=this.model.communicator_user_name action=(action (mut this.model.communicator_user_name)) }}
            </span>
            <button class='btn btn-default' {{action "add_unit_user" "communicator"}}>{{t "Add Communicator" key="add_communicator"}}</button>
          </div>
        {{/if}}
      {{/if}}

      <div class="col-sm-6" style="padding: 0; page-break-inside: avoid;">
        {{#if this.model.weekly_stats.loading}}
          {{t "Loading reports..." key="loading_reports"}}
        {{else if this.model.weekly_stats.error}}
          {{t "There was a problem loading this report" key="problem_loading_report"}}
        {{else}}
          {{stats/sessions-per-week weekly_stats=this.model.weekly_stats}}
        {{/if}}
      </div>
      <div class="col-sm-3 col-xs-6" style="padding: 0;">
        {{stats/recent-sessions total=this.model.user_counts.total_users recent=this.model.user_counts.recent_session_user_count}}
      </div>
      {{#if this.model.user_counts}}
        <div class="col-sm-3 col-xs-6" style="padding: 0;">
          {{stats/recent-goals total=this.model.user_counts.total_users goal_set=this.model.user_counts.goal_set tracked=this.model.user_counts.goal_recently_logged}}
        </div>
      {{/if}}
      <div class='col-sm-6' style='clear: both;'>
        <strong>{{t "Recent Words" key="recent_words"}}</strong>
        {{#if this.log_stats.word_count}}
          {{stats/word-cloud stats=this.words_cloud short=true zoom=1}}
        {{else}}
          <br><br><em>{{t "No recent words to report" key="no_recent_words_to_report"}}</em><br>
        {{/if}}
      </div>
      <div class='col-sm-6'>
        <strong>{{t "Modeled Words" key="modeled_words"}}</strong>
        {{#if this.modeled_words_cloud.words_by_frequency.length}}
          {{stats/word-cloud stats=this.modeled_words_cloud short=true zoom=1}}
        {{else}}
          <br><br><em>{{t "No modeled words to report" key="no_modeled_words_to_report"}}</em><br>
        {{/if}}
      </div>
      <div style='clear: both;'></div>
    </div>
  {{/if}}
  <h3>{{t "Supervisors" key="supervisors"}}</h3>
  {{#if this.model.supervisors}}
    {{stats/user-weeks unit=this.model user_type="supervisor" users=this.model.supervisors weeks=this.model.supervisor_weeks delete_user="delete_unit_user" user_profile="supervisor_profile" refresh="refresh" deletable=this.model.permissions.edit profiles=this.model.org_profile show_profiles=this.model.org_supervisor_profile lesson=this.model.lesson}}
  {{else}}
    <p style="margin-bottom: 30px;">{{t "None found" key="none_found"}}</p>
  {{/if}}

  <h3>{{t "Communicators" key="communicators"}}</h3>
  {{#if this.model.communicators}}
    {{stats/user-weeks unit=this.model user_type="communicator" org=this.organization users=this.model.communicators weeks=this.model.user_weeks room_goal_id=this.model.goal_id delete_user="delete_unit_user" user_profile="communicator_profile" user_status="communicator_status" refresh_id=this.refresh_id refresh="refresh" deletable=this.model.permissions.edit max_session_count=this.model.max_session_count profiles=this.model.org_profile show_profiles=this.model.org_communicator_profile lesson=this.model.lesson}}
  {{else}}
    <p style="margin-bottom: 30px;">{{t "None found" key="none_found"}}</p>
  {{/if}}

  {{#if this.model.permissions.view_stats}}
    <h3 style='margin-top: 30px; border-top: 1px solid #ccc; padding-top: 20px;'>{{t "Recent Usage" key="recent_usage"}}</h3>
    {{#if this.model.logs.data}}
      <ul class="list-unstyled">
      {{#each this.model.logs.data as |log|}}
        <li>
          <p>
            <LinkTo @route="user" @model={{log.user.user_name}}>{{log.user.user_name}}</LinkTo> -
            <span title={{date log.started_at}}>
              {{date_ago log.started_at}}
            </span>
            <LinkTo @route="user.log" @models={{array log.user.user_name log.id}}>
              {{t "button" count=log.button_count key="button_count"}}
            </LinkTo>
            <br>
            <span style="color: #888; font-size: 10px; white-space: nowrap; overflow: hidden; display: block;">{{log.summary}}</span>
          </p>
        </li>
      {{/each}}
      </ul>
    {{else if this.logs.loading}}
      <p>{{t "Loading sessions..." key="loading_sessions"}}</p>
    {{else}}
      <p>{{t "None found" key="none_found"}}</p>
    {{/if}}
  {{/if}}
{{else}}
  {{t "No information available" key="no_information_available"}}
{{/if}}
