<div style='margin-left: 25px;'>
  {{#unless this.rows}}
    <p>{{t "No results" key="no_results"}}</p>
  {{/unless}}
  {{#each this.rows as |row|}}
    <div class='row'>
      <div class='col-sm-4' style={{row.label_style}}>
        {{#if row.link}}
          <LinkTo @route="organization.reports" @model={{this.org_id}} @query={{hash current_report=row.link}}>
            {{#if row.glyph}}
              <span class={{row.glyph}}></span>
            {{/if}}
            {{row.id}}
          </LinkTo>
        {{else}}
          {{#if row.glyph}}
            <span class={{row.glyph}}></span>
          {{/if}}
          {{row.id}}
        {{/if}}
      </div>
      <div class='col-sm-8'>
        <div style='width: 80%; border-right: 1px solid #ddd; padding: 5px 0; height: 50px;'>
          <div style={{row.style}}>
            {{row.val}}
          </div>
        </div>
      </div>
    </div>
  {{/each}}
</div>