<div class="col-sm-3 col-xs-6" style={{this.elem_style}}>
  <div class="panel panel-default summary">
    <div class="panel-heading">
      {{t "Utterances per minute" key="utterances_per_minute"}}
    </div>
    <div class="panel-body">
      {{round this.utterancesPerMinuteDisplay}}
    </div>
  </div>
</div>
<div class="col-sm-3 col-xs-6">
  <div class="panel panel-default summary">
    <div class="panel-heading">
      {{t "Buttons per minute" key="buttons_per_minute"}}
    </div>
    <div class="panel-body">
      {{round this.buttonsPerMinuteDisplay}}
    </div>
  </div>
</div>
