<div class="col-sm-3 col-xs-6" style={{this.elem_style}}>
  <div class="panel panel-default summary">
    <div class="panel-heading">
      {{t "Total Sessions" key="total_sessions"}}
    </div>
    <div class="panel-body">
      {{delimit this.totalSessionsDisplay}}
    </div>
  </div>
</div>
<div class="col-sm-3 col-xs-6">
  <div class="panel panel-default summary">
    <div class="panel-heading">
      {{t "Total Words" key="total_words"}}
    </div>
    <div class="panel-body">
      {{delimit this.totalWordsDisplay}}
    </div>
  </div>
</div>
