<div class="ll-bento-app-shell {{if this.app_state.darkMode "ll-bento-app-shell--dark"}} {{if this.app_state.midDayMode "ll-bento-app-shell--midday"}}">
  <div class="ll-bento-bg-orbs" aria-hidden="true">
    <span class="ll-bento-orb ll-bento-orb--a"></span>
    <span class="ll-bento-orb ll-bento-orb--b"></span>
    <span class="ll-bento-orb ll-bento-orb--c"></span>
  </div>
  <div class="ll-bento-device-frame ll-bento-device-frame--wide">
    <header class="ll-bento-topbar {{if this.app_state.midDayMode "ll-bento-topbar--midday"}}">
      <div class="ll-bento-topbar__section ll-bento-topbar__brand">
        <a href="#" class="ll-bento-brand-link" {{action "index"}}>
          <img src={{path "images/pastel-logo.png"}} alt="" class="ll-bento-logo" aria-hidden="true">
          <div class="ll-bento-brand__name">{{t "%app_name_upper%" key="app_name_upper"}}</div>
        </a>
      </div>
      <div class="ll-bento-topbar__section ll-bento-topbar__welcome">
        <span class="ll-bento-welcome">
          <span class="ll-bento-welcome__label">{{t "Welcome" key="welcome"}}</span>
          {{#if this.app_state.currentUser.permissions.delete}}
            <LinkTo @route="user" @model={{this.app_state.currentUser.user_name}} class="ll-bento-welcome__link"><span class="ll-bento-welcome__badge">{{this.app_state.currentUser.user_name}}</span></LinkTo>
          {{else}}
            <span class="ll-bento-welcome__badge">{{this.app_state.currentUser.user_name}}</span>
          {{/if}}
        </span>
      </div>
      <div class="ll-bento-topbar__section ll-bento-topbar__search">
        <a href="#" class="ll-bento-search" {{action "searchBoards"}} role="button" aria-label={{t "Search" key="search"}}>
          <span class="ll-bento-search__icon" aria-hidden="true">&#8981;</span>
          <span class="ll-bento-search__input">{{t "Search" key="search"}}…</span>
        </a>
      </div>
      <div class="ll-bento-topbar__section ll-bento-topbar__actions">
        <a href="#" class="ll-bento-icon-btn ll-bento-icon-btn--refresh" {{action "reload"}} role="button" aria-label={{t "Reload" key="reload"}} title={{t "Reload" key="reload"}}>
          <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
        </a>
        {{#unless this.app_state.eval_mode}}
          <a href="#" class="ll-bento-icon-btn ll-bento-help-btn" {{action "support"}} role="button" aria-label={{t "Help" key="help"}} title={{t "Help" key="help"}}>
            <span class="ll-bento-help-btn__icon" aria-hidden="true">?</span>
          </a>
        {{/unless}}
        {{#if this.app_state.currentUser.permissions.delete}}
          <LinkTo @route="user" @model={{this.app_state.currentUser.user_name}} class="ll-bento-icon-btn" aria-label={{t "Profile" key="profile"}}>
            <img src={{this.app_state.currentUser.avatar_url_with_fallback}} class="fit_image" style="width: 18px; height: 18px; border-radius: 999px; object-fit: cover;" alt="">
          </LinkTo>
        {{else}}
          <span class="ll-bento-icon-btn" aria-hidden="true">
            <img src={{this.app_state.currentUser.avatar_url_with_fallback}} class="fit_image" style="width: 18px; height: 18px; border-radius: 999px; object-fit: cover;" alt="">
          </span>
        {{/if}}
      </div>
    </header>
    <div class="row">
<div class='col col-12' id="new_right">
  <div class="ll-bento-tabs" role="tablist" aria-label={{t "Home filters" key="home_filters"}}>
    <button class="ll-bento-tab {{if this.index_nav.main "ll-bento-tab--active"}}" role="tab" aria-selected={{if this.index_nav.main "true" "false"}} type="button" {{action "set_index_nav" "main"}}>{{t "Actions" key="actions"}}</button>
    {{#unless this.app_state.currentUser.modeling_only}}
      {{#if this.show_communicators_tab}}
        <button class="ll-bento-tab {{if this.index_nav.supervisees "ll-bento-tab--active"}}" role="tab" aria-selected={{if this.index_nav.supervisees "true" "false"}} type="button" {{action "set_index_nav" "supervisees"}}>{{t "Communicators" key="communicators"}}</button>
      {{/if}}
    {{/unless}}
    <button class="ll-bento-tab {{if this.index_nav.boards "ll-bento-tab--active"}}" role="tab" aria-selected={{if this.index_nav.boards "true" "false"}} type="button" {{action "set_index_nav" "boards"}}>{{t "Boards" key="boards"}}</button>
    {{#unless this.app_state.currentUser.supporter_role}}
      {{#unless this.app_state.currentUser.modeling_only}}
        <button class="ll-bento-tab" role="tab" type="button" {{action "manage_supervisors"}}>{{t "Supervisors" key="supervisors"}}</button>
      {{/unless}}
    {{/unless}}
    {{#unless this.app_state.currentUser.modeling_only}}
      <button id='nav_updates' class="ll-bento-tab {{if this.index_nav.updates "ll-bento-tab--active"}}" role="tab" aria-selected={{if this.index_nav.updates "true" "false"}} type="button" {{action "set_index_nav" "updates"}} style='position: relative;'>
        {{t "Updates" key="updates"}}
        {{#if this.pending_updates}}
          <span class="label label-danger unread hidden-xs" style='position: absolute; right: -25px; top: 9px;'>
            {{#if this.pending_updates.count}}
              {{this.pending_updates.count}}
            {{else}}
              {{t "!" key="exclaim"}}
            {{/if}}
          </span>
        {{/if}}
      </button>
    {{/unless}}
  </div>
  {{#if this.index_nav.main}}
    {{#if this.blank_slate}}
      <a href="#" class="ll-bento-getting-started ll-bento-getting-started--main" {{action "getting_started"}}>
        <img src={{path "images/pastel-getting-started.svg"}} alt="" class="ll-bento-getting-started__image" aria-hidden="true">
        <div class="ll-bento-getting-started__body">
          <span class="ll-bento-getting-started__title">{{t "Getting Started" key="getting_started"}}</span>
          <div class="ll-bento-progress" role="progressbar" aria-valuenow={{this.blank_slate_percent}} aria-valuemin="0" aria-valuemax="100">
            <div class="ll-bento-progress__fill" style={{this.blank_slate_percent_style}}></div>
            <span class="sr-only">{{t "%{pct}% Complete" key="percent_complete" pct=this.blank_slate_percent}}</span>
          </div>
          <span class="ll-bento-getting-started__hint">{{t "Finish setting up your account" key="on_your_way"}}</span>
        </div>
        <span class="ll-bento-getting-started__btn">{{t "Help me Setup my Account" key="help_me_setup_account"}}</span>
      </a>
    {{/if}}
    {{!-- Home board card - commented out, uncomment to restore
    {{#unless this.home_board_or_supporter}}
      {{#unless this.app_state.currentUser.modeling_only}}
        <LinkTo @route="home-boards" class="ll-bento-home-board-card">
          <img src={{path "images/pastel-house.png"}} alt="" class="ll-bento-home-board-card__image" aria-hidden="true">
          <div class="ll-bento-home-board-card__content">
            <h3 class="ll-bento-home-board-card__title">{{t "You haven't set a home board yet" key="choose_home_board"}}</h3>
            <p class="ll-bento-home-board-card__subtitle">{{t "Let us help you choose one." key="let_us_help_choose_home"}}</p>
          </div>
          <span class="ll-bento-home-board-card__btn">{{t "Help Me Choose a Home Board" key="help_me_choose_a_home_board"}}</span>
        </LinkTo>
      {{/unless}}
    {{/unless}}
    --}}
  {{/if}}
  <div class='row big_buttons ll-bento-content'>
    {{#if this.index_nav.supervisees}}
      {{#unless this.app_state.currentUser.modeling_only}}
      <div class='col-xs-12'>
        <h4>{{t "People I Supervise" key="people_i_supervise"}}</h4>
      </div><div style='clear: left;'></div>
      {{#unless this.supervisees_with_badges}}
        <div style='margin: 0 20px; max-width: 600px;'>{{t "You have not been added as a supervisor for any communicators. For privacy reasons, supervisors must be added from the communicators account. Once you have helped your communicators add you to their account as a supervisor, you will see them appear here." key="no_supervisors_explainer"}}</div>
      {{/unless}}
      {{#each this.supervisees_with_badges as |supervisee|}}
        <div class='col-lg-6 col-md-12' style='padding: 0 5px;'>
          <div style='border: 5px solid #ccc; border-radius: 10px; margin-bottom: 10px; padding: 10px 15px;'>
            <div style='float: left; position: relative;'>
              {{#link-to "user" supervisee.user_name}}
                {{#if supervisee.local_avatar_url}}
                  <img src={{supervisee.local_avatar_url}} rel-url={{supervisee.avatar_url}} onerror="button_broken_image(this);" class='fit_image' style="height: 80px; width: 80px; margin: 25px 10px 0 -10px;">
                {{else}}
                  <img src={{supervisee.avatar_url}} onerror="button_broken_image(this);" class='fit_image' style="height: 80px; width: 80px; margin: 25px 10px 0 -10px;">
                {{/if}}
              {{/link-to}}
              {{#if supervisee.online}}
                <div title='currently online' class='online_marker'></div>
              {{/if}}
              {{#if supervisee.earned_badge}}
                {{badge-earned badge=supervisee.earned_badge}}
              {{/if}}
            </div>
            <div style='overflow: hidden; white-space: nowrap; margin-top: -10px;'>
              <span style='font-size: 30px;'>{{supervisee.user_name}}</span>
              <div class='text-muted' style='margin: -10px 0 5px;'>
                {{#if supervisee.goal}}
                  {{supervisee.goal.summary}}
                {{else}}
                  <span style='color: #ccc;'>{{t "no goal set" key="no_goal_set"}}</span>
                  {{#if (persistence-online)}}
                    {{#unless this.app_state.currentUser.modeling_only}}
                      - <a {{action "set_goal" supervisee}} href="#">{{t "set a goal" key="set_a_goal"}}</a>
                    {{/unless}}
                  {{/if}}
                {{/if}}
              </div>
            </div>
            {{#if supervisee.home_board_key}}
              <button class='btn btn-primary' style='overflow: hidden; margin-bottom: 5px; width: 88px; border-width: 2px;' {{action "homeInSpeakMode" supervisee.id true}}>
                <span class='glyphicon glyphicon-hand-up' style='font-size: 30px;'></span><br>
                <div style='line-height: 14px;'>
                  {{t "Model for" key="model_for"}}<br>{{supervisee.user_name}}
                </div>
              </button>
              <button class='btn btn-default modeling_button less_important' style='overflow: hidden; margin-bottom: 5px; width: 88px; border-width: 2px;' {{action "homeInSpeakMode" supervisee.id}}>
                <span class='glyphicon glyphicon-volume-up' style='font-size: 30px;'></span><br>
                <div style='line-height: 14px;'>
                  {{t "Speak as" key="speak_as"}}<br>{{supervisee.user_name}}
                </div>
              </button>
            {{else if supervisee.external_device}}
              <button class='btn btn-default button_row_wrap secondary_button less_important' style='margin-bottom: 5px; width: 88px; border-width: 2px;' {{action "intro" supervisee.id}}>
                <span class='glyphicon glyphicon-user' style='font-size: 30px;'></span><br>
                <div style='line-height: 14px;'>
                  {{t "User" key="user"}}<br>{{t "Profile" key="profile"}}
                </div>
              </button>
            {{else}}
              <button class='btn btn-default button_row_wrap attention_button less_important' style='margin-bottom: 5px; width: 88px; border-width: 2px;' {{action "intro" supervisee.id}}>
                <img src={{path "images/learn.png"}}>
                <div style='line-height: 14px;'>
                  {{t "Setup" key="setup"}}<br>{{t "User" key="user"}}
                </div>
              </button>
            {{/if}}
            {{#if this.app_state.currentUser.modeling_only}}
              <button class='btn btn-default button_row_mini_wrap secondary_button less_important' style='margin-bottom: 5px; width: 88px; border-width: 2px;' {{action "home_board" supervisee.home_board_key}}>
                <span class='glyphicon glyphicon-th' style='font-size: 30px;'></span><br>
                <div style='line-height: 14px;'>
                  {{t "Home" key="home"}}<br>{{t "Board" key="board"}}
                </div>
              </button>
            {{else}}
              <button class='btn btn-default button_row_mini_wrap secondary_button less_important' style='margin-bottom: 5px; width: 88px; border-width: 2px;' {{action "stats" supervisee.user_name}}>
                <span class='glyphicon glyphicon-stats' style='font-size: 30px;'></span><br>
                <div style='line-height: 14px;'>
                  {{t "Usage" key="usage"}}<br>{{t "Reports" key="reports"}}
                </div>
              </button>
              <button class='btn btn-default button_row_wrap alternate_button less_important' style='opacity: 0.8; margin-bottom: 5px; border-width: 2px; color: #444;' {{action "modeling_ideas" supervisee.user_name}}>
                <img src={{path "images/pastel-lightbulb.png"}} class="modeling_ideas_icon">
                <div style='line-height: 14px;'>
                  {{t "Modeling" key="modeling"}}<br>{{t "Ideas" key="ideas"}}
                </div>
              </button>
              <div class="btn-group">
                <button class='btn btn-default dropdown-toggle button_row_extras' style='margin-bottom: 5px; border-width: 2px; border-color: #ddd; color: #888;'data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class='text'>{{t "Extras" key="extras"}} </span><span class="caret"></span></button>
                <ul class="dropdown-menu" style='left: auto; right: 0;'>
                  <li>{{#link-to "board" supervisee.home_board_key}}{{t "Home Board" key="home_board"}}{{/link-to}}</li>
                  <li>{{#link-to "user" supervisee.user_name}}{{t "Account" key="account"}}{{/link-to}}</li>
                  <li><a href="#" {{action "record_note" supervisee}}>{{t "New Note" key="new_note"}}</a></li>
                  <li><a href="#" {{action "quick_assessment" supervisee}}>{{t "Quick Assessment" key="quick_assessment"}}</a></li>
                  <li><a href="#" {{action "run_eval" supervisee}}>{{t "Run Evaluation" key="run_evaluation"}}</a></li>
                  {{#if supervisee.remote_modeling}}
                    <li><a href="#" {{action "remote_model" supervisee}}>{{t "Remote Modeling" key="remote_modeling"}}</a></li>
                  {{/if}}
                </ul>
              </div>
            {{/if}}
            <div style='clear: left;'></div>
            {{#if supervisee.current_badge}}
              {{#if supervisee.premium}}
                {{badge-progress badge=supervisee.current_badge}}
              {{else}}
                <div style='height: 35px;'></div>
              {{/if}}
            {{else}}
              <div style='height: 35px;'></div>
            {{/if}}
          </div>
        </div>
      {{/each}}
      {{/unless}}
    {{else if this.index_nav.main}}
      <div class={{if this.show_main_extras "main" "main short_list"}}>
        {{#if this.app_state.currentUser.eval_ended}}
          <div class='alert alert-danger'>
            {{t "Your evaluation has ended" key="eval_ended"}}
            {{#if this.app_state.currentUser.can_reset_eval}}
              <br>
              <button {{action "update_evaluation" "reset"}} class='purchase_link' style='font-size: 20px;'>
                <span style='color: #fff;'>
                  <span class="glyphicon glyphicon-info-sign"></span>
                  {{t "Reset Evaluation" key="reset_evaluation"}}
                </span>
              </button>
            {{else if this.app_state.currentUser.subscription.eval_extendable}}
              <br>
              <button {{action "update_evaluation" "extend"}} class='purchase_link' style='font-size: 20px;'>
                <span style='color: #fff;'>
                  <span class="glyphicon glyphicon-info-sign"></span>
                  {{t "Request an Extension" key="request_extension"}}
                </span>
              </button>
            {{/if}}
          </div>
        {{else if this.app_state.currentUser.eval_ending_soon}}
          <div class='alert alert-danger'>
            {{t "Your evaluation is set to finish soon. This evaluation period will end" key="eval_ending_soon"}}
            {{date this.app_state.currentUser.subscription.eval_expires "day"}}.
            {{#if this.app_state.currentUser.can_reset_eval}}
              <br>
              <button {{action "update_evaluation"}} class='purchase_link' style='font-size: 20px;'>
                <span style='color: #fff;'>
                  <span class="glyphicon glyphicon-info-sign"></span>
                  {{t "Review Evaluation Status" key="review_evaluation"}}
                </span>
              </button>
            {{/if}}
          </div>
        {{else if this.session.modeling_session}}
        {{else if this.app_state.limited_free_space}}
          <div class='alert alert-danger'>
            {{t "Your device is almost out of free space! You only have %{mb}Mb of storage available. You may need to delete some data from other apps for %app_name% to work properly offline." mb=this.app_state.limited_free_space.mb key="need_memory_for_offline"}}
          </div>
        {{else if this.model.earned_badge}}
          <div>
            {{badge-earned badge=this.model.earned_badge big=true}}
          </div>
        {{else if this.model.first_incomplete_lesson}}
          {{#if this.app_state.feature_flags.lessons}}
          <div style='margin-left: 10px; margin-bottom: 10px;'>
            <button class='btn btn-lg btn-default' {{action "next_lesson"}}>
            <span class='glyphicon glyphicon-education'></span>
            {{t "Next Lesson: " key="next_lesson"}}
            {{this.model.first_incomplete_lesson.title}}
            {{#if this.model.first_incomplete_lesson.due_at}}
              <div style='font-size: 14px;'>due {{date this.model.first_incomplete_lesson.due_at}}</div>
            {{/if}}
            </button>
          </div>
          {{/if}}
        {{else if this.rating_allowed}}
          <div>
            <button {{action "launch_rating"}} class='purchase_link' style='font-size: 20px;'>
              <span style='color: #fff;'>
                <span class="glyphicon glyphicon-info-sign"></span>
                {{t "Rate the %app_name% App" key="rate_the_app"}}
              </span>
            </button>
          </div>
        {{else if this.app_state.currentUser.subscription.eval_expires}}
          <div class='alert alert-info'>
            {{t "This is an evaluation account, and will run through " key="eval_ending_date"}}
            {{date this.app_state.currentUser.subscription.eval_expires "day"}}.
          </div>
        {{/if}}
        <div class="ll-bento-actions {{if this.show_main_extras "ll-bento-actions--extras-expanded"}}">
          <div class="ll-bento-section-group">
            <span class="ll-bento-section-label">{{t "Primary Actions" key="primary_actions"}}</span>
            <div class="ll-bento-actions-grid">
            {{#if this.app_state.currentUser.external_device}}
              <a href="#" class="ll-bento-action-card ll-bento-action-card--with-btn" {{action "manual_session"}}>
                <div class="ll-bento-action-card__icon ll-bento-action-card__icon--extras">
                  <img src={{path "images/pastel-logging.png"}} class="ll-bento-action-card__img" alt="" aria-hidden="true">
                </div>
                <div class="ll-bento-action-card__body">
                  <h4 class="ll-bento-action-card__title">{{t "Manual Log Session" key="manual_log_session"}}</h4>
                  <p class="ll-bento-action-card__sub">{{t "Log a session manually for offline use" key="manual_log_subtitle"}}</p>
                </div>
                <span class="ll-bento-action-card__action-btn ll-bento-action-card__action-btn--extras">{{t "Start" key="start"}}</span>
              </a>
            {{else}}
              <a href="#" class="ll-bento-action-card ll-bento-action-card--speak ll-bento-action-card--with-btn" {{action "homeInSpeakMode"}}>
                <div class="ll-bento-action-card__icon ll-bento-action-card__icon--speak">
                  <img src={{path "images/pastel-sound.png"}} class="ll-bento-action-card__img" alt="" aria-hidden="true">
                </div>
                <div class="ll-bento-action-card__body">
                  <h4 class="ll-bento-action-card__title">{{t "Speak Mode" key="speak_mode"}}</h4>
                  <p class="ll-bento-action-card__sub">{{t "Use your boards to speak and communicate" key="speak_mode_subtitle"}}</p>
                </div>
                <span class="ll-bento-action-card__action-btn ll-bento-action-card__action-btn--speak">{{t "Speak" key="speak"}}</span>
              </a>
            {{/if}}
            {{#if this.app_state.currentUser.modeling_only}}
              {{#if this.app_state.currentUser.permissions.delete}}
                <LinkTo @route="user" @model={{this.app_state.currentUser.user_name}} class="ll-bento-action-card ll-bento-action-card--with-btn">
                  <div class="ll-bento-action-card__icon ll-bento-action-card__icon--account">
                    <img src={{this.app_state.currentUser.avatar_url_with_fallback}} onerror='button_broken_image(this);' class="ll-bento-action-card__img" alt="">
                  </div>
                  <div class="ll-bento-action-card__body">
                    <h4 class="ll-bento-action-card__title">{{t "My Account" key="my_account"}}</h4>
                    <p class="ll-bento-action-card__sub">{{t "Profile and settings" key="profile_and_settings"}}</p>
                  </div>
                  <span class="ll-bento-action-card__action-btn ll-bento-action-card__action-btn--account">{{t "Open" key="open"}}</span>
                </LinkTo>
              {{/if}}
            {{else}}
              <a href="#" class="ll-bento-action-card ll-bento-action-card--with-btn" {{action "stats"}}>
                <div class="ll-bento-action-card__icon ll-bento-action-card__icon--reports">
                  <img src={{path "images/pastel-reports2.png"}} class="ll-bento-action-card__img" alt="">
                </div>
                <div class="ll-bento-action-card__body">
                  <h4 class="ll-bento-action-card__title">{{t "Reports" key="reports"}}</h4>
                  <p class="ll-bento-action-card__sub">{{t "Usage insights" key="usage_insights"}}</p>
                </div>
                <span class="ll-bento-action-card__action-btn ll-bento-action-card__action-btn--reports">{{t "Create" key="create"}}</span>
              </a>
            {{/if}}

            {{#if this.app_state.currentUser.preferences.progress.intro_watched}}
              {{#if this.modeling_ideas_available}}
                <a href="#" class="ll-bento-action-card ll-bento-action-card--with-btn" {{action "modeling_ideas"}}>
                  <div class="ll-bento-action-card__icon ll-bento-action-card__icon--ideas">
                    <img src={{path "images/pastel-lightbulb.png"}} class="ll-bento-action-card__img modeling_ideas_icon" alt="">
                  </div>
                  <div class="ll-bento-action-card__body">
                    <h4 class="ll-bento-action-card__title">{{t "Modeling Ideas" key="modeling_ideas"}}</h4>
                    <p class="ll-bento-action-card__sub">{{t "Explore concepts" key="explore_concepts"}}</p>
                  </div>
                  <span class="ll-bento-action-card__action-btn ll-bento-action-card__action-btn--ideas">{{t "Start" key="start"}}</span>
                </a>
              {{else}}
                {{#unless this.app_state.currentUser.modeling_only}}
                  <a href="#" class="ll-bento-action-card ll-bento-action-card--with-btn" {{action "newBoard"}}>
                    <div class="ll-bento-action-card__icon ll-bento-action-card__icon--modeling">
                      <img src={{path "images/new.svg"}} class="ll-bento-action-card__img" alt="">
                    </div>
                    <div class="ll-bento-action-card__body">
                      <h4 class="ll-bento-action-card__title">{{t "New Board" key="new_board"}}</h4>
                      <p class="ll-bento-action-card__sub">{{t "Create a new vocabulary board" key="new_board_subtitle"}}</p>
                    </div>
                    <span class="ll-bento-action-card__action-btn ll-bento-action-card__action-btn--modeling">{{t "Create" key="create"}}</span>
                  </a>
                {{/unless}}
              {{/if}}
            {{else}}
              {{#unless this.app_state.currentUser.modeling_only}}
                <a href="#" class="ll-bento-action-card ll-bento-action-card--with-btn" {{action "intro"}}>
                  <div class="ll-bento-action-card__icon ll-bento-action-card__icon--ideas">
                    <img src={{path "images/learn.png"}} class="ll-bento-action-card__img" alt="">
                  </div>
                  <div class="ll-bento-action-card__body">
                    <h4 class="ll-bento-action-card__title">{{t "Learn and Setup" key="learn_and_setup_card"}}</h4>
                    <p class="ll-bento-action-card__sub">{{t "Get started with %app_name%" key="get_started_subtitle"}}</p>
                  </div>
                  <span class="ll-bento-action-card__action-btn ll-bento-action-card__action-btn--ideas">{{t "Learn" key="learn_action"}}</span>
                </a>
              {{/unless}}
            {{/if}}

            {{#if this.show_main_extras}}
            <div class="ll-bento-extras-expanded">
              <span class="ll-bento-section-label">{{t "More Tools & Resources" key="more_tools"}}</span>
              <a href="#" class="ll-bento-action-card ll-bento-action-card--with-btn ll-bento-action-card--extras-toggle ll-bento-action-card--extras-expanded" {{action "toggle_extras"}}>
                <div class="ll-bento-action-card__icon ll-bento-action-card__icon--extras">
                  <img src={{path "images/pastel-extras.png"}} class="ll-bento-action-card__img" alt="">
                </div>
                <div class="ll-bento-action-card__body">
                  <h4 class="ll-bento-action-card__title">{{t "Extras" key="extras"}} <span class="caret"></span></h4>
                  <p class="ll-bento-action-card__sub">{{t "Games & resources" key="games_and_resources"}}</p>
                </div>
                <span class="ll-bento-action-card__action-btn ll-bento-action-card__action-btn--extras">{{t "Collapse" key="collapse"}}</span>
              </a>
              <div class="ll-bento-extras-expanded-grid">
              {{#unless this.app_state.currentUser.modeling_only}}
                {{#if this.app_state.currentUser.preferences.progress.intro_watched}}
                  <a href="#" class="ll-bento-action-card ll-bento-action-card--with-btn" {{action "intro"}}>
                    <div class="ll-bento-action-card__icon ll-bento-action-card__icon--green-yellow">
                      <img src={{path "images/learn.png"}} class="ll-bento-action-card__img" alt="">
                    </div>
                    <div class="ll-bento-action-card__body">
                      <h4 class="ll-bento-action-card__title">{{t "Learn and Setup" key="learn_and_setup_card"}}</h4>
                      <p class="ll-bento-action-card__sub">{{t "Get started with %app_name%" key="get_started_subtitle"}}</p>
                    </div>
                    <span class="ll-bento-action-card__action-btn ll-bento-action-card__action-btn--green-yellow">{{t "Learn" key="learn_action"}}</span>
                  </a>
                  <a href="#" class="ll-bento-action-card ll-bento-action-card--with-btn" {{action "newBoard"}}>
                    <div class="ll-bento-action-card__icon ll-bento-action-card__icon--speak">
                      <img src={{path "images/new.svg"}} class="ll-bento-action-card__img" alt="">
                    </div>
                    <div class="ll-bento-action-card__body">
                      <h4 class="ll-bento-action-card__title">{{t "New Board" key="new_board"}}</h4>
                      <p class="ll-bento-action-card__sub">{{t "Create a new vocabulary board" key="new_board_subtitle"}}</p>
                    </div>
                    <span class="ll-bento-action-card__action-btn ll-bento-action-card__action-btn--speak">{{t "Create" key="create"}}</span>
                  </a>
                {{else}}
                  <a href="#" class="ll-bento-action-card ll-bento-action-card--with-btn" {{action "newBoard"}}>
                    <div class="ll-bento-action-card__icon ll-bento-action-card__icon--speak">
                      <img src={{path "images/new.svg"}} class="ll-bento-action-card__img" alt="">
                    </div>
                    <div class="ll-bento-action-card__body">
                      <h4 class="ll-bento-action-card__title">{{t "New Board" key="new_board"}}</h4>
                      <p class="ll-bento-action-card__sub">{{t "Create a new vocabulary board" key="new_board_subtitle"}}</p>
                    </div>
                    <span class="ll-bento-action-card__action-btn ll-bento-action-card__action-btn--speak">{{t "Create" key="create"}}</span>
                  </a>
                  <a href="#" class="ll-bento-action-card ll-bento-action-card--with-btn" {{action "searchBoards"}}>
                    <div class="ll-bento-action-card__icon ll-bento-action-card__icon--reports">
                      <span class="glyphicon glyphicon-search ll-bento-action-card__glyph"></span>
                    </div>
                    <div class="ll-bento-action-card__body">
                      <h4 class="ll-bento-action-card__title">{{t "Search Boards" key="search_boards"}}</h4>
                      <p class="ll-bento-action-card__sub">{{t "Find vocabulary boards" key="find_boards_subtitle"}}</p>
                    </div>
                    <span class="ll-bento-action-card__action-btn ll-bento-action-card__action-btn--reports">{{t "Search" key="search"}}</span>
                  </a>
                {{/if}}
              {{/unless}}
              {{#if this.sync_able}}
                <a href="#" class="ll-bento-action-card ll-bento-action-card--with-btn" {{action "sync_details"}}>
                  <div class="ll-bento-action-card__icon ll-bento-action-card__icon--ideas">
                    <span class="glyphicon glyphicon-refresh ll-bento-action-card__glyph"></span>
                  </div>
                  <div class="ll-bento-action-card__body">
                    <h4 class="ll-bento-action-card__title">{{t "Sync" key="sync"}}</h4>
                    <p class="ll-bento-action-card__sub">{{t "Sync your data" key="sync_subtitle"}}</p>
                  </div>
                  <span class="ll-bento-action-card__action-btn ll-bento-action-card__action-btn--ideas">{{t "Sync" key="sync"}}</span>
                </a>
              {{/if}}
              {{#if this.app_state.currentUser.permissions.delete}}
                <a href="#" class="ll-bento-action-card ll-bento-action-card--with-btn" {{action "goals"}}>
                  <div class="ll-bento-action-card__icon ll-bento-action-card__icon--reports">
                    <span class="glyphicon glyphicon-flag ll-bento-action-card__glyph"></span>
                  </div>
                  <div class="ll-bento-action-card__body">
                    <h4 class="ll-bento-action-card__title">{{t "Goals" key="goals"}}</h4>
                    <p class="ll-bento-action-card__sub">{{t "Track progress" key="goals_subtitle"}}</p>
                  </div>
                  <span class="ll-bento-action-card__action-btn ll-bento-action-card__action-btn--reports">{{t "View" key="view"}}</span>
                </a>
              {{/if}}
              {{#unless this.app_state.currentUser.modeling_only}}
                <a href="#" class="ll-bento-action-card ll-bento-action-card--with-btn" {{action "record_note"}}>
                  <div class="ll-bento-action-card__icon ll-bento-action-card__icon--ideas">
                    <span class="glyphicon glyphicon-file ll-bento-action-card__glyph"></span>
                  </div>
                  <div class="ll-bento-action-card__body">
                    <h4 class="ll-bento-action-card__title">{{t "New Note" key="new_note"}}</h4>
                    <p class="ll-bento-action-card__sub">{{t "Add a progress note" key="new_note_subtitle"}}</p>
                  </div>
                  <span class="ll-bento-action-card__action-btn ll-bento-action-card__action-btn--ideas">{{t "Add" key="add"}}</span>
                </a>
                <a href="#" class="ll-bento-action-card ll-bento-action-card--with-btn" {{action "run_eval" "pick"}}>
                  <div class="ll-bento-action-card__icon ll-bento-action-card__icon--extras">
                    <span class="glyphicon glyphicon-list-alt ll-bento-action-card__glyph"></span>
                  </div>
                  <div class="ll-bento-action-card__body">
                    <h4 class="ll-bento-action-card__title">{{t "Run Evaluation" key="run_eval"}}</h4>
                    <p class="ll-bento-action-card__sub">{{t "Assessment tools" key="run_eval_subtitle"}}</p>
                  </div>
                  <span class="ll-bento-action-card__action-btn ll-bento-action-card__action-btn--extras">{{t "Run" key="run_action"}}</span>
                </a>
              {{/unless}}
              {{#if this.app_state.currentUser.permissions.delete}}
                <LinkTo @route="user" @model={{this.app_state.currentUser.user_name}} class="ll-bento-action-card ll-bento-action-card--with-btn">
                  <div class="ll-bento-action-card__icon ll-bento-action-card__icon--green-yellow">
                    <img src={{this.app_state.currentUser.avatar_url_with_fallback}} onerror='button_broken_image(this);' class="ll-bento-action-card__img" alt="">
                  </div>
                  <div class="ll-bento-action-card__body">
                    <h4 class="ll-bento-action-card__title">{{t "My Account" key="my_account"}}</h4>
                    <p class="ll-bento-action-card__sub">{{t "Profile and settings" key="profile_and_settings"}}</p>
                  </div>
                  <span class="ll-bento-action-card__action-btn ll-bento-action-card__action-btn--green-yellow">{{t "Open" key="open"}}</span>
                </LinkTo>
              {{/if}}
              {{#if this.app_state.feature_flags.lessons}}
                {{#if this.app_state.currentUser.currently_premium_or_fully_purchased}}
                  <a href="#" class="ll-bento-action-card ll-bento-action-card--with-btn" {{action "lessons" "pick"}}>
                    <div class="ll-bento-action-card__icon ll-bento-action-card__icon--speak">
                      <span class="glyphicon glyphicon-education ll-bento-action-card__glyph"></span>
                    </div>
                    <div class="ll-bento-action-card__body">
                      <h4 class="ll-bento-action-card__title">{{t "Trainings" key="trainings"}}</h4>
                      <p class="ll-bento-action-card__sub">{{t "Continuing education" key="trainings_subtitle"}}</p>
                    </div>
                    <span class="ll-bento-action-card__action-btn ll-bento-action-card__action-btn--speak">{{t "Start" key="start"}}</span>
                  </a>
                {{/if}}
              {{/if}}
              {{#if this.app_state.feature_flags.emergency_boards}}
                <LinkTo @route="offline_boards" class="ll-bento-action-card ll-bento-action-card--emergency ll-bento-action-card--with-btn">
                  <div class="ll-bento-action-card__icon ll-bento-action-card__icon--reports">
                    <span class="glyphicon glyphicon-exclamation-sign ll-bento-action-card__glyph"></span>
                  </div>
                  <div class="ll-bento-action-card__body">
                    <h4 class="ll-bento-action-card__title">{{t "Basic Access" key="critical_access"}}</h4>
                    <p class="ll-bento-action-card__sub">{{t "Offline boards" key="offline_boards_subtitle"}}</p>
                  </div>
                  <span class="ll-bento-action-card__action-btn ll-bento-action-card__action-btn--reports">{{t "Access" key="access"}}</span>
                </LinkTo>
              {{/if}}
              </div>
            </div>
            {{else}}
            <a href="#" class="ll-bento-action-card ll-bento-action-card--with-btn" {{action "toggle_extras"}}>
              <div class="ll-bento-action-card__icon ll-bento-action-card__icon--extras">
                <img src={{path "images/pastel-extras.png"}} class="ll-bento-action-card__img" alt="">
              </div>
              <div class="ll-bento-action-card__body">
                <h4 class="ll-bento-action-card__title">{{t "Extras" key="extras"}} <span class="caret-right"></span></h4>
                <p class="ll-bento-action-card__sub">{{t "Games & resources" key="games_and_resources"}}</p>
              </div>
              <span class="ll-bento-action-card__action-btn ll-bento-action-card__action-btn--extras">{{t "Expand" key="expand"}}</span>
            </a>
            {{/if}}
          </div>
          </div>
        </div>
        {{#unless this.show_main_extras}}
          {{#if (persistence-online)}}
            {{#if this.app_state.currentUser.current_badge}}
              {{badge-progress badge=this.app_state.currentUser.current_badge big=true}}
            {{/if}}
          {{/if}}
        {{/unless}}
      </div>
    {{else if this.index_nav.boards}}
      {{#if this.showOffline}}
        <h4>{{t "Recent boards" key="available_boards"}}</h4>
        {{#if this.recentOfflineBoards}}
          {{#each this.recentOfflineBoards as |board|}}
            {{#if board.key}}
              <div class="col-md-2 col-xs-4 big_button_holder">
                <button class='btn big_button btn-default'>

                  {{board.key}}
                </button>
              </div>
            {{/if}}
          {{/each}}
        {{else}}
          <div class="col-sm-4">
            {{t "None found" key="none_found"}}
          </div>
        {{/if}}
      {{else}}
        {{#unless this.home_board_or_supporter}}
          {{#unless this.app_state.currentUser.modeling_only}}
            {{#unless this.app_state.currentUser.preferences.home_board}}
              <div class="ll-bento-boards-home-board-wrap">
                <LinkTo @route="home-boards" class="ll-bento-home-board-card">
                  <img src={{path "images/pastel-house.png"}} alt="" class="ll-bento-home-board-card__image" aria-hidden="true">
                  <div class="ll-bento-home-board-card__content">
                    <h3 class="ll-bento-home-board-card__title">{{t "You haven't set a home board yet" key="choose_home_board"}}</h3>
                    <p class="ll-bento-home-board-card__subtitle">{{t "Let us help you choose one." key="let_us_help_choose_home"}}</p>
                  </div>
                  <span class="ll-bento-home-board-card__btn">{{t "Help Me Choose a Home Board" key="help_me_choose_a_home_board"}}</span>
                </LinkTo>
              </div>
            {{/unless}}
          {{/unless}}
        {{/unless}}
        {{#if this.app_state.currentUser.preferences.home_board}}
          <div class='col-xs-12' style='margin-bottom: 10px;'>
            <span class="glyphicon glyphicon-home" style='float: left; font-size: 50px; padding-right: 15px;'></span>
            {{t "current home board:" key="current_home_board"}}<br>
            {{#link-to "board" this.app_state.currentUser.preferences.home_board.key}}
              <strong style='font-size: 20px;'>{{this.app_state.currentUser.preferences.home_board.key}}</strong>
            {{/link-to}}
            <div style='clear: left;'></div>
          </div>
        {{/if}}
        <div class="ll-bento-browse-boards">
          <div class="ll-bento-browse-boards__header">
            <span class="glyphicon glyphicon-th-large ll-bento-browse-boards__icon" aria-hidden="true"></span>
            <h4 class="ll-bento-browse-boards__title">{{t "Browse Boards" key="browse_boards"}}</h4>
          </div>
          <div class="ll-bento-section-group ll-bento-browse-boards__filter-group">
            <span class="ll-bento-section-label">{{t "Filter" key="filter"}}</span>
            <ul class="nav nav-pills ll-bento-browse-boards__pills">
              <li role="presentation" class={{if this.suggested_selected "active"}}><a href="#" {{action "set_selected" "suggested"}}>{{t "Suggested" key="suggested"}}</a></li>
              <li role="presentation" class={{if this.personal_selected "active"}}><a href="#" {{action "set_selected" "personal"}}>{{t "Mine" key="mine"}}</a></li>
              <li role="presentation" class={{if this.popular_selected "active"}}><a href="#" {{action "set_selected" "popular"}}>{{t "Community" key="community"}}</a></li>
              <li role="presentation" class={{if this.recent_selected "active"}}><a href="#" {{action "set_selected" "recent"}}>{{t "Recent" key="recent"}}</a></li>
            </ul>
          </div>
        </div>
        <div style='clear: left;'></div>
        {{#if this.current_boards}}
          {{#if this.current_boards.loading}}
            <div class='col-sm-4'>{{t "Loading..." key="loading"}}</div>
          {{else if this.current_boards.error}}
            <div class='col-sm-4'>{{t "Failed to load" key="failed_to_load"}}</div>
          {{else}}
            {{#each this.current_boards as |board|}}
              <div class='col-md-3 col-xs-4 big_button_holder'>
                {{board-icon board=board localized=true allow_style=this.suggested_selected}}
              </div>
            {{/each}}
            {{#if this.personal_selected}}
              <div class='col-xs-12'>
                <LinkTo @route="user" @model={{this.app_state.currentUser.user_name}} class="btn btn-default btn-lg thick_border">
                  {{t "See All My Boards" key="see_all_my_boards"}}
                </LinkTo>
              </div>
            {{/if}}
          {{/if}}
        {{else}}
          <div class="col-sm-4">
            {{t "None found" key="none_found"}}
          </div>
        {{/if}}
      {{/if}}
    {{else if this.index_nav.updates}}
      <div class='col-md-8 col-md-offset-2 col-xs-12'>
        {{#if this.device.needs_install_reminder}}
          <div style="margin-bottom: 20px; text-align: center;">
            <h2>
              <span class="glyphicon glyphicon-phone"></span>
              {{t "Try the App" key="use_cough_drop_app"}}
            </h2>
            <div style='text-align: left;'>
              {{t "%app_name% works in any web browser, but you can also install the free app in the following stores:" key="app_stores"}}
            </div>
            <div>
              {{#if this.app_state.domain_settings.ios_store_url}}
                <a href={{this.app_state.domain_settings.ios_store_url}} target="_blank" rel="noopener">
                  <img src={{path "images/ios_app_store.svg"}} alt="ios app store" style="height: 40px; margin-top: 5px;">
                </a>
              {{/if}}
              {{#if this.app_state.domain_settings.play_store_url}}
                <a href={{this.app_state.domain_settings.play_store_url}} target="_blank" rel="noopener">
                  <img src={{path "images/google_play.png"}} alt="google play" style="height: 40px; margin-top: 5px;">
                </a><br>
              {{/if}}
              {{#if this.app_state.domain_settings.kindle_store_url}}
                <a href={{this.app_state.domain_settings.kindle_store_url}} target="_blank" rel="noopener">
                  <img src={{path "images/amazon.png"}} alt="amazon" style="height: 40px; margin-top: 5px;">
                </a>
              {{/if}}
              {{#link-to "download"}}
                <img src={{path "images/windows.svg"}} alt="windows" style="height: 40px; margin-top: 5px;">
              {{/link-to}}
            </div>
          </div>
        {{/if}}
        <h4>{{t "Notifications" key="notifications"}}</h4>
        <div style="margin-left: 20px;">
          {{#if this.app_state.currentUser.pending_org}}
            <p>
              {{#link-to "user" this.app_state.currentUser.user_name}}<span class="glyphicon glyphicon-paperclip"></span> {{t "%{org} wants to support this user as part of their organization." key="remind_pending_org" org=this.app_state.currentUser.pending_org.name}}{{/link-to}}
            </p>
          {{/if}}
          {{#if this.app_state.currentUser.pending_supervision_org}}
            <p>
              {{#link-to "user" this.app_state.currentUser.user_name}}<span class="glyphicon glyphicon-paperclip"></span> {{t "%{org} wants to add you as a supervisor to their organization." key="remind_pending_supervision_org" org=this.app_state.currentUser.pending_supervision_org.name}}{{/link-to}}
            </p>
          {{/if}}
          {{#if this.app_state.currentUser.pending_board_shares}}
            {{#each this.app_state.currentUser.pending_board_shares as |share|}}
              <p>
                <span class="glyphicon glyphicon-share"></span>
                {{#link-to "board" share.board_key}}{{share.board_key}}{{/link-to}}
                {{t "is being shared with you by %{user_name}<br>and needs approval" key="board_share_needs_approval" user_name=share.user_name}}
              </p>
            {{/each}}
          {{/if}}
          {{#if this.app_state.currentUser.unread_messages}}
            <p>
            {{#link-to "user.logs" this.app_state.currentUser.user_name (query-params type="note")}}
              <span class="glyphicon glyphicon-envelope"></span>
              {{t "You have " key="you_have"}}
              {{t "unread message" count=this.app_state.currentUser.unread_messages key="unread_message_count"}}
            {{/link-to}}
            </p>
          {{/if}}
          {{#if this.app_state.currentUser.parsed_notifications}}
            {{#each this.app_state.currentUser.parsed_notifications as |notif|}}
              <UserNotification @notification={{notif}} />
            {{/each}}
          {{/if}}
          {{#unless this.app_state.currentUser.unread_messages}}
            {{#unless this.app_state.currentUser.parsed_notifications}}
              {{#unless this.app_state.currentUser.pending_board_shares}}
                {{#if this.show_notifications_explanation}}
                  <em style="font-size: 11px;">{{t "Notifications are alerts sent from other %app_name% users. Users can send messages to everyone on a communicator's team and they'll appear here for quick review." key="notification_explanation"}}</em>
                {{else}}
                  {{t "You have no new messages" key="no_new_messages"}}
                  <a href="#" {{action "show_explanation" "notifications"}}>
                    <span class='glyphicon glyphicon-info-sign'></span>
                  </a>
                {{/if}}
              {{/unless}}
            {{/unless}}
          {{/unless}}
        </div>

        {{#if this.app_state.currentUser.supporter_role}}
          <h4>{{t "Recent Sessions for supervisees" key="recent_sessions_for_supervisees"}}</h4>
        {{else}}
          <h4>{{t "Recent Sessions" key="recent_sessions"}}</h4>
        {{/if}}
        <div style="margin-left: 20px;">
          {{#if this.logs.loading}}
            <p>{{t "Loading..." key="loading"}}</p>
          {{else if this.logs.error}}
            <p>{{t "Failed to load" key="failed_to_load"}}</p>
          {{else if this.logs}}
            {{#each this.logs as |log|}}
              <p>
                <span title={{date log.started_at}}>
                  {{date_ago log.started_at}}
                </span>
                {{#link-to "user.log" log.user.user_name log.id}}
                  {{#if log.assessment}}
                    {{t "assessment" key="assessment"}}
                  {{else}}
                    {{t "button" count=log.button_count key="button_count"}}
                  {{/if}}
                {{/link-to}}
                {{#if this.app_state.currentUser.supporter_role}}
                  <span> -
                    {{#link-to "user" log.user.user_name}}
                      {{log.user.user_name}}
                    {{/link-to}}
                  </span>
                {{/if}}
                <br>
                <span style="color: #888; font-size: 10px; white-space: nowrap; overflow: hidden; display: block;">{{log.summary}}</span>
              </p>
            {{/each}}
          {{else}}
            {{#if this.show_sessions_explanation}}
              <p><em style="font-size: 11px;">{{t "When logging is enabled in your account preferences, your most recent sessions will appear here for quick review. If you are in the supervisor view you will instead see sessions for users you supervise." key="sessions_explanation"}}</em></p>
            {{else}}
              <p>
                {{t "No sessions currently available" key="no_sessions_found"}}
                <a href="#" {{action "show_explanation" "sessions"}}>
                  <span class='glyphicon glyphicon-info-sign'></span>
                </a>
              </p>
            {{/if}}
          {{/if}}
        </div>
      </div>
    {{/if}}
  </div>
  </div>
  <nav class="ll-bento-dock" aria-label={{t "Primary" key="primary"}}>
    {{#unless this.app_state.currentUser.supporter_role}}
      {{#unless this.app_state.currentUser.modeling_only}}
        <button class="ll-bento-dock__item ll-bento-dock__supervisor" type="button" {{action "manage_supervisors"}}>
          <span class="ll-bento-dock__supervisor-label">{{t "Supervisors" key="supervisors"}}</span>
          <span class="ll-bento-dock__label">
            {{#if this.app_state.currentUser.supervisor_names}}
              {{this.app_state.currentUser.supervisor_names}}
            {{else}}
              {{t "No Supervisors" key="no_supervisors"}}
            {{/if}}
          </span>
        </button>
      {{else}}
        <button class="ll-bento-dock__item {{if this.index_nav.main "ll-bento-dock__item--active"}}" type="button" {{action "set_index_nav" "main"}}>
          <span class="ll-bento-dock__label">{{t "Actions" key="actions"}}</span>
        </button>
      {{/unless}}
    {{else}}
      <button class="ll-bento-dock__item {{if this.index_nav.main "ll-bento-dock__item--active"}}" type="button" {{action "set_index_nav" "main"}}>
        <span class="ll-bento-dock__label">{{t "Actions" key="actions"}}</span>
      </button>
    {{/unless}}
    {{#unless this.app_state.currentUser.modeling_only}}
      {{#if this.app_state.currentUser}}
        <div class="ll-bento-dock__item ll-bento-dock__logging">
          <button type="button" class="ll-bento-dock__logging-btn" {{action "session_select"}}>
            <span class="ll-bento-dock__supervisor-label">{{t "Logging" key="logging"}}</span>
            <span class="ll-bento-dock__label">
              {{#unless this.app_state.currentUser.supporter_role}}
                {{#if this.app_state.currentUser.preferences.logging}}
                  {{#if this.app_state.currentUser.preferences.geo_logging}}
                    {{t "fully enabled" key="fully_enabled"}}
                  {{else}}
                    {{t "enabled (no geo)" key="logging_no_geo_is_enabled"}}
                  {{/if}}
                {{else}}
                  {{t "disabled" key="logging_is_disabled"}}
                {{/if}}
              {{else}}
                {{#if this.allow_logs}}
                  {{#if this.logs.[0]}}
                    {{t "Last Log" key="latest_session"}} {{date_ago this.logs.[0].started_at}}
                  {{else if this.logs.loading}}
                    {{t "Loading..." key="loading"}}
                  {{else}}
                    {{t "No session data" key="no_session_data"}}
                  {{/if}}
                {{else}}
                  {{t "No session data" key="no_session_data"}}
                {{/if}}
              {{/unless}}
            </span>
          </button>
          {{#if this.allow_logs}}
            <span class="ll-bento-dock__logging-sep">·</span>
            <span class="ll-bento-dock__logging-last">
              <span class="ll-bento-dock__logging-last-label">{{t "Last Log" key="latest_session"}}</span>
              {{#if this.logs.loading}}
                {{t "Loading..." key="loading"}}
              {{else if this.logs.error}}
                {{t "Failed to load" key="failed_to_load"}}
              {{else if this.logs.[0]}}
                {{#link-to "user.log" this.logs.[0].user.user_name this.logs.[0].id class="ll-bento-dock__logging-link"}}
                  {{date_ago this.logs.[0].started_at}}
                  {{#if this.logs.[0].assessment}}
                    {{t "assessment" key="assessment"}}
                  {{else}}
                    {{t "button" count=this.logs.[0].button_count key="button_count"}}
                  {{/if}}
                {{/link-to}}
              {{else}}
                {{t "No recent sessions" key="no_recent_sessions"}}
              {{/if}}
            </span>
          {{/if}}
        </div>
      {{else}}
        <button class="ll-bento-dock__item {{if this.index_nav.boards "ll-bento-dock__item--active"}}" type="button" {{action "set_index_nav" "boards"}}>
          <span class="ll-bento-dock__label">{{t "Boards" key="boards"}}</span>
        </button>
      {{/if}}
    {{else}}
      <button class="ll-bento-dock__item {{if this.index_nav.boards "ll-bento-dock__item--active"}}" type="button" {{action "set_index_nav" "boards"}}>
        <span class="ll-bento-dock__label">{{t "Boards" key="boards"}}</span>
      </button>
    {{/unless}}
    {{#if this.app_state.currentUser.permissions.delete}}
      <LinkTo @route="user.subscription" @model={{this.app_state.currentUser.user_name}} class="ll-bento-dock__cta">
        {{t "Upgrade" key="upgrade"}}
      </LinkTo>
    {{else}}
      <span class="ll-bento-dock__cta" style="opacity: 0.7;">{{t "Upgrade" key="upgrade"}}</span>
    {{/if}}
  </nav>
</div>
</div>
</div>
