Beta tester feedback was submitted through the app.<br/><br/>
Name: <%= @message.settings['name'] %><br/>
Email: <%= @message.settings['email'] %><br/>
Short summary: <%= @message.settings['subject'] %><br/>
<% if @message.settings['feedback_type'].present? %>Feedback type: <%= @message.settings['feedback_type'] %><br/><% end %>
<% if @message.settings['severity'].present? %>Severity: <%= @message.settings['severity'] %><br/><% end %>
<% if @message.settings['device_context'].present? %>Device / context: <%= @message.settings['device_context'] %><br/><% end %>
<br/>
<% if @message.settings['steps_to_reproduce'].present? %><b>Steps to reproduce</b><br/><%= h(@message.settings['steps_to_reproduce']).gsub(/\r?\n/, '<br/>').html_safe %><br/><% end %>
<% if @message.settings['expected_result'].present? %><b>Expected result</b><br/><%= h(@message.settings['expected_result']).gsub(/\r?\n/, '<br/>').html_safe %><br/><% end %>
<% if @message.settings['actual_result'].present? %><b>Actual result</b><br/><%= h(@message.settings['actual_result']).gsub(/\r?\n/, '<br/>').html_safe %><br/><% end %>
<% if @message.settings['general_feedback'].present? %><b>General feedback</b><br/><%= h(@message.settings['general_feedback']).gsub(/\r?\n/, '<br/>').html_safe %><br/><% end %>
<br/>
<span style="font-style: italic;">
<% if @message.settings['locale'] %>locale: <%= @message.settings['locale'] %><br/><% end %>
<%= @message.settings['ip_address'] ? "ip address: #{@message.settings['ip_address']}" : 'no IP address found' %><br/>
<%= @message.settings['version'] ? "app version: #{@message.settings['version']}" : 'no app version found' %><br/>
<%= @message.settings['user_agent'] ? "browser: #{@message.settings['user_agent']}" : 'no user agent found' %><br/>
<% if @message.settings['user_id'] %>user id: <%= @message.settings['user_id'] %><br/><% end %>
</span>
<% if @message.settings['screenshot_filename'].present? %><br/>Screenshot attached: <%= @message.settings['screenshot_filename'] %><% end %>
<br/><br/>
Thanks!<br/>
<%= email_signature %>
