<div class='col-sm-12'>
  <h4>{{t "You're All Set!" key="youre_all_set"}}</h4>
</div>
<div class='col-sm-12'>
  <ul class="usage-checklist">
    <li class="usage-checklist__item">{{t "Your account is ready to go. You can revisit this setup anytime from \"Extras\" on your dashboard." key="done_setup"}}</li>
    <li class="usage-checklist__item">{{t "Continue the tutorial to learn more, or jump right in and start exploring." key="continue_to_training"}}</li>
  </ul>

  <div class="setup-done-actions">
    <button type="button" class="setup-done-actions__btn setup-done-actions__btn--primary" {{action "extra" target=this.setup}}>
      <svg width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><path d="M2 3h6a4 4 0 0 1 4 4v14a3 3 0 0 0-3-3H2z"/><path d="M22 3h-6a4 4 0 0 0-4 4v14a3 3 0 0 1 3-3h7z"/></svg>
      {{t "Continue the Tutorial" key="continue_tutorial"}}
    </button>
    <button type="button" class="setup-done-actions__btn" {{action "home" target=this.setup}}>
      <svg width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><rect x="3" y="3" width="7" height="7"/><rect x="14" y="3" width="7" height="7"/><rect x="14" y="14" width="7" height="7"/><rect x="3" y="14" width="7" height="7"/></svg>
      {{t "Return to the Dashboard" key="return_to_dashboard"}}
    </button>
  </div>
</div>
