<div class="md-card__head md-card__head--getting-started md-card__head--setup-intro">
  <div class="md-card__head-left">
    <div class="md-card__icon md-card__icon--getting-started" aria-hidden="true">
      <img src={{path "images/pastel-getting-started.svg"}} class="md-card__icon-img" alt="" aria-hidden="true">
    </div>
    <div class="md-card__titles">
      <div class="md-card__title">{{t "Welcome to %app_name%!" key="welcome_to_lingolinq"}}</div>
      {{#if this.setup.setup_user.user_name}}
        <div class="md-card__sub">{{t "Thanks for signing up for %app_name%," key="intro_1_before"}} <span class="setup-intro__username">{{this.setup.setup_user.user_name}}</span>{{t "! Use this walkthrough to help you get started." key="intro_1_after"}}</div>
      {{else}}
        <div class="md-card__sub">{{t "Thanks for signing up for %app_name%! Use this walkthrough to help you get started." key="intro_1_no_name"}}</div>
      {{/if}}
    </div>
  </div>
</div>
{{#if this.setup.for_self}}
  {{#unless this.setup.app_state.auto_start}}
    <div class="setup-intro__actions">
      <button type="button" class="md-btn md-btn--ghost md-card__getting-started-btn--secondary" {{action "choose_board" target=this.setup}}>{{t "Skip Setup - I'd like to Choose a Board" key="skip_to_board_choice"}}</button>
    </div>
  {{/unless}}
{{/if}}
