<div class='col-sm-10 col-sm-offset-1'>
  <h4>{{t "Adding Supervisors" key="adding_supervisors"}}</h4>
</div>
<div class='col-sm-5 col-sm-offset-1'>
  <img src={{path "walkthrough/supervisors.gif"}} style='width: 100%;' >
</div>
<div class='col-sm-5'>
  <p class='prompt'>{{t "%app_name% works best with a team around the communicator. Supporters get free accounts—add them as supervisors to share boards, reports, and goals." key="supervisors_explainer"}}</p>
  {{#if this.setup.setup_user.supporter_role}}
    <p class='prompt'>{{t "In order to see the boards and reports for communicators you work with, those users need to add you from their dashboard. You can encourage them to add everyone around the communicator as supervisors to help build a strong support team. %app_name% offers free modeling-only accounts to help everyone get involved!" key="get_added_as_supervisor"}}</p>
  {{else}}
    <p class='prompt'>{{t "Encourage family, teachers, and therapists to sign up for a free account, then add them as supervisors." key="add_lots_of_supervisors"}}</p>
    {{#if this.setup.setup_user}}
      <p style='margin-top: 20px;'><button class='btn btn-default btn-lg' {{action "manage_supervision" target=this.setup}}>
        {{t "Add or Manage Supervisors" key="add_of_manage_supervisors"}}
      </button></p>
    {{/if}}
  {{/if}}
</div>
